/* Common
--------------------------------------------------------------------------------------------*/

@import "./config";

// 色
.c-main{
  color: $c-main;
}
.c-main-bg{
  background-color: $c-main;
}

.c-white{
  color: #fff;
}

// テキスト
.bold{
  font-weight: bold;
}

// レイアウト
.center{
  text-align: center;
}

.flex{
  display: flex;
}

.flex-center{
  align-items: center;
  display: flex;
  justify-content: center;
}

.container{
  margin: auto;
  max-width: 1080px;
  width: 100%;
}

.relative{
  position: relative;
}

// レスポンシブ
@media (min-width: #{$pc}){
  .pc__none{
    display: none !important;
  }
}

@media (max-width: #{$sp}){
  .sp__none{
    display: none !important;
  }
}

// 余白

.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
