/* Main
--------------------------------------------------------------------------------------------*/

@import "./config.scss";

.main{
  margin-top: $header-height-pc;
}

// FV
.hero{
  position: relative;

  // スライドショー
  &__key{
    height: calc(100vh - #{$header-height-pc});
    position: relative;
    width: 100%;

    img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
      width: 100%;
    }

    // filter代わり
    &::before{
      background-color: rgba(0, 0, 0, .5);
      bottom: 0;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }
  }

  // 見出し
  &__heading{
    bottom: calc(50% - 10%);
    color: #fff;
    left: 40px;
    position: absolute;
    z-index: 1;
  }
}

// 提携企業一覧
.case{
  padding: 60px 0 100px;
  &__list{
    animation: case_slide 30s linear infinite;
    background: left top / cover url("./images/top/case-list.png") repeat-x;
    height: 50px;
  }
}

@keyframes case_slide{
  100%{
    background-position: -1000px 0;
  }
}

// 手のひらから宇宙まで
.lead{
  align-items: center;
  background: center top / cover url("./images/top/lead-background.png") no-repeat;
  display: flex;
  justify-content: center;
  padding: 200px 0 85px;

  &__heading{
    font-size: 44px;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
  }

  &__text{
    font-size: 20px;
    margin-top: 30px;
  }

  &__achievement{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    .block{
      align-items: baseline;
      display: flex;
      line-height: 1;

      &__left{
        font-size: 22px;
      }
      &__right{
        flex-grow: 1;
        .big{
          font-size: 52px;
        }
        .small{
          font-size: 22px;
        }
      }
    }
  }

  &__button{
    margin-top: 60px;
  }
}
