/* Main
--------------------------------------------------------------------------------------------*/
.main{
  margin-top: 100px;
}

.hero{
  position: relative;
}

.hero__key{
  height: calc(100vh - 100px);
  position: relative;
  width: 100%;
}

.hero__key img{
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  width: 100%;
}

.hero__key::before{
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.hero__heading{
  bottom: calc(50% - 10%);
  color: #fff;
  left: 40px;
  position: absolute;
  z-index: 1;
}

.case{
  padding: 60px 0 100px;
}

.case__list{
  -webkit-animation: case_slide 300s linear infinite;
  animation: case_slide 300s linear infinite;
  background: left top/cover url("./images/top/case-list.png") repeat-x;
  height: 50px;
}

@-webkit-keyframes case_slide{
  100%{
    background-position: -5383px 0;
  }
}

@keyframes case_slide{
  100%{
    background-position: -5383px 0;
  }
}

.lead{
  align-items: center;
  background: center top/cover url("./images/top/lead-background.png") no-repeat;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 200px 0 85px;
}

.lead__heading{
  font-size: 44px;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
}

.lead__text{
  font-size: 20px;
  margin-top: 30px;
}

.lead__achievement{
  -webkit-box-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 60px;
}

.lead__achievement .block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

.lead__achievement .block:not(:first-child){
  margin-left: 90px;
}

.lead__achievement .block__left{
  font-size: 22px;
  text-align: left;
}

.lead__achievement .block__left img{
  display: inline-block;
  vertical-align: bottom;
}

.lead__achievement .block__right{
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  margin-left: 15px;
}

.lead__achievement .block__right .big{
  font-size: 52px;
}

.lead__achievement .block__right .small{
  font-size: 22px;
}

.lead__button{
  display: inline-block;
  font-size: 16px;
  margin-top: 60px;
  padding: 20px 30px;
}

.menu{
  height: 508px;
  position: relative;
}

.menu .container{
  height: 100%;
}

.menu .diamond{
  background: #ccc;
  height: 226.27416998px;
  margin: auto;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 226.27416998px;
}

.menu .diamond:nth-child(1),
.menu .diamond:nth-child(2),
.menu .diamond:nth-child(3){
  top: 45px;
}

.menu .diamond:nth-child(4),
.menu .diamond:nth-child(5){
  bottom: 45px;
  left: 0;
  right: 0;
}

.menu .diamond:nth-child(1){
  left: 45px;
}

.menu .diamond:nth-child(2){
  left: 0;
  right: 0;
}

.menu .diamond:nth-child(3){
  right: 45px;
}

.menu .diamond:nth-child(4){
  margin-left: calc(45px + 160px + 30px);
}

.menu .diamond:nth-child(5){
  margin-right: calc(45px + 160px + 30px);
}

.menu .diamond a{
  display: block;
  height: 100%;
}

.menu .diamond__inner{
  height: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */
