/* A Modern CSS Reset
--------------------------------------------------------------------------------------------*/

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd{
  margin: 0;
}
ul,
ol{
  list-style: none;
}
html:focus-within{
  scroll-behavior: smooth;
}
body{
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}
a{
  text-decoration: none;
}
img,
picture{
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select{
  font: inherit;
}
@media (prefers-reduced-motion: reduce){
  html:focus-within{
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after{
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: .01ms !important;
  }
}
