@charset "UTF-8";
/* Archive(記事ページ以外)
--------------------------------------------------------------------------------------------*/
/* entry-header(single/page)
--------------------------------------------------------------------------------------------*/
.entry-header {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  position: relative;
  z-index: 1;
}

.entry-header::after {
  background: #fff;
  bottom: 0;
  content: "";
  display: block;
  height: 120px;
  left: -120px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.entry-header__title {
  bottom: calc(120px + 21px + 25px + 14px);
  color: #fff;
  font-size: 34px;
  max-width: 800px;
  position: absolute;
  word-break: break-word;
}

.entry-header .breadcrumb {
  bottom: calc(120px + 25px);
  height: calc(14px * 1.5);
  left: -120px;
  position: absolute;
  width: 100%;
}

.entry-header .breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.entry-header .breadcrumb ul li:not(:first-child)::before {
  color: #fff;
  content: "−";
  margin-left: 20px;
}

.entry-header .breadcrumb ul li a,
.entry-header .breadcrumb ul li span {
  color: #fff;
  font-size: 14px;
}

.entry-header .breadcrumb ul li a {
  font-weight: 500;
}

.entry-header .breadcrumb ul li span {
  margin-left: 20px;
}

.news-header::before,
.company-header::before,
.search-header::before,
.notfound-header::before {
  bottom: 110px;
  color: #dce5f0;
  display: inline-block;
  font: bold 180px "Roboto Condensed", sans-serif;
  line-height: 1;
  position: absolute;
  right: 0;
}

.news-header::before {
  bottom: 65px;
  content: "NEWS";
  opacity: 0.4;
}

.company-header::before {
  bottom: 65px;
  content: "COMPANY";
  opacity: 0.4;
}

.search-header {
  background: #fff;
}

.search-header::before {
  color: #f4f5f8;
  content: "SEARCH";
}

.search-header::after {
  display: none;
}

.search-header .entry-header__title {
  bottom: calc(120px + 66px + 20px + 15px);
  color: #000;
}

.search-header__count {
  bottom: 120px;
  color: #000;
  line-height: 1;
  position: absolute;
}

.search-header__count--num, .search-header__count--unit {
  display: inline-block;
}

.search-header__count--num {
  font-size: 66px;
  vertical-align: sub;
}

.search-header__count--unit {
  font-size: 34px;
  margin-left: 0.5em;
}

.search-header .breadcrumb {
  bottom: calc(120px + 66px);
}

.search-header .breadcrumb ul li:not(:first-child)::before {
  color: #000;
}

.search-header .breadcrumb ul li a,
.search-header .breadcrumb ul li span {
  color: #000;
}

.notfound-header {
  background: #fff;
}

.notfound-header::before {
  content: "404 NOT FOUND";
  font-size: 110px;
  left: 0;
  margin: auto;
  text-align: center;
}

.notfound-header::after {
  display: none;
}

.archive-tabs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.archive-tabs ul li a {
  display: block;
  padding: 2em;
}

.archive-tabs ul li.active a {
  background: #000;
  color: #fff;
}

/* Page navigation
--------------------------------------------------------------------------------------------*/
.pagenavi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px auto 0;
  max-width: 500px;
  position: relative;
}

.pagenavi .page {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  height: 70px;
  line-height: 70px;
  position: relative;
  text-align: center;
  width: 75px;
}

.pagenavi .page.current {
  background: #000;
  color: #fff;
}

.pagenavi .page:not(.current) {
  padding-left: 1px;
}

.pagenavi .page:not(.current)::before {
  background: #dce5f0;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 70%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 1px;
}

.pagenavi .page::after {
  background: #dce5f0;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 100%;
}

.pagenavi .arrow-postlink {
  color: #eb2936;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 75px;
}

/* Post Card
--------------------------------------------------------------------------------------------*/
.post-card .meta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-card .meta__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 180px;
}

.post-card .meta__label span {
  color: #fff;
  font-size: 14px;
  padding: 6px;
  text-align: center;
  width: 50%;
}

.post-card .meta__label--new {
  background: #96a8be;
}

.post-card .meta__label--category {
  background: #000;
}

.post-card .meta__date {
  color: #96a8be;
}

.post-card-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.post-card-large img {
  max-width: 680px;
  width: 100%;
}

.post-card-large .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 580px;
  padding: 50px 0 0 80px;
  width: 100%;
}

.post-card-large .title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.post-card-large .description {
  margin-top: 60px;
}

.post-card-middle img {
  margin: auto;
  width: 100%;
}

.post-card-middle .meta {
  margin-top: 20px;
}

.post-card-middle .title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.post-card-middle .description {
  margin-top: 60px;
}

.post-card-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-card-small .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 30px;
}

.post-card-small .title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.post-card-wide .title {
  font-size: 22px;
}

.post-card-wide .description {
  margin-top: 1em;
}

.products-link .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-link .column li:not(:first-child) {
  margin-left: 40px;
}

.post-card-product .title {
  margin-top: 30px;
}

.post-card-product .more {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.post-card-product .more::after {
  background: center/contain url(../../images/common/more-arrow.svg);
  content: "";
  display: inline-block;
  height: 1em;
  margin-left: 8px;
  width: 1em;
}

.news__large {
  margin-left: -100px;
  margin-top: 90px;
}

.news__2col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

@media (min-width: 769px) {
  .news__2col .news__2col--left,
  .news__2col .news__2col--right {
    width: 45%;
  }
  .news__2col .news__2col--3row {
    width: 55%;
  }
  .news__2col .news__2col--left {
    margin-right: 80px;
  }
  .news__2col .news__2col--right {
    margin-left: 80px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.news__small:not(:first-of-type) {
  border-top: 1px solid #dce5f0;
  margin-top: 30px;
  padding-top: 30px;
}
/*# sourceMappingURL=archive.css.map */