@charset "UTF-8";
/* 固定ページテンプレート使用時
--------------------------------------------------------------------------------------------*/
/* entry-header(single/page)
--------------------------------------------------------------------------------------------*/
.entry-header {
  height: calc(180px + 120px);
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .entry-header {
    height: calc(180px + 50px);
  }
}

.entry-header .container {
  height: 100%;
}

.entry-header__title, .contact-header .entry-header__titleSub {
  bottom: calc( 120px + 21px + 25px + 14px);
  color: #000;
  font-size: 34px;
  font-weight: 500;
  max-width: 800px;
  position: absolute;
  word-break: break-word;
}

@media (max-width: 768px) {
  .entry-header__title, .contact-header .entry-header__titleSub {
    bottom: calc( 50px + 21px + 25px + 14px);
    font-size: 28px;
  }
}

.entry-header .breadcrumb {
  bottom: calc(120px + 25px);
  height: calc(14px * 1.5);
  left: -120px;
  position: absolute;
  width: 100%;
}

@media (max-width: 768px) {
  .entry-header .breadcrumb {
    bottom: calc(50px + 15px);
    left: -2.5%;
  }
}

.entry-header .breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .entry-header .breadcrumb ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.entry-header .breadcrumb ul li:not(:first-child)::before {
  color: #000;
  content: "−";
  margin-left: 20px;
}

@media (max-width: 768px) {
  .entry-header .breadcrumb ul li:not(:first-child)::before {
    margin-left: 10px;
  }
}

.entry-header .breadcrumb ul li a,
.entry-header .breadcrumb ul li span {
  color: #000;
  font-size: 14px;
}

@media (max-width: 768px) {
  .entry-header .breadcrumb ul li a,
  .entry-header .breadcrumb ul li span {
    font-size: 10px;
  }
}

.entry-header .breadcrumb ul li a {
  font-weight: 500;
}

.entry-header .breadcrumb ul li a.c-trans-red span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.entry-header .breadcrumb ul li a.c-trans-red:hover span {
  color: #eb2936;
}

.entry-header .breadcrumb ul li span {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .entry-header .breadcrumb ul li span {
    margin-left: 10px;
  }
}

.single-header {
  height: 180px;
}

.single-header .container {
  border-bottom: 1px solid #a5a5a5;
}

.single-header .entry-header__title, .single-header .contact-header .entry-header__titleSub, .contact-header .single-header .entry-header__titleSub {
  bottom: calc(21px + 25px + 14px);
}

@media (max-width: 768px) {
  .single-header .entry-header__title, .single-header .contact-header .entry-header__titleSub, .contact-header .single-header .entry-header__titleSub {
    bottom: calc(21px + (15px + 20px) + 14px);
  }
}

.single-header .breadcrumb {
  bottom: 25px;
}

@media (max-width: 768px) {
  .single-header .breadcrumb {
    bottom: calc(15px + 20px);
  }
}

.news-header,
.company-header,
.category-header,
.contact-header,
.search-header,
.notfound-header {
  background-repeat: no-repeat;
  background-size: cover;
}

.news-header::before,
.company-header::before,
.category-header::before,
.contact-header::before,
.search-header::before,
.notfound-header::before {
  bottom: calc(120px - 10px);
  color: #dce5f0;
  display: inline-block;
  font: bold 180px "Roboto Condensed", sans-serif;
  line-height: 1;
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .news-header::before,
  .company-header::before,
  .category-header::before,
  .contact-header::before,
  .search-header::before,
  .notfound-header::before {
    bottom: calc(50px - 10px);
    font-size: 90px;
  }
}

.news-header::after,
.company-header::after,
.category-header::after,
.contact-header::after,
.search-header::after,
.notfound-header::after {
  background: #fff;
  bottom: 0;
  content: "";
  display: block;
  height: 120px;
  left: -120px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

@media (max-width: 768px) {
  .news-header::after,
  .company-header::after,
  .category-header::after,
  .contact-header::after,
  .search-header::after,
  .notfound-header::after {
    height: 50px;
    left: -2.5%;
  }
}

.news-header .entry-header__title, .news-header .contact-header .entry-header__titleSub, .contact-header .news-header .entry-header__titleSub,
.company-header .entry-header__title,
.company-header .contact-header .entry-header__titleSub,
.contact-header .company-header .entry-header__titleSub,
.category-header .entry-header__title,
.category-header .contact-header .entry-header__titleSub,
.contact-header .category-header .entry-header__titleSub,
.contact-header .entry-header__title,
.contact-header .entry-header__titleSub,
.search-header .entry-header__title,
.search-header .contact-header .entry-header__titleSub,
.contact-header .search-header .entry-header__titleSub,
.notfound-header .entry-header__title,
.notfound-header .contact-header .entry-header__titleSub,
.contact-header .notfound-header .entry-header__titleSub {
  color: #fff;
}

.news-header .breadcrumb ul li a,
.news-header .breadcrumb ul li span,
.news-header .breadcrumb ul li:not(:first-child)::before,
.company-header .breadcrumb ul li a,
.company-header .breadcrumb ul li span,
.company-header .breadcrumb ul li:not(:first-child)::before,
.category-header .breadcrumb ul li a,
.category-header .breadcrumb ul li span,
.category-header .breadcrumb ul li:not(:first-child)::before,
.contact-header .breadcrumb ul li a,
.contact-header .breadcrumb ul li span,
.contact-header .breadcrumb ul li:not(:first-child)::before,
.search-header .breadcrumb ul li a,
.search-header .breadcrumb ul li span,
.search-header .breadcrumb ul li:not(:first-child)::before,
.notfound-header .breadcrumb ul li a,
.notfound-header .breadcrumb ul li span,
.notfound-header .breadcrumb ul li:not(:first-child)::before {
  color: #fff;
}

.news-header .breadcrumb ul li a.c-trans-red span,
.company-header .breadcrumb ul li a.c-trans-red span,
.category-header .breadcrumb ul li a.c-trans-red span,
.contact-header .breadcrumb ul li a.c-trans-red span,
.search-header .breadcrumb ul li a.c-trans-red span,
.notfound-header .breadcrumb ul li a.c-trans-red span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news-header .breadcrumb ul li a.c-trans-red:hover span,
.company-header .breadcrumb ul li a.c-trans-red:hover span,
.category-header .breadcrumb ul li a.c-trans-red:hover span,
.contact-header .breadcrumb ul li a.c-trans-red:hover span,
.search-header .breadcrumb ul li a.c-trans-red:hover span,
.notfound-header .breadcrumb ul li a.c-trans-red:hover span {
  color: #eb2936;
}

.category-header::before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.category-header .container {
  position: relative;
  z-index: 3;
}

.category-header-mold {
  background-image: url(../../images/category/mold/header.png);
}

.category-header-sand_casting {
  background-image: url(../../images/category/sand-casting/header.png);
}

.category-header-investment_casting {
  background-image: url(../../images/category/investment-casting/header.png);
}

.category-header-jewelry {
  background-image: url(../../images/category/jewelry/header.png);
}

.category-header-new_field {
  background-image: url(../../images/category/new-field/header.png);
}

.category-children-header {
  background: #fff;
  height: 220px;
  margin-bottom: 80px;
}

.category-children-header::after {
  display: none;
}

.category-children-header .container {
  border-bottom: 1px solid #a5a5a5;
  position: relative;
}

.category-children-header .entry-header__title, .category-children-header .contact-header .entry-header__titleSub, .contact-header .category-children-header .entry-header__titleSub {
  bottom: calc(21px + 45px + 14px);
  color: #000;
}

.category-children-header .breadcrumb {
  bottom: calc(45px);
  left: 0;
}

.category-children-header .breadcrumb ul li a,
.category-children-header .breadcrumb ul li span,
.category-children-header .breadcrumb ul li:not(:first-child)::before {
  color: #000;
}

.news-header {
  background-image: url(../../images/news/header.png);
}

.news-header::before {
  bottom: 65px;
  content: "NEWS";
  opacity: 0.4;
}

@media (max-width: 768px) {
  .news-header::before {
    bottom: calc(50px - 20px);
    opacity: 0.3;
  }
}

@media (max-width: 768px) {
  .news-header .entry-header__title, .news-header .contact-header .entry-header__titleSub, .contact-header .news-header .entry-header__titleSub {
    bottom: calc( 50px + 21px + 25px + 50px + 14px);
  }
  .news-header .breadcrumb {
    bottom: calc(50px + 15px + 50px);
  }
}

.contact-header {
  background: #fff;
}

.contact-header::before {
  bottom: 65px;
  content: "CONTACT";
  opacity: 0.4;
}

@media (max-width: 768px) {
  .contact-header::before {
    bottom: calc(50px - 20px);
    opacity: 0.3;
  }
}

.contact-header::after {
  display: none;
}


.contact-header .entry-header__title,
.contact-header .entry-header__titleSub {
  color: #000;
}

.contact-header .entry-header__titleSub {
  bottom: calc(120px + 14px);
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .contact-header .entry-header__titleSub {
    bottom: calc(50px + 21px + 24px);
    font-size: 12px;
  }
}

.contact-header .breadcrumb ul li:not(:first-child)::before {
  color: #000;
}

.contact-header .breadcrumb ul li a,
.contact-header .breadcrumb ul li span {
  color: #000;
}

.company-header {
  background-image: url(../../images/company/header.png);
}

.search-header {
  background: #fff;
}

.search-header::before {
  color: #f4f5f8;
  content: "SEARCH";
}

@media (max-width: 768px) {
  .search-header::before {
    bottom: calc(50px - 20px);
  }
}

.search-header::after {
  display: none;
}


.search-header .entry-header__title,
.search-header .contact-header .entry-header__titleSub,
.contact-header .search-header .entry-header__titleSub {
  bottom: calc(120px + 66px + 20px + 15px);
  color: #000;
}

@media (max-width: 768px) {
  
  .search-header .entry-header__title,
  .search-header .contact-header .entry-header__titleSub,
  .contact-header .search-header .entry-header__titleSub {
    bottom: calc(20px + 45px + 20px + 25px);
  }
}

.search-header__count {
  bottom: 120px;
  color: #000;
  line-height: 1;
  position: absolute;
}

@media (max-width: 768px) {
  .search-header__count {
    bottom: 20px;
    margin-bottom: 25px;
  }
}

.search-header__count--num, .search-header__count--unit {
  display: inline-block;
}

.search-header__count--num {
  font-size: 66px;
  vertical-align: sub;
}

@media (max-width: 768px) {
  .search-header__count--num {
    font-size: 45px;
  }
}

.search-header__count--unit {
  font-size: 34px;
  margin-left: 0.5em;
}

@media (max-width: 768px) {
  .search-header__count--unit {
    font-size: 15px;
    vertical-align: text-bottom;
  }
}

.search-header .breadcrumb {
  bottom: calc(120px + 66px);
}

@media (max-width: 768px) {
  .search-header .breadcrumb {
    bottom: calc(20px + 45px);
  }
}

.search-header .breadcrumb ul li:not(:first-child)::before {
  color: #000;
}

.search-header .breadcrumb ul li a,
.search-header .breadcrumb ul li span {
  color: #000;
}

.notfound-header {
  background: #fff;
}

@media (max-width: 768px) {
  .notfound-header {
    height: 180px;
  }
}

.notfound-header::before {
  content: "404 NOT FOUND";
  font-size: 110px;
  left: 0;
  margin: auto;
  text-align: center;
}

@media (max-width: 768px) {
  .notfound-header::before {
    font-size: 15vw;
  }
}

.notfound-header::after {
  display: none;
}

/* 会社概要ページ用
--------------------------------------------------------------------------------------------*/
.company-page {
  /* TOPや会社概要で使用される菱形メニュー
--------------------------------------------------------------------------------------------*/
}

.company-page .menu {
  height: 508px;
  position: relative;
}

@media (max-width: 1080px) {
  .company-page .menu {
    height: 47.03704vw;
  }
}

@media (max-width: 768px) {
  .company-page .menu {
    height: auto;
  }
}

.company-page .menu .container {
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1080px) {
  .company-page .menu .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .company-page .menu .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .company-page .menu .container > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .company-page .menu .container > ul > li.diamond:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .company-page .menu .container > ul > li.diamond:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .company-page .menu .container > ul > li.diamond:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .company-page .menu .container > ul > li.diamond:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .company-page .menu .container > ul > li.diamond:nth-child(5) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.company-page .menu .diamond {
  cursor: pointer;
}

@media (min-width: 769px) {
  .company-page .menu .diamond {
    height: 226.27416998px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    width: 226.27416998px;
  }
}

@media (max-width: 1080px) {
  .company-page .menu .diamond {
    height: 20.92593vw;
    width: 20.92593vw;
  }
}

@media (max-width: 768px) {
  .company-page .menu .diamond {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    height: 80px;
    position: relative;
    width: 100%;
  }
}

.company-page .menu .diamond::before {
  background: center / contain #fff no-repeat;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

@media (min-width: 769px) {
  .company-page .menu .diamond::before {
    left: 60px;
    top: 60px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    will-change: transform;
  }
}

@media (max-width: 768px) {
  .company-page .menu .diamond::before {
    background-position: 90% 20px;
  }
}

.company-page .menu .diamond .filter {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.company-page .menu .diamond:nth-child(1), .company-page .menu .diamond:nth-child(2), .company-page .menu .diamond:nth-child(3) {
  top: 45px;
}

@media (max-width: 1080px) {
  .company-page .menu .diamond:nth-child(1), .company-page .menu .diamond:nth-child(2), .company-page .menu .diamond:nth-child(3) {
    top: 4.16667vw;
  }
}

.company-page .menu .diamond:nth-child(4), .company-page .menu .diamond:nth-child(5) {
  bottom: 45px;
  left: 0;
  right: 0;
}

@media (max-width: 1080px) {
  .company-page .menu .diamond:nth-child(4), .company-page .menu .diamond:nth-child(5) {
    bottom: 4.16667vw;
  }
}

.company-page .menu .diamond:nth-child(1) {
  left: 45px;
}

@media (max-width: 1080px) {
  .company-page .menu .diamond:nth-child(1) {
    left: 4.16667vw;
  }
}

@media (max-width: 768px) {
  .company-page .menu .diamond:nth-child(1) {
    left: 0;
    top: 0;
  }
}

.company-page .menu .diamond:nth-child(1)::before {
  background-image: url(../../images/top/menu-background/01.png);
}

.company-page .menu .diamond:nth-child(2) {
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .company-page .menu .diamond:nth-child(2) {
    left: 0;
    top: 0;
  }
}

.company-page .menu .diamond:nth-child(2)::before {
  background-image: url(../../images/top/menu-background/02.png);
}

.company-page .menu .diamond:nth-child(3) {
  right: 45px;
}

@media (max-width: 1080px) {
  .company-page .menu .diamond:nth-child(3) {
    right: 4.16667vw;
  }
}

@media (max-width: 768px) {
  .company-page .menu .diamond:nth-child(3) {
    left: 0;
    top: 0;
  }
}

.company-page .menu .diamond:nth-child(3)::before {
  background-image: url(../../images/top/menu-background/03.png);
}

.company-page .menu .diamond:nth-child(4) {
  margin-left: calc(45px + 160px + 30px);
}

@media (max-width: 1080px) {
  .company-page .menu .diamond:nth-child(4) {
    margin-left: 21.75926vw;
  }
}

@media (max-width: 768px) {
  .company-page .menu .diamond:nth-child(4) {
    left: 0;
    margin-left: 0;
    top: 0;
  }
}

.company-page .menu .diamond:nth-child(4)::before {
  background-image: url(../../images/top/menu-background/04.png);
}

.company-page .menu .diamond:nth-child(5) {
  margin-right: calc(45px + 160px + 30px);
}

@media (max-width: 1080px) {
  .company-page .menu .diamond:nth-child(5) {
    margin-right: 21.75926vw;
  }
}

@media (max-width: 768px) {
  .company-page .menu .diamond:nth-child(5) {
    left: 0;
    margin-right: 0;
    top: 0;
  }
}

.company-page .menu .diamond:nth-child(5)::before {
  background-image: url(../../images/top/menu-background/05.png);
}

.company-page .menu .diamond > a {
  display: block;
  height: 100%;
  position: relative;
  z-index: 4;
}

.company-page .menu .diamond > a .diamond__inner {
  height: 100%;
  position: absolute;
  width: 100%;
}

@media (min-width: 769px) {
  .company-page .menu .diamond > a .diamond__inner > div {
    height: 100%;
    left: 0;
    margin: auto;
    padding-top: 35px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 70%;
  }
}

@media (max-width: 1080px) {
  .company-page .menu .diamond > a .diamond__inner > div {
    padding-top: 3.24074vw;
  }
}

@media (max-width: 768px) {
  .company-page .menu .diamond > a .diamond__inner > div {
    padding: 0 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.company-page .menu .diamond > a .diamond__inner > div .diamond__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

@media (max-width: 1080px) {
  .company-page .menu .diamond > a .diamond__inner > div .diamond__title {
    font-size: 2.77778vw;
  }
}

@media (max-width: 768px) {
  .company-page .menu .diamond > a .diamond__inner > div .diamond__title {
    display: inline-block;
    font-weight: 500;
    font-size: 35px;
    font-size: 4.55729vw;
  }
}

.company-page .menu .diamond > a .diamond__inner > div .diamond__titleSub {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}

@media (max-width: 1080px) {
  .company-page .menu .diamond > a .diamond__inner > div .diamond__titleSub {
    font-size: 1.2963vw;
    margin-top: 0.74074vw;
  }
}

@media (max-width: 768px) {
  .company-page .menu .diamond > a .diamond__inner > div .diamond__titleSub {
    display: inline-block;
    font-size: 12px;
  }
}

.company-page .menu .diamond > a .diamond__inner > div .diamond__more {
  background: #eb2936;
  bottom: -25%;
  color: #fff;
  height: 90px;
  left: -50%;
  padding-top: 10px;
  position: absolute;
  width: 200%;
}

@media (max-width: 1080px) {
  .company-page .menu .diamond > a .diamond__inner > div .diamond__more {
    bottom: -35%;
    font-size: 12px;
  }
}

.company-page .menu .diamond > a .diamond__inner > div .diamond__more img {
  display: inline-block;
  margin-left: 5px;
}

.company-page .menu .diamond > a .diamond__inner .diamond__icon {
  margin: auto;
  position: absolute;
}

@media (min-width: 769px) {
  .company-page .menu .diamond > a .diamond__inner .diamond__icon {
    bottom: -10px;
    left: 0;
    right: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
}

@media (max-width: 768px) {
  .company-page .menu .diamond > a .diamond__inner .diamond__icon {
    bottom: 0;
    right: 10px;
    top: 0;
  }
}

@media (min-width: 769px) {
  .company-page .menu .diamond::after {
    -webkit-animation: circleRedOut 0.3s ease-in-out both;
            animation: circleRedOut 0.3s ease-in-out both;
    background: rgba(235, 41, 54, 0.6);
    border-radius: 50%;
    content: "";
    height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    position: absolute;
    -webkit-transform: scale(0);
            transform: scale(0);
    width: 100%;
    will-change: transform;
    z-index: 3;
  }
  .company-page .menu .diamond:hover::before {
    -webkit-transform: rotate(-45deg) translateY(-10px);
            transform: rotate(-45deg) translateY(-10px);
  }
  .company-page .menu .diamond:hover::after {
    -webkit-animation: circleRed 0.3s ease-in-out both;
            animation: circleRed 0.3s ease-in-out both;
  }
  .company-page .menu .diamond:hover a div .diamond__icon {
    bottom: -15px;
  }
  @-webkit-keyframes circleRed {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @keyframes circleRed {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @-webkit-keyframes circleRedOut {
    0% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @keyframes circleRedOut {
    0% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
}

.company-page #philosophy,
.company-page #infographic,
.company-page #greeting,
.company-page #overview {
  margin-top: calc(-1 * 100px);
  padding-top: calc(100px);
}

@media (max-width: 768px) {
  .company-page #philosophy,
  .company-page #infographic,
  .company-page #greeting,
  .company-page #overview {
    margin-top: calc(-1 * 65px);
    padding-top: calc(65px);
  }
}

.company-page .bg-geometric {
  background: top left 150px/300px url(../../images/common/geometric-pattern.svg) no-repeat;
  margin-top: -120px;
  padding-top: 120px;
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  .company-page .bg-geometric {
    background-position-y: 100px;
  }
}

.company-page .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
  margin-left: -75px;
}

@media (max-width: 1080px) {
  .company-page .content-header {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .company-page .content-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
}

.company-page .content-header .block {
  position: relative;
  width: calc(100% / 3);
}

@media (max-width: 768px) {
  .company-page .content-header .block {
    width: 100%;
  }
}

.company-page .content-header .block::before {
  background: #eb2936;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

@media (max-width: 768px) {
  .company-page .content-header .block::before {
    right: auto;
  }
}

@media (max-width: 768px) {
  .company-page .content-header .block:not(:first-child) {
    margin-top: 30px;
  }
}

@media (min-width: 769px) {
  .company-page .content-header .block:not(:first-child)::after {
    background: center/300px url(../../images/company/lineY.svg) no-repeat;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 120px;
    left: 0;
    position: absolute;
    width: 1px;
  }
}

.company-page .content-header .block__header h2 {
  font-size: 50px;
  line-height: 1;
  margin-top: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  .company-page .content-header .block__header h2 {
    font-size: 30px;
    margin-top: 20px;
    text-align: left;
  }
}

.company-page .content-header .block__header .sub-title {
  color: #96a8be;
  font-size: 20px;
  margin-top: 1em;
  text-align: center;
}

@media (max-width: 768px) {
  .company-page .content-header .block__header .sub-title {
    font-size: 16px;
    margin-top: 0;
    text-align: left;
  }
}

.company-page .content-header .block .description {
  font-size: 22px;
  margin-top: 50px;
  text-align: center;
}

@media (max-width: 1080px) {
  .company-page .content-header .block .description {
    font-size: 2.03704vw;
  }
}

@media (max-width: 768px) {
  .company-page .content-header .block .description {
    font-size: 16px;
    margin-top: 20px;
    text-align: left;
  }
}

.company-page .content-main .infographic {
  background: top right/250px url(../../images/common/geometric-pattern.svg) no-repeat;
  margin-bottom: 140px;
}

@media (max-width: 768px) {
  .company-page .content-main .infographic {
    margin-bottom: 100px;
  }
}

.company-page .content-main .infographic h2 {
  font-size: 60px;
  line-height: 1;
}

@media (max-width: 768px) {
  .company-page .content-main .infographic h2 {
    font-size: 40px;
  }
}

.company-page .content-main .infographic .sub-title {
  color: #96a8be;
  font-size: 20px;
  font-weight: bold;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .company-page .content-main .infographic .sub-title {
    font-size: 18px;
    margin-top: 0;
  }
}

.company-page .content-main .infographic .box {
  margin-top: 50px;
}

@media (max-width: 768px) {
  .company-page .content-main .infographic .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }
}

.company-page .content-main .infographic .box__top, .company-page .content-main .infographic .box__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .company-page .content-main .infographic .box__top, .company-page .content-main .infographic .box__bottom {
    display: inline-block;
    margin-top: 10px;
    min-width: 230px;
    width: 50%;
  }
}

.company-page .content-main .infographic .box__top--item, .company-page .content-main .infographic .box__bottom--item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - (80px * 2)) / 3);
}

@media (max-width: 1080px) {
  .company-page .content-main .infographic .box__top--item, .company-page .content-main .infographic .box__bottom--item {
    width: calc((100% - (7.40741vw * 2)) / 3);
  }
}

@media (max-width: 768px) {
  .company-page .content-main .infographic .box__top--item, .company-page .content-main .infographic .box__bottom--item {
    width: 100%;
  }
}

.company-page .content-main .infographic .box__top--item .icon, .company-page .content-main .infographic .box__bottom--item .icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eb2936;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
}

@media (max-width: 1080px) {
  .company-page .content-main .infographic .box__top--item .icon, .company-page .content-main .infographic .box__bottom--item .icon {
    height: 10.18519vw;
    width: 10.18519vw;
  }
  .company-page .content-main .infographic .box__top--item .icon img, .company-page .content-main .infographic .box__bottom--item .icon img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .company-page .content-main .infographic .box__top--item .icon, .company-page .content-main .infographic .box__bottom--item .icon {
    height: 60px;
    width: 60px;
  }
  .company-page .content-main .infographic .box__top--item .icon img, .company-page .content-main .infographic .box__bottom--item .icon img {
    width: 50%;
  }
}

.company-page .content-main .infographic .box__top--item .text, .company-page .content-main .infographic .box__bottom--item .text {
  margin-left: 14px;
}

.company-page .content-main .infographic .box__top--item .text .small, .company-page .content-main .infographic .box__bottom--item .text .small {
  font-size: 16px;
}

@media (max-width: 1080px) {
  .company-page .content-main .infographic .box__top--item .text .small, .company-page .content-main .infographic .box__bottom--item .text .small {
    font-size: 1.2963vw;
  }
}

@media (max-width: 768px) {
  .company-page .content-main .infographic .box__top--item .text .small, .company-page .content-main .infographic .box__bottom--item .text .small {
    font-size: 14px;
  }
}

.company-page .content-main .infographic .box__top--item .text .small2, .company-page .content-main .infographic .box__bottom--item .text .small2 {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 1080px) {
  .company-page .content-main .infographic .box__top--item .text .small2, .company-page .content-main .infographic .box__bottom--item .text .small2 {
    font-size: 1.66667vw;
  }
}

@media (max-width: 768px) {
  .company-page .content-main .infographic .box__top--item .text .small2, .company-page .content-main .infographic .box__bottom--item .text .small2 {
    font-size: 18px;
  }
}

.company-page .content-main .infographic .box__top--item .text .number, .company-page .content-main .infographic .box__bottom--item .text .number {
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 1080px) {
  .company-page .content-main .infographic .box__top--item .text .number, .company-page .content-main .infographic .box__bottom--item .text .number {
    font-size: 2.59259vw;
  }
}

@media (max-width: 768px) {
  .company-page .content-main .infographic .box__top--item .text .number, .company-page .content-main .infographic .box__bottom--item .text .number {
    font-size: 22px;
  }
}

.company-page .content-main .infographic .box__top--item:not(:first-child), .company-page .content-main .infographic .box__bottom--item:not(:first-child) {
  margin-left: 80px;
  position: relative;
}

@media (max-width: 1080px) {
  .company-page .content-main .infographic .box__top--item:not(:first-child), .company-page .content-main .infographic .box__bottom--item:not(:first-child) {
    margin-left: 7.40741vw;
  }
}

@media (max-width: 768px) {
  .company-page .content-main .infographic .box__top--item:not(:first-child), .company-page .content-main .infographic .box__bottom--item:not(:first-child) {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .company-page .content-main .infographic .box__top--item:not(:first-child)::before, .company-page .content-main .infographic .box__bottom--item:not(:first-child)::before {
    background: center/contain url(../../images/company/lineY.svg) no-repeat;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 100%;
    left: -40px;
    position: absolute;
    width: 1px;
  }
}

@media (min-width: 769px) {
  .company-page .content-main .infographic .box__bottom {
    margin-top: 45px;
  }
}

.company-page .content-main .greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 600px;
  margin-bottom: 200px;
}

@media (max-width: 1080px) {
  .company-page .content-main .greeting {
    height: 680px;
    margin-bottom: 140px;
  }
}

@media (max-width: 768px) {
  .company-page .content-main .greeting {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: auto;
    margin-bottom: 100px;
  }
}

.company-page .content-main .greeting .pic {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 300px;
}

@media (max-width: 1080px) {
  .company-page .content-main .greeting .pic {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .company-page .content-main .greeting .pic {
    margin-top: 30px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .company-page .content-main .greeting .pic img {
    margin: auto;
    max-width: 500px;
    width: 100%;
  }
}

.company-page .content-main .greeting .title {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  margin-left: 70px;
  max-width: calc(100% - 70px - 300px);
}

@media (max-width: 1080px) {
  .company-page .content-main .greeting .title {
    margin-left: 50px;
    max-width: calc(100% - 50px - 250px);
  }
}

@media (max-width: 768px) {
  .company-page .content-main .greeting .title {
    margin-left: 0;
    max-width: inherit;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.company-page .content-main .greeting .title h2 {
  font-size: 60px;
  line-height: 1;
}

@media (max-width: 768px) {
  .company-page .content-main .greeting .title h2 {
    font-size: 40px;
  }
}

.company-page .content-main .greeting .title .sub-title {
  color: #96a8be;
  font-size: 20px;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .company-page .content-main .greeting .title .sub-title {
    margin-top: 0;
  }
}

.company-page .content-main .greeting .text {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  margin-left: 70px;
  margin-top: 70px;
  max-width: calc(100% - 70px - 300px);
}

@media (max-width: 1080px) {
  .company-page .content-main .greeting .text {
    font-size: 1.75926vw;
    margin-left: 50px;
    margin-top: 50px;
    max-width: calc(100% - 50px - 250px);
  }
}

@media (max-width: 768px) {
  .company-page .content-main .greeting .text {
    font-size: 16px;
    margin-left: 0;
    margin-top: 30px;
    max-width: inherit;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.company-page .content-main .greeting .text .message {
  font-weight: 500;
  line-height: 2;
}

.company-page .content-main .greeting .text .sign {
  font-size: 14px;
  font-weight: bold;
  margin-top: 50px;
  text-align: right;
}

.company-page .content-main .greeting .text .sign img {
  margin-left: auto;
  margin-top: 20px;
  width: 160px;
}

.company-page .content-main .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .company-page .content-main .overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.company-page .content-main .overview .title {
  width: 300px;
}

.company-page .content-main .overview .title h2 {
  font-size: 60px;
  line-height: 1;
}

@media (max-width: 768px) {
  .company-page .content-main .overview .title h2 {
    font-size: 40px;
  }
}

.company-page .content-main .overview .title .sub-title {
  color: #96a8be;
  font-size: 20px;
  margin-top: 1em;
}

@media (max-width: 768px) {
  .company-page .content-main .overview .title .sub-title {
    margin-top: 0;
  }
}

.company-page .content-main .overview .address {
  margin-left: 70px;
}

@media (max-width: 768px) {
  .company-page .content-main .overview .address {
    margin-left: 0;
    margin-top: 30px;
  }
}

.company-page .content-main .overview .address table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.company-page .content-main .overview .address table tr:not(:first-child) {
  margin-top: 40px;
  padding-top: 40px;
}

.company-page .content-main .overview .address table tr:not(:first-child)::before {
  background: left/cover url(../../images/company/lineX.svg) no-repeat;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  width: 100%;
}

.company-page .content-main .overview .address table th {
  text-align: left;
  width: 120px;
}

@media (max-width: 768px) {
  .company-page .content-main .overview .address table th {
    width: 20%;
  }
}

.company-page .content-main .overview .address table td {
  display: block;
  font-weight: 100;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .company-page .content-main .overview .address table td {
    margin-left: 15px;
    width: calc(80% - 15px);
  }
}

.company-page .content-main .overview .address table td ul {
  padding-left: 0;
}

.company-page .content-main .overview .address table td ul li:not(:first-child) {
  margin-top: 1em;
}

.company-page .content-main .overview .address table td ul.links li::after {
  background: center/contain url(../../images/company/icon-7.png) no-repeat;
  content: "";
  display: inline-block;
  height: 1em;
  margin-left: 6px;
  width: 1em;
}

.company-page .content-main .map {
  margin-bottom: 70px;
}

.company-page .content-main .map iframe {
  height: 400px;
  width: 100%;
}

.company-page .content-main .map__link {
  text-align: right;
}

.company-page .content-main .map__link a {
  color: #eb2936;
  display: inline-block;
  font-weight: 100;
  margin-top: 1em;
}

.company-page .content-main .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 210px;
  margin: 0 auto 115px;
  max-width: 720px;
}

@media (max-width: 768px) {
  .company-page .content-main .link-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.company-page .content-main .link-box__text, .company-page .content-main .link-box__image {
  width: 50%;
}

@media (max-width: 768px) {
  .company-page .content-main .link-box__text, .company-page .content-main .link-box__image {
    width: 100%;
  }
}

.company-page .content-main .link-box__text {
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  font-weight: 100;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 35px 35px;
}

@media (max-width: 768px) {
  .company-page .content-main .link-box__text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 20px;
    padding: 20px;
  }
}

.company-page .content-main .link-box__text__image img {
  display: inline-block;
}

@media (max-width: 768px) {
  .company-page .content-main .link-box__text__image img {
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
}

/* お問い合わせページ用
--------------------------------------------------------------------------------------------*/
/* Button
--------------------------------------------------------------------------------------------*/
.button {
  background: #eb2936;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin-top: 60px;
  padding: 20px 30px;
}

.button-arrow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eb2936;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-top: 60px;
  padding: 20px 30px;
  width: 200px;
}

@media (max-width: 768px) {
  .button-arrow {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.button-line {
  overflow: hidden;
  position: relative;
}

.button-line::before {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  -webkit-filter: blur(3px);
          filter: blur(3px);
  height: 100%;
  left: -43px;
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 40px;
}

@media (min-width: 769px) {
  .button-line:hover::before {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}

.content-main.contact {
  margin: auto;
  max-width: 790px;
}

.form-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .form-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.form-block.flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-block.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-block:not(:first-of-type) {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .form-block:not(:first-of-type) {
    margin-top: 30px;
  }
}

.form-block .must-label {
  background: #96a8be;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
  padding: 3px;
}

.form-block label {
  font-weight: bold;
}

@media (max-width: 768px) {
  .form-block label {
    width: 100%;
  }
}

.form-block .form-block__field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 50px;
  max-width: 500px;
}

@media (max-width: 768px) {
  .form-block .form-block__field {
    margin-left: 0;
    margin-top: 10px;
    max-width: inherit;
    width: 100%;
  }
}

.form-block .form-block__field input[type="text"],
.form-block .form-block__field input[type="email"] {
  background: #f4f5f8;
  border: 1px solid #dce5f0;
  border-radius: 3px;
  padding: 1em;
  width: 100%;
}

.form-block .form-block__field input[type="text"]::-webkit-input-placeholder,
.form-block .form-block__field input[type="email"]::-webkit-input-placeholder {
  color: #96a8be;
}

.form-block .form-block__field input[type="text"]:-ms-input-placeholder,
.form-block .form-block__field input[type="email"]:-ms-input-placeholder {
  color: #96a8be;
}

.form-block .form-block__field input[type="text"]::-ms-input-placeholder,
.form-block .form-block__field input[type="email"]::-ms-input-placeholder {
  color: #96a8be;
}

.form-block .form-block__field input[type="text"]::placeholder,
.form-block .form-block__field input[type="email"]::placeholder {
  color: #96a8be;
}

.form-block .form-block__field input[type="text"]:-ms-input-placeholder,
.form-block .form-block__field input[type="email"]:-ms-input-placeholder {
  color: #96a8be;
}

.form-block .form-block__field input[type="text"]::-ms-input-placeholder,
.form-block .form-block__field input[type="email"]::-ms-input-placeholder {
  color: #96a8be;
}

.form-block .form-block__field input[type="checkbox"] {
  display: none;
}

.form-block .form-block__field input[type="checkbox"] + span {
  cursor: pointer;
  padding-left: 30px;
  position: relative;
}

.form-block .form-block__field input[type="checkbox"] + span::before {
  background: #f4f5f8;
  border: 1px solid #dce5f0;
  border-radius: 3px;
  content: "";
  display: inline-block;
  height: 20px;
  left: 0;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 20px;
}

.form-block .form-block__field input[type="checkbox"]:checked + span::after {
  border-bottom: 3px solid #96a8be;
  border-left: 3px solid #96a8be;
  content: "";
  display: inline-block;
  height: 9px;
  left: 3px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 18px;
}

.form-block .form-block__field textarea {
  background: #f4f5f8;
  border: 1px solid #dce5f0;
  border-radius: 3px;
  padding: 1em;
  width: 100%;
}

.form-block .form-block__field .error + input[type="text"],
.form-block .form-block__field .error + input[type="email"],
.form-block .form-block__field .error + textarea,
.form-block .form-block__field .error + .mwform-checkbox-field > input[type="checkbox"] + span::before {
  background: #fff8f8;
  border-color: #fce0e0;
}

.form-block.confirm {
  margin-top: 80px;
}

.form-block.confirm .form-block__field {
  max-width: 100%;
}

@media (max-width: 768px) {
  .form-block.confirm input[type="checkbox"] + span {
    display: block;
    text-align: left;
  }
}

.form-block.submit {
  margin-top: 45px;
}

.form-block.submit .arrow-wrap {
  height: 70px;
  margin: auto;
  width: 350px;
}

@media (max-width: 768px) {
  .form-block.submit .arrow-wrap {
    max-width: 320px;
    width: 100%;
  }
}

.form-block.submit .arrow-wrap .button-arrow {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0;
}

.form-block.submit .arrow-wrap .button-arrow input[type="submit"] {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 100%;
  outline: 0;
  position: absolute;
  width: 100%;
}

.mw_wp_form_confirm .must-label {
  display: none;
}

.mw_wp_form_confirm .submit {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mw_wp_form_confirm .submit .form-block__back::before {
  background: center/contain url(../../images/common/left-arrow-lightgray.svg) no-repeat;
  content: "";
  display: inline-block;
  height: 6px;
  width: 16px;
}

.mw_wp_form_confirm .submit .form-block__back input[type="submit"] {
  background: transparent;
  border: none;
  color: #96a8be;
  cursor: pointer;
  outline: 0;
  text-decoration: underline;
}

.mw_wp_form_confirm .submit .arrow-wrap {
  margin-left: 0;
}

@media (max-width: 768px) {
  .mw_wp_form_confirm .submit .arrow-wrap {
    margin-left: auto;
    margin-top: 15px;
  }
}

.confirm-page-content-main .form-block.confirm {
  display: none;
}

@media (max-width: 768px) {
  .confirm-page-content-main .form-block label {
    border-bottom: 1px solid #dce5f0;
    line-height: 1.8;
  }
}

.contact-send-page .entry-header__titleSub {
  display: none;
}

.contact-send-page .contact-send {
  background: center/contain url(../../images/notfound-background.svg) no-repeat;
}

.contact-send-page .contact-send__title {
  font-size: 22px;
  line-height: 1.8;
  text-align: center;
}

@media (max-width: 768px) {
  .contact-send-page .contact-send__title {
    font-size: 18px;
  }
}

.contact-send-page .contact-send__image {
  margin-top: 50px;
  text-align: center;
}

.contact-send-page .contact-send__image img {
  margin: auto;
  max-width: 500px;
  width: 100%;
}

.contact-send-page .contact-send .button-arrow {
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=article-template.css.map */