@charset "UTF-8";
/* 固定ページテンプレート使用時
--------------------------------------------------------------------------------------------*/
/* entry-header(single/page)
--------------------------------------------------------------------------------------------*/
.entry-header {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  position: relative;
  z-index: 1;
}

.entry-header::after {
  background: #fff;
  bottom: 0;
  content: "";
  display: block;
  height: 120px;
  left: -120px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.entry-header__title {
  bottom: calc(120px + 21px + 25px + 14px);
  color: #fff;
  font-size: 34px;
  max-width: 800px;
  position: absolute;
  word-break: break-word;
}

.entry-header .breadcrumb {
  bottom: calc(120px + 25px);
  height: calc(14px * 1.5);
  left: -120px;
  position: absolute;
  width: 100%;
}

.entry-header .breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.entry-header .breadcrumb ul li:not(:first-child)::before {
  color: #fff;
  content: "−";
  margin-left: 20px;
}

.entry-header .breadcrumb ul li a,
.entry-header .breadcrumb ul li span {
  color: #fff;
  font-size: 14px;
}

.entry-header .breadcrumb ul li a {
  font-weight: 500;
}

.entry-header .breadcrumb ul li span {
  margin-left: 20px;
}

.news-header::before,
.company-header::before,
.search-header::before,
.notfound-header::before {
  bottom: 110px;
  color: #dce5f0;
  display: inline-block;
  font: bold 180px "Roboto Condensed", sans-serif;
  line-height: 1;
  position: absolute;
  right: 0;
}

.category-header-mold {
  background-image: url(../../images/category/mold.png);
}

.category-header-sand-casting {
  background-image: url(../../images/category/sand-casting.png);
}

.category-header-investment-casting {
  background-image: url(../../images/category/investment-casting.png);
}

.category-header-jewelry {
  background-image: url(../../images/category/jewelry.png);
}

.category-header-new-field {
  background-image: url(../../images/category/new-filed.png);
}

.news-header::before {
  bottom: 65px;
  content: "NEWS";
  opacity: 0.4;
}

.company-header::before {
  bottom: 65px;
  content: "COMPANY";
  opacity: 0.4;
}

.search-header {
  background: #fff;
}

.search-header::before {
  color: #f4f5f8;
  content: "SEARCH";
}

.search-header::after {
  display: none;
}

.search-header .entry-header__title {
  bottom: calc(120px + 66px + 20px + 15px);
  color: #000;
}

.search-header__count {
  bottom: 120px;
  color: #000;
  line-height: 1;
  position: absolute;
}

.search-header__count--num, .search-header__count--unit {
  display: inline-block;
}

.search-header__count--num {
  font-size: 66px;
  vertical-align: sub;
}

.search-header__count--unit {
  font-size: 34px;
  margin-left: 0.5em;
}

.search-header .breadcrumb {
  bottom: calc(120px + 66px);
}

.search-header .breadcrumb ul li:not(:first-child)::before {
  color: #000;
}

.search-header .breadcrumb ul li a,
.search-header .breadcrumb ul li span {
  color: #000;
}

.notfound-header {
  background: #fff;
}

.notfound-header::before {
  content: "404 NOT FOUND";
  font-size: 110px;
  left: 0;
  margin: auto;
  text-align: center;
}

.notfound-header::after {
  display: none;
}

.company-page .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -75px;
}

.company-page .content-header .block {
  position: relative;
  width: calc(100% / 3);
}

.company-page .content-header .block::before {
  background: #000;
  content: "";
  display: inline-block;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

.company-page .content-header .block:not(:first-child)::after {
  background: center/contain url(../../images/company/lineY.svg) no-repeat;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 120px;
  left: 0;
  position: absolute;
  width: 1px;
}

.company-page .content-header .block h2 {
  font-size: 50px;
  line-height: 1;
  margin-top: 30px;
  text-align: center;
}

.company-page .content-header .block .sub-title {
  color: #96a8be;
  font-size: 20px;
  margin-top: 1em;
  text-align: center;
}

.company-page .content-header .block .description {
  font-size: 22px;
  margin-top: 50px;
  text-align: center;
}

.company-page .content-main .greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
}

.company-page .content-main .greeting .pic img {
  max-width: 300px;
}

.company-page .content-main .greeting .text {
  margin-left: 70px;
}

.company-page .content-main .greeting .text h2 {
  font-size: 60px;
  line-height: 1;
}

.company-page .content-main .greeting .text .sub-title {
  color: #96a8be;
  font-size: 20px;
  margin-top: 1em;
}

.company-page .content-main .greeting .text .message {
  font-weight: 100;
  line-height: 2;
  margin-top: 70px;
}

.company-page .content-main .greeting .text .sign {
  font-size: 14px;
  font-weight: bold;
  margin-top: 50px;
  text-align: right;
}

.company-page .content-main .greeting .text .sign img {
  margin-left: auto;
  margin-top: 20px;
  width: 160px;
}

.company-page .content-main .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
}

.company-page .content-main .overview .title {
  width: 300px;
}

.company-page .content-main .overview .title h2 {
  font-size: 60px;
  line-height: 1;
}

.company-page .content-main .overview .title .sub-title {
  color: #96a8be;
  font-size: 20px;
  margin-top: 1em;
}

.company-page .content-main .overview .address {
  margin-left: 70px;
}

.company-page .content-main .overview .address table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.company-page .content-main .overview .address table tr:not(:first-child) {
  margin-top: 40px;
  padding-top: 40px;
}

.company-page .content-main .overview .address table tr:not(:first-child)::before {
  background: left/cover url(../../images/company/lineX.svg) no-repeat;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  width: 100%;
}

.company-page .content-main .overview .address table th {
  text-align: left;
  width: 120px;
}

.company-page .content-main .overview .address table td {
  display: block;
  font-weight: 100;
  margin-left: 50px;
}

.company-page .content-main .map {
  margin-top: 100px;
}

.company-page .content-main .map iframe {
  height: 400px;
  width: 100%;
}
/*# sourceMappingURL=article-template.css.map */