@charset "UTF-8";
/* CategoryPage
--------------------------------------------------------------------------------------------*/
/* Button
--------------------------------------------------------------------------------------------*/
.button {
  background: #eb2936;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin-top: 60px;
  padding: 20px 30px;
}

.button-arrow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eb2936;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-top: 60px;
  padding: 20px 30px;
  width: 200px;
}

@media (max-width: 768px) {
  .button-arrow {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.button-line {
  overflow: hidden;
  position: relative;
}

.button-line::before {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  -webkit-filter: blur(3px);
          filter: blur(3px);
  height: 100%;
  left: -43px;
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 40px;
}

@media (min-width: 769px) {
  .button-line:hover::before {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}

/* entry-header(single/page)
--------------------------------------------------------------------------------------------*/
.entry-header {
  height: calc(180px + 120px);
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .entry-header {
    height: calc(180px + 50px);
  }
}

.entry-header .container {
  height: 100%;
}

.entry-header__title, .contact-header .entry-header__titleSub {
  bottom: calc( 120px + 21px + 25px + 14px);
  color: #000;
  font-size: 34px;
  font-weight: 500;
  max-width: 800px;
  position: absolute;
  word-break: break-word;
}

@media (max-width: 768px) {
  .entry-header__title, .contact-header .entry-header__titleSub {
    bottom: calc( 50px + 21px + 25px + 14px);
    font-size: 28px;
  }
}

.entry-header .breadcrumb {
  bottom: calc(120px + 25px);
  height: calc(14px * 1.5);
  left: -120px;
  position: absolute;
  width: 100%;
}

@media (max-width: 768px) {
  .entry-header .breadcrumb {
    bottom: calc(50px + 15px);
    left: -2.5%;
  }
}

.entry-header .breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .entry-header .breadcrumb ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.entry-header .breadcrumb ul li:not(:first-child)::before {
  color: #000;
  content: "−";
  margin-left: 20px;
}

.entry-header .breadcrumb ul li a,
.entry-header .breadcrumb ul li span {
  color: #000;
  font-size: 14px;
}

.entry-header .breadcrumb ul li a {
  font-weight: 500;
}

.entry-header .breadcrumb ul li a.c-trans-red span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.entry-header .breadcrumb ul li a.c-trans-red:hover span {
  color: #eb2936;
}

.entry-header .breadcrumb ul li span {
  margin-left: 20px;
}

.single-header {
  height: 180px;
}

.single-header .container {
  border-bottom: 1px solid #a5a5a5;
}

.single-header .entry-header__title, .single-header .contact-header .entry-header__titleSub, .contact-header .single-header .entry-header__titleSub {
  bottom: calc(21px + 25px + 14px);
}

@media (max-width: 768px) {
  .single-header .entry-header__title, .single-header .contact-header .entry-header__titleSub, .contact-header .single-header .entry-header__titleSub {
    bottom: calc(21px + (15px + 20px) + 14px);
  }
}

.single-header .breadcrumb {
  bottom: 25px;
}

@media (max-width: 768px) {
  .single-header .breadcrumb {
    bottom: calc(15px + 20px);
  }
}

.news-header,
.company-header,
.category-header,
.contact-header,
.search-header,
.notfound-header {
  background-repeat: no-repeat;
  background-size: cover;
}

.news-header::before,
.company-header::before,
.category-header::before,
.contact-header::before,
.search-header::before,
.notfound-header::before {
  bottom: calc(120px - 10px);
  color: #dce5f0;
  display: inline-block;
  font: bold 180px "Roboto Condensed", sans-serif;
  line-height: 1;
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .news-header::before,
  .company-header::before,
  .category-header::before,
  .contact-header::before,
  .search-header::before,
  .notfound-header::before {
    bottom: calc(50px - 10px);
    font-size: 90px;
  }
}

.news-header::after,
.company-header::after,
.category-header::after,
.contact-header::after,
.search-header::after,
.notfound-header::after {
  background: #fff;
  bottom: 0;
  content: "";
  display: block;
  height: 120px;
  left: -120px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

@media (max-width: 768px) {
  .news-header::after,
  .company-header::after,
  .category-header::after,
  .contact-header::after,
  .search-header::after,
  .notfound-header::after {
    height: 50px;
    left: -2.5%;
  }
}

.news-header .entry-header__title, .news-header .contact-header .entry-header__titleSub, .contact-header .news-header .entry-header__titleSub,
.company-header .entry-header__title,
.company-header .contact-header .entry-header__titleSub,
.contact-header .company-header .entry-header__titleSub,
.category-header .entry-header__title,
.category-header .contact-header .entry-header__titleSub,
.contact-header .category-header .entry-header__titleSub,
.contact-header .entry-header__title,
.contact-header .entry-header__titleSub,
.search-header .entry-header__title,
.search-header .contact-header .entry-header__titleSub,
.contact-header .search-header .entry-header__titleSub,
.notfound-header .entry-header__title,
.notfound-header .contact-header .entry-header__titleSub,
.contact-header .notfound-header .entry-header__titleSub {
  color: #fff;
}

.news-header .breadcrumb ul li a,
.news-header .breadcrumb ul li span,
.news-header .breadcrumb ul li:not(:first-child)::before,
.company-header .breadcrumb ul li a,
.company-header .breadcrumb ul li span,
.company-header .breadcrumb ul li:not(:first-child)::before,
.category-header .breadcrumb ul li a,
.category-header .breadcrumb ul li span,
.category-header .breadcrumb ul li:not(:first-child)::before,
.contact-header .breadcrumb ul li a,
.contact-header .breadcrumb ul li span,
.contact-header .breadcrumb ul li:not(:first-child)::before,
.search-header .breadcrumb ul li a,
.search-header .breadcrumb ul li span,
.search-header .breadcrumb ul li:not(:first-child)::before,
.notfound-header .breadcrumb ul li a,
.notfound-header .breadcrumb ul li span,
.notfound-header .breadcrumb ul li:not(:first-child)::before {
  color: #fff;
}

.news-header .breadcrumb ul li a.c-trans-red span,
.company-header .breadcrumb ul li a.c-trans-red span,
.category-header .breadcrumb ul li a.c-trans-red span,
.contact-header .breadcrumb ul li a.c-trans-red span,
.search-header .breadcrumb ul li a.c-trans-red span,
.notfound-header .breadcrumb ul li a.c-trans-red span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news-header .breadcrumb ul li a.c-trans-red:hover span,
.company-header .breadcrumb ul li a.c-trans-red:hover span,
.category-header .breadcrumb ul li a.c-trans-red:hover span,
.contact-header .breadcrumb ul li a.c-trans-red:hover span,
.search-header .breadcrumb ul li a.c-trans-red:hover span,
.notfound-header .breadcrumb ul li a.c-trans-red:hover span {
  color: #eb2936;
}

.category-header::before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.category-header .container {
  position: relative;
  z-index: 3;
}

.category-header-mold {
  background-image: url(../../images/category/mold/header.png);
}

.category-header-sand_casting {
  background-image: url(../../images/category/sand-casting/header.png);
}

.category-header-investment_casting {
  background-image: url(../../images/category/investment-casting/header.png);
}

.category-header-jewelry {
  background-image: url(../../images/category/jewelry/header.png);
}

.category-header-new_field {
  background-image: url(../../images/category/new-field/header.png);
}

.category-children-header {
  background: #fff;
  height: 220px;
  margin-bottom: 80px;
}

.category-children-header::after {
  display: none;
}

.category-children-header .container {
  border-bottom: 1px solid #a5a5a5;
  position: relative;
}

.category-children-header .entry-header__title, .category-children-header .contact-header .entry-header__titleSub, .contact-header .category-children-header .entry-header__titleSub {
  bottom: calc(21px + 45px + 14px);
  color: #000;
}

.category-children-header .breadcrumb {
  bottom: calc(45px);
  left: 0;
}

.category-children-header .breadcrumb ul li a,
.category-children-header .breadcrumb ul li span,
.category-children-header .breadcrumb ul li:not(:first-child)::before {
  color: #000;
}

.news-header {
  background-image: url(../../images/news/header.png);
}

.news-header::before {
  bottom: 65px;
  content: "NEWS";
  opacity: 0.4;
}

@media (max-width: 768px) {
  .news-header::before {
    bottom: calc(50px - 20px);
    opacity: 0.3;
  }
}

.contact-header {
  background: #fff;
}

.contact-header::before {
  bottom: 65px;
  content: "CONTACT";
  opacity: 0.4;
}

@media (max-width: 768px) {
  .contact-header::before {
    bottom: calc(50px - 20px);
    opacity: 0.3;
  }
}

.contact-header::after {
  display: none;
}


.contact-header .entry-header__title,
.contact-header .entry-header__titleSub {
  color: #000;
}

.contact-header .entry-header__titleSub {
  bottom: calc(120px + 14px);
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .contact-header .entry-header__titleSub {
    bottom: calc(50px + 21px + 24px);
    font-size: 12px;
  }
}

.contact-header .breadcrumb ul li:not(:first-child)::before {
  color: #000;
}

.contact-header .breadcrumb ul li a,
.contact-header .breadcrumb ul li span {
  color: #000;
}

.company-header {
  background-image: url(../../images/company/header.png);
}

.search-header {
  background: #fff;
}

.search-header::before {
  color: #f4f5f8;
  content: "SEARCH";
}

@media (max-width: 768px) {
  .search-header::before {
    bottom: calc(50px - 20px);
  }
}

.search-header::after {
  display: none;
}


.search-header .entry-header__title,
.search-header .contact-header .entry-header__titleSub,
.contact-header .search-header .entry-header__titleSub {
  bottom: calc(120px + 66px + 20px + 15px);
  color: #000;
}

@media (max-width: 768px) {
  
  .search-header .entry-header__title,
  .search-header .contact-header .entry-header__titleSub,
  .contact-header .search-header .entry-header__titleSub {
    bottom: calc(20px + 45px + 20px + 25px);
  }
}

.search-header__count {
  bottom: 120px;
  color: #000;
  line-height: 1;
  position: absolute;
}

@media (max-width: 768px) {
  .search-header__count {
    bottom: 20px;
    margin-bottom: 25px;
  }
}

.search-header__count--num, .search-header__count--unit {
  display: inline-block;
}

.search-header__count--num {
  font-size: 66px;
  vertical-align: sub;
}

@media (max-width: 768px) {
  .search-header__count--num {
    font-size: 45px;
  }
}

.search-header__count--unit {
  font-size: 34px;
  margin-left: 0.5em;
}

@media (max-width: 768px) {
  .search-header__count--unit {
    font-size: 15px;
    vertical-align: text-bottom;
  }
}

.search-header .breadcrumb {
  bottom: calc(120px + 66px);
}

@media (max-width: 768px) {
  .search-header .breadcrumb {
    bottom: calc(20px + 45px);
  }
}

.search-header .breadcrumb ul li:not(:first-child)::before {
  color: #000;
}

.search-header .breadcrumb ul li a,
.search-header .breadcrumb ul li span {
  color: #000;
}

.notfound-header {
  background: #fff;
}

@media (max-width: 768px) {
  .notfound-header {
    height: 180px;
  }
}

.notfound-header::before {
  content: "404 NOT FOUND";
  font-size: 110px;
  left: 0;
  margin: auto;
  text-align: center;
}

@media (max-width: 768px) {
  .notfound-header::before {
    font-size: 15vw;
  }
}

.notfound-header::after {
  display: none;
}

/* Post Card
--------------------------------------------------------------------------------------------*/
/* Post CardのVIEW MOREのアニメーション
--------------------------------------------------------------------------------------------*/
@media (min-width: 769px) {
  .post-card-content-trans-red .content,
  .post-card-content-trans-red .description {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .post-card-content-trans-red:hover .content .title,
  .post-card-content-trans-red:hover .content .description {
    color: #eb2936;
  }
}

@media (min-width: 769px) {
  .post-card-thumbnail-animation .thumbnail {
    overflow: hidden;
    position: relative;
  }
  .post-card-thumbnail-animation .thumbnail img {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .post-card-thumbnail-animation .thumbnail::before {
    color: #fff;
    content: "VIEW MORE";
    display: inline-block;
    font: bold 18px "Roboto Condensed", sans-serif;
    height: 1em;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    line-height: 1;
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
    z-index: 2;
  }
  .post-card-thumbnail-animation .thumbnail::after {
    -webkit-animation: circleRedOutPost 0.2s ease-in-out both;
            animation: circleRedOutPost 0.2s ease-in-out both;
    background: rgba(235, 41, 54, 0.6);
    border-radius: 50%;
    content: "";
    height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    position: absolute;
    -webkit-transform: scale(0);
            transform: scale(0);
    width: 100%;
    will-change: opacity, transform;
    z-index: 1;
  }
  .post-card-thumbnail-animation:hover .thumbnail img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .post-card-thumbnail-animation:hover .thumbnail::before {
    opacity: 1;
  }
  .post-card-thumbnail-animation:hover .thumbnail::after {
    -webkit-animation: circleRedPost 0.2s ease-in-out both;
            animation: circleRedPost 0.2s ease-in-out both;
  }
  .post-card-thumbnail-animation:hover .more::after {
    background-image: url(../../images/common/more-arrow-fill.svg);
  }
  @-webkit-keyframes circleRedPost {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @keyframes circleRedPost {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @-webkit-keyframes circleRedOutPost {
    0% {
      opacity: 1;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @keyframes circleRedOutPost {
    0% {
      opacity: 1;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
}

.post-card .thumbnail img {
  width: 100%;
}

.post-card .content .description {
  word-break: break-all;
}

.post-card .content .meta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-card .content .meta__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 180px;
}

.post-card .content .meta__label span {
  color: #fff;
  font-size: 14px;
  padding: 6px;
  text-align: center;
  width: 50%;
}

.post-card .content .meta__label--new {
  background: #96a8be;
}

.post-card .content .meta__label--category {
  background: #000;
}

.post-card .content .meta__date {
  color: #96a8be;
}

.post-card .content.c-trans-red .title,
.post-card .content.c-trans-red .description {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.post-card .content.c-trans-red:hover .title,
.post-card .content.c-trans-red:hover .description {
  color: #eb2936;
}

@media (max-width: 768px) {
  .post-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .post-card .thumbnail {
    max-width: 30%;
  }
  .post-card .thumbnail img {
    max-width: 200px;
    width: 100%;
  }
  .post-card .content {
    margin-left: 20px;
    padding-bottom: 15px;
    position: relative;
    width: 70%;
  }
  .post-card .content .meta__label {
    max-width: 180px;
    min-width: inherit;
    width: 100%;
  }
  .post-card .content .meta__label span {
    font-size: 10px;
    padding: 4px;
  }
  .post-card .content .meta__date {
    bottom: 0;
    font-size: 10px;
    line-height: 15px;
    position: absolute;
    right: 0;
  }
  .post-card .content .title {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 16px;
    font-weight: 500;
    -webkit-line-clamp: 2;
    margin-top: 10px;
    overflow: hidden;
    word-break: break-all;
  }
  .post-card .content .description {
    display: none;
  }
}

@media (min-width: 769px) {
  .post-card-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

@media (min-width: 769px) and (min-width: 769px) {
  .post-card-large img {
    max-width: 680px;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .post-card-large .content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 580px;
    padding: 50px 0 0 80px;
    width: 100%;
  }
  .post-card-large .title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    word-break: break-all;
  }
  .post-card-large .description {
    margin-top: 60px;
  }
}

@media (min-width: 769px) {
  .post-card-middle img {
    margin: auto;
    width: 100%;
  }
  .post-card-middle .meta {
    margin-top: 20px;
  }
  .post-card-middle .title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    word-break: break-all;
  }
  .post-card-middle .description {
    margin-top: 60px;
  }
}

.post-card-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-card-small .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 30px;
  width: calc(70% - 30px);
}

@media (max-width: 768px) {
  .post-card-small .content {
    margin-left: 20px;
  }
}

.post-card-small .title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  word-break: break-all;
}

.post-card-small .description {
  display: none;
}

.post-card-wide .title {
  font-size: 22px;
  word-break: break-all;
}

.post-card-wide .description {
  margin-top: 1em;
}

.articles-link .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.articles-link .column .card-wrap {
  width: calc((100% - 40px) / 2);
}

@media (max-width: 768px) {
  .articles-link .column .card-wrap {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .articles-link .column .card-wrap:nth-child(2n) {
    margin-left: 40px;
  }
  .articles-link .column .card-wrap:not(:nth-child(1)):not(:nth-child(2)) {
    border-top: 1px solid #dce5f0;
    margin-top: 15px;
    padding-top: 15px;
  }
}

@media (max-width: 768px) {
  .articles-link .column .card-wrap:not(:nth-child(1)) {
    margin-top: 20px;
  }
}

.articles-link .column .card-wrap .article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles-link .column .card-wrap .article-card .thumbnail {
  max-width: 200px;
  min-width: 30%;
  width: 30%;
}

@media (max-width: 768px) {
  .articles-link .column .card-wrap .article-card .thumbnail {
    min-width: 100px;
    width: 100px;
  }
}

.articles-link .column .card-wrap .article-card .content {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .articles-link .column .card-wrap .article-card .content {
    margin-left: 20px;
  }
}

.articles-link .column .card-wrap .article-card .date {
  color: #96a8be;
  display: block;
  font-size: 14px;
}

@media (max-width: 768px) {
  .articles-link .column .card-wrap .article-card .date {
    line-height: 1;
  }
}

.articles-link .column .card-wrap .article-card .title {
  font-size: 16px;
  line-height: 2;
  word-break: break-all;
}

@media (max-width: 768px) {
  .articles-link .column .card-wrap .article-card .title {
    line-height: 1.4;
  }
}

.products-link .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .products-link .column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 769px) {
  .products-link .column .card-wrap {
    width: calc((100% - 80px) / 3);
  }
  .products-link .column .card-wrap:nth-child(n + 5) {
    margin-top: 40px;
  }
  .products-link .column .card-wrap:not(:first-child):not(:nth-child(5)) {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .products-link .column .card-wrap {
    width: 100%;
  }
  .products-link .column .card-wrap:not(:first-child) {
    margin-top: 20px;
  }
}

.products-link .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 769px) {
  .products-link .square .card-wrap {
    width: calc((100% - 90px) / 4);
  }
  .products-link .square .card-wrap:not(:first-child):not(:nth-child(4n + 1)) {
    margin-left: 30px;
  }
  .products-link .square .card-wrap:not(:first-child):not(:nth-child(-n + 4)) {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .products-link .square .card-wrap {
    width: 100%;
  }
  .products-link .square .card-wrap:not(:first-child) {
    margin-top: 15px;
  }
}

.products-link .square .post-card-product {
  border: 1px solid #dce5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 15px;
}

@media (max-width: 768px) {
  .products-link .square .post-card-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.products-link .square .post-card-product .post-thumbnail {
  width: 100%;
}

.products-link .square .post-card-product .thumbnail .post-thumbnail img {
  width: 100%;
}

@media (max-width: 768px) {
  .products-link .square .post-card-product .thumbnail .post-thumbnail img {
    min-width: 100px;
    width: 100px;
  }
}

@media (min-width: 769px) {
  .products-link .square .post-card-product .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products-link .square .post-card-product .content .title,
  .products-link .square .post-card-product .content .more {
    margin-top: 10px;
  }
}

.post-card-product .content .title {
  word-break: break-all;
}

@media (min-width: 769px) {
  .post-card-product .content .title {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .post-card-product .content .title {
    line-height: 1.4;
    margin-top: 0;
  }
}

.post-card-product .content .more {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.post-card-product .content .more::after {
  background: center/contain url(../../images/common/more-arrow.svg);
  content: "";
  display: inline-block;
  height: 1em;
  margin-left: 8px;
  width: 1em;
}

.post-card-product .content .description {
  word-break: break-all;
}

@media (max-width: 768px) {
  .post-card-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .post-card-product .post-thumbnail img {
    min-width: 100px;
    width: 100px;
  }
  .post-card-product .content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 20px;
  }
}

.the-product-link .square, .category-child-product-link .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 769px) {
  .the-product-link .square .card-wrap, .category-child-product-link .square .card-wrap {
    width: calc((100% - 90px) / 4);
  }
  .the-product-link .square .card-wrap:not(:first-child):not(:nth-child(4n + 1)), .category-child-product-link .square .card-wrap:not(:first-child):not(:nth-child(4n + 1)) {
    margin-left: 30px;
  }
  .the-product-link .square .card-wrap:not(:first-child):not(:nth-child(-n + 4)), .category-child-product-link .square .card-wrap:not(:first-child):not(:nth-child(-n + 4)) {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .the-product-link .square .card-wrap, .category-child-product-link .square .card-wrap {
    width: 100%;
  }
  .the-product-link .square .card-wrap:not(:first-child), .category-child-product-link .square .card-wrap:not(:first-child) {
    margin-top: 15px;
  }
}

.the-product-link .square .post-card-product, .category-child-product-link .square .post-card-product {
  border: 1px solid #dce5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 15px;
}

@media (max-width: 768px) {
  .the-product-link .square .post-card-product, .category-child-product-link .square .post-card-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.the-product-link .square .post-card-product .post-thumbnail, .category-child-product-link .square .post-card-product .post-thumbnail {
  width: 100%;
}

.the-product-link .square .post-card-product .thumbnail .post-thumbnail img, .category-child-product-link .square .post-card-product .thumbnail .post-thumbnail img {
  width: 100%;
}

@media (max-width: 768px) {
  .the-product-link .square .post-card-product .thumbnail .post-thumbnail img, .category-child-product-link .square .post-card-product .thumbnail .post-thumbnail img {
    min-width: 100px;
    width: 100px;
  }
}

@media (min-width: 769px) {
  .the-product-link .square .post-card-product .content, .category-child-product-link .square .post-card-product .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .the-product-link .square .post-card-product .content .title, .category-child-product-link .square .post-card-product .content .title,
  .the-product-link .square .post-card-product .content .more,
  .category-child-product-link .square .post-card-product .content .more {
    margin-top: 10px;
  }
}

.the-product-link .wide, .category-child-product-link .wide {
  margin-top: 0;
  position: relative;
}

.the-product-link .wide::before, .category-child-product-link .wide::before {
  background: #dee5ef;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 1px;
}

.the-product-link .wide .post-card-product, .category-child-product-link .wide .post-card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.the-product-link .wide .post-card-product .post-thumbnail, .category-child-product-link .wide .post-card-product .post-thumbnail {
  margin-top: 0;
}

.the-product-link .wide .post-card-product .post-thumbnail img, .category-child-product-link .wide .post-card-product .post-thumbnail img {
  max-width: 140px;
}

.the-product-link .wide .post-card-product .content, .category-child-product-link .wide .post-card-product .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
}

.the-product-link .wide .post-card-product .content .date, .category-child-product-link .wide .post-card-product .content .date {
  color: #96a8be;
  font-size: 16px;
}

.the-product-link .wide .post-card-product .content .title, .category-child-product-link .wide .post-card-product .content .title {
  color: #000;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 5px;
}

.category-child-product-link .square {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category-child-product-link .square .card-wrap {
  width: calc((100% - 40px) / 2);
}

@media (min-width: 769px) {
  .category-child-product-link .square .card-wrap:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 40px;
  }
  .category-child-product-link .square .card-wrap:not(:first-child):not(:nth-child(4n + 1)) {
    margin-left: 0;
  }
  .category-child-product-link .square .card-wrap:nth-child(2n):not(.square-second__trigger-wrap) {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .category-child-product-link .square .card-wrap {
    width: 100%;
  }
  .category-child-product-link .square .card-wrap:not(:nth-child(1)) {
    margin-top: 20px;
  }
}

.category-child-product-link .square .post-card-product {
  padding: 40px;
  width: 100%;
}

@media (max-width: 1080px) {
  .category-child-product-link .square .post-card-product {
    padding: 20px;
  }
}

.category-child-product-link .square .post-card-product .content .title {
  font-size: 20px;
}

.category-child-product-link .square .post-card-product .content .description {
  font-weight: 100;
}

@media (min-width: 769px) {
  .category-child-product-link .square .post-card-product .content .title,
  .category-child-product-link .square .post-card-product .content .description,
  .category-child-product-link .square .post-card-product .content .more {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .category-child-product-link .square .post-card-product .content .title {
    font-size: 16px;
  }
  .category-child-product-link .square .post-card-product .content .description {
    display: none;
  }
  .category-child-product-link .square .post-card-product .content .more {
    margin-top: 20px;
  }
}

.category-child-product-link .square-second {
  margin-top: 40px;
  max-height: 180px;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

@media (max-width: 768px) {
  .category-child-product-link .square-second {
    margin-top: 20px;
  }
}

.category-child-product-link .square-second::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.9)), to(#fff));
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
  bottom: 0;
  content: "";
  display: block;
  height: 180px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.category-child-product-link .square-second.is-show::before {
  background: none;
}

.category-child-product-link .square-second .square-second__trigger-wrap {
  bottom: 30px;
  margin-left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.category-child-product-link .square-second__checkbox {
  display: none;
}

.category-child-product-link .square-second__checkbox:checked + .square-second__trigger::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.category-child-product-link .square-second__checkbox:checked + .square-second__trigger:hover::before {
  -webkit-animation: none;
          animation: none;
}

.category-child-product-link .square-second__trigger {
  background: #000;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: auto;
  max-width: 230px;
  padding: 5px 1em 25px;
  position: relative;
  text-align: center;
  width: 100%;
}

.category-child-product-link .square-second__trigger::before {
  background: center/contain url(../../images/common/down-arrow-white.svg) no-repeat;
  bottom: 5px;
  content: "";
  display: block;
  height: 12px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 12px;
}

.category-child-product-link .square-second__trigger:hover::before {
  -webkit-animation: moveArrowY 1s ease-in-out alternate infinite;
          animation: moveArrowY 1s ease-in-out alternate infinite;
}

@-webkit-keyframes moveArrowY {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
}

@keyframes moveArrowY {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  100% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
}

.category-child-product-link .wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category-child-product-link .wide .card-wrap {
  border-bottom: 1px solid #dce5f0;
  padding-bottom: 20px;
  width: calc((100% - 40px) / 2);
}

@media (min-width: 769px) {
  .category-child-product-link .wide .card-wrap:nth-child(2n) {
    margin-left: 40px;
  }
  .category-child-product-link .wide .card-wrap:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 40px;
  }
}

.category-child-product-link .wide .post-card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.category-child-product-link .wide .post-card-product .thumbnail .post-thumbnail img {
  height: 150px;
  min-width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 150px;
}

.category-child-product-link .wide .post-card-product .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
}

.category-child-product-link .wide .post-card-product .content .title {
  font-size: 20px;
}

.category-child-product-link .wide .post-card-product .content .description {
  font-weight: 100;
  margin-top: 20px;
}

@media (min-width: 769px) {
  .category-child-product-link .wide .post-card-product .content .title,
  .category-child-product-link .wide .post-card-product .content .description,
  .category-child-product-link .wide .post-card-product .content .more {
    margin-top: 10px;
  }
}

.swiper-container {
  width: 100%;
}

.swiper-slide {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
  text-align: center;
  width: 60%;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 80%;
  }
}

.swiper-slide img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.swiper-pagination-fraction {
  background: #000;
  bottom: 0;
  color: #fff;
  font: 12px "Roboto Condensed", sans-serif;
  left: auto;
  padding: 1em 3em;
  right: 0;
  width: auto;
}

.swiper-button-prev,
.swiper-button-next {
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
  top: 0;
}

.swiper-button-prev::after {
  content: "<";
}

.swiper-button-next::after {
  content: ">";
}

.mold-slider {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.mold-slider__box {
  height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  max-width: 600px;
  position: absolute;
  width: 60%;
}

@media (max-width: 768px) {
  .mold-slider__box {
    width: 80%;
  }
}

.mold-slider__box .swiper-pagination-fraction,
.mold-slider__box .swiper-button-next,
.mold-slider__box .swiper-button-prev {
  background: #000;
  position: absolute;
}

.mold-slider__box .swiper-button-prev {
  left: calc(-15px + -30px);
}

@media (max-width: 768px) {
  .mold-slider__box .swiper-button-prev {
    left: calc(-15px + -20px);
  }
}

.mold-slider__box .swiper-button-next {
  right: calc(-15px + -30px);
}

@media (max-width: 768px) {
  .mold-slider__box .swiper-button-next {
    right: calc(-15px + -20px);
  }
}

.mold-slider__box .swiper-button-prev,
.mold-slider__box .swiper-button-next {
  height: 80px;
  width: 30px;
}

@media (max-width: 768px) {
  .mold-slider__box .swiper-button-prev,
  .mold-slider__box .swiper-button-next {
    height: 60px;
    width: 20px;
  }
}

.mold-slider__box .swiper-button-prev::after,
.mold-slider__box .swiper-button-next::after {
  color: #fff;
  font-size: 13px;
}

@media (max-width: 768px) {
  .mold-slider__box .swiper-button-prev::after,
  .mold-slider__box .swiper-button-next::after {
    font-size: 10px;
  }
}

.category-child-slider .swiper-slide {
  width: 80%;
}

.category-child-slider__box {
  height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  max-width: 600px;
  position: absolute;
  width: 80%;
}

.category-child-slider__box .swiper-pagination-fraction {
  font-size: 12px;
  padding: 0.5em 2em;
}

.category-child-slider__box .swiper-button-next,
.category-child-slider__box .swiper-button-prev {
  background: #fff;
  position: absolute;
}

.category-child-slider__box .swiper-button-prev {
  left: 0;
}

.category-child-slider__box .swiper-button-next {
  right: 0;
}

.category-child-slider__box .swiper-button-prev,
.category-child-slider__box .swiper-button-next {
  height: 48px;
  width: 18px;
}

.category-child-slider__box .swiper-button-prev::after,
.category-child-slider__box .swiper-button-next::after {
  color: #000;
  font-size: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .related-slider {
    padding-bottom: calc(30px + 20px);
  }
}

@media (max-width: 768px) {
  .related-slider .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
}

.related-slider .swiper-slide {
  max-width: inherit;
  text-align: left;
  width: 100%;
}

@media (min-width: 769px) {
  .related-slider .swiper-slide {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .related-slider .swiper-slide {
    display: block;
  }
}

.related-slider-navi {
  height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

.related-slider-navi .swiper-pagination-fraction,
.related-slider-navi .swiper-button-next,
.related-slider-navi .swiper-button-prev {
  background: #000;
  position: absolute;
}

.related-slider-navi .swiper-button-prev {
  left: 0;
}

.related-slider-navi .swiper-button-next {
  right: 0;
}

.related-slider-navi .swiper-button-prev,
.related-slider-navi .swiper-button-next {
  height: 80px;
  width: 30px;
}

@media (max-width: 768px) {
  .related-slider-navi .swiper-button-prev,
  .related-slider-navi .swiper-button-next {
    bottom: 0;
    height: 30px;
    margin-bottom: 0;
    width: calc((100% - 1px) / 2);
  }
}

.related-slider-navi .swiper-button-prev::after,
.related-slider-navi .swiper-button-next::after {
  color: #fff;
  font-size: 13px;
}

.category-lead {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 110px;
}

.category-lead__text {
  width: 45%;
}

.category-lead__text.new_field {
  width: 100%;
}

.category-lead__image {
  width: 55%;
}

@media (max-width: 768px) {
  .category-lead__text, .category-lead__image {
    width: 100%;
  }
}

.category-lead__image img {
  margin-left: auto;
  max-width: 600px;
  width: 100%;
}

@media (max-width: 1080px) {
  .category-lead__image img {
    margin-right: -10px;
  }
}

@media (max-width: 768px) {
  .category-lead__image img {
    margin: 30px auto 0;
  }
}

.category-lead__text {
  background: top right/contain url(../../images/common/geometric-pattern.svg) no-repeat;
}

.category-lead__text--headingEn {
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 120%;
}

@media (max-width: 768px) {
  .category-lead__text--headingEn {
    font-size: 100px;
    font-size: 13.02083vw;
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
}

.category-lead__text--headingSub {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.8;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .category-lead__text--headingSub {
    font-size: 40px;
    font-size: 5.20833vw;
    margin-top: 1.5em;
  }
}

.category-lead__text--description {
  line-height: 2;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .category-lead__text--description {
    margin-top: 1.5em;
  }
}

.category-lead__text.new_field .category-lead__text--headingEn {
  width: 100%;
}

.category-lead-child-jewelry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

.category-lead-child-jewelry__image, .category-lead-child-jewelry__description {
  width: calc((100% - 60px) / 2);
}

.category-lead-child-jewelry__description {
  border-bottom: 1px solid #dce5f0;
}

.category-lead-child-jewelry__description--title {
  font-size: 40px;
  font-weight: 400;
}

.category-lead-child-jewelry__description--text {
  line-height: 1.8;
  margin-top: 35px;
}

.category-lead-child-jewelry__description--subTitle {
  font-size: 12px;
  font-weight: 300;
  margin-top: 24px;
  text-transform: uppercase;
}

.category-lead-child-others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.category-lead-child-others__slider {
  border-bottom: 1px solid #96a8be;
  width: 100%;
}

.category-lead-child-others__slider--title {
  font-size: 12px;
  font-weight: 300;
  margin-top: 24px;
  text-transform: uppercase;
}

.category-description-child-others {
  margin: 80px auto 20px;
  max-width: 920px;
}

.category-description-child-others__title {
  border-bottom: 1px solid #dce5f0;
  font-weight: 400;
  line-height: 2;
}

.category-description-child-others__text {
  line-height: 1.8;
  margin-top: 25px;
}

.category-movie-child-others {
  background: #f5f5f5;
  margin: 80px auto 0;
  max-width: 920px;
  padding: 40px 70px;
  text-align: center;
}

@media (max-width: 768px) {
  .category-movie-child-others {
    padding: 10px;
  }
}

.category-movie-child-others iframe {
  width: 100%;
}

.category-movie-child-others__caption {
  font-weight: 100;
  margin-top: 1em;
  text-align: left;
}

.category-borderY {
  padding: 40px 0;
  position: relative;
}

.category-borderY::before, .category-borderY::after {
  background: #dce5f0;
  content: "";
  display: inline-block;
  height: 1px;
  left: 0;
  margin: auto;
  max-width: 1080px;
  position: absolute;
  right: 0;
  width: 100%;
}

.category-borderY::before {
  top: 0;
}

.category-borderY::after {
  bottom: 0;
}

.category-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .category-menu > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.category-menu__block {
  border: 1px solid #dce5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px 25px 15px;
  width: calc((100% - (25px * 3)) / 4);
}

@media (max-width: 768px) {
  .category-menu__block {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .category-menu__block:not(:nth-child(1)) {
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  .category-menu__block:not(:nth-child(1)) {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .category-menu__block img {
    margin: auto;
    max-width: 300px;
  }
}

.category-menu__block--title {
  font-weight: bold;
  margin-top: 15px;
}

.category-menu__block--link {
  margin-top: 5px;
}

.category-menu__block--link li {
  display: inline;
}

.category-menu__block--link li:not(:nth-child(1)) {
  margin-left: 4px;
}

.category-menu__block--link li:not(:nth-child(1))::before {
  content: "/";
  display: inline-block;
  margin-right: 4px;
}

.category-process {
  margin-top: 120px;
}

.category-process h3 {
  font-size: 28px;
}

.category-process__block {
  background: #f4f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  padding: 40px;
}

@media (max-width: 1080px) {
  .category-process__block {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .category-process__block {
    padding: 10px;
    width: 100%;
  }
}

.category-process__block--box {
  background: #fff;
  padding: 50px 30px 40px;
  position: relative;
  text-align: center;
  width: calc((100% - (30px * 3)) / 4);
}

@media (max-width: 768px) {
  .category-process__block--box {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .category-process__block--box:not(:nth-child(1)):not(:nth-child(5)) {
    margin-left: 30px;
  }
  .category-process__block--box:not(:nth-child(1)):not(:nth-child(5))::before {
    border-bottom: 4px solid transparent;
    border-left: 6.9282px solid #96a8be;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    content: "";
    display: inline-block;
    left: -18px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media (min-width: 769px) {
  .category-process__block--box:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
    margin-top: 30px;
  }
}

.category-process__block--box .label {
  background: #000;
  color: #fff;
  font: 500 12px "Roboto Condensed", sans-serif;
  left: 0;
  line-height: 1;
  padding: 1em 2em;
  position: absolute;
  top: 0;
}

.category-process__block--box .label.last {
  background: #eb2936;
}

@media (max-width: 768px) {
  .category-process__block--box .label {
    width: 100%;
  }
}

.category-process__block--box::after {
  background: center/contain url(../../images/common/down-arrow.svg) no-repeat;
  bottom: 15px;
  content: "";
  display: inline-block;
  height: 8px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 8px;
}

.category-process__block--box .investment_casting {
  height: 110px;
  margin: auto;
}

.category-process__block--box .sand_casting {
  height: 80px;
  margin: auto;
}

.category-process__block--box figcaption {
  margin-top: 20px;
}

.category-process__block--box .small {
  font-size: 0.8em;
  margin-left: 5px;
}

.category-step {
  margin-top: 70px;
}

.category-step .block {
  background: #f4f5f8;
  padding: 40px;
}

@media (max-width: 1080px) {
  .category-step .block {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .category-step .block {
    padding: 10px;
  }
}

.category-step .block:not(:nth-of-type(1)) {
  margin-top: 100px;
  position: relative;
}

.category-step .block:not(:nth-of-type(1))::before {
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 13.8564px solid #96a8be;
  content: "";
  display: inline-block;
  left: 50%;
  position: absolute;
  top: -56px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.category-step .block__inner {
  background: #fff;
  padding: 50px;
}

@media (max-width: 1080px) {
  .category-step .block__inner {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .category-step .block__inner {
    padding: 20px;
  }
}

.category-step .block__column {
  border-bottom: 1px solid #dce5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  padding: 0 10px 50px;
}

@media (max-width: 768px) {
  .category-step .block__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0;
    padding: 0 0 30px;
    position: relative;
  }
}

.category-step .block__text {
  width: 60%;
}

@media (max-width: 768px) {
  .category-step .block__text {
    width: 100%;
  }
}

.category-step .block__text .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dce5f0;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .category-step .block__text .flex {
    padding-bottom: 5px;
  }
}

.category-step .block__label {
  background: #000;
  display: inline-block;
  padding: 0.5em 2em;
}

.category-step .block__label.last {
  background: #eb2936;
}

@media (max-width: 768px) {
  .category-step .block__label {
    font-size: 12px;
    position: absolute;
    top: 0;
  }
}

.category-step .block__title {
  font-size: 35px;
  font-weight: 400;
  margin-left: 20px;
}

@media (max-width: 1080px) {
  .category-step .block__title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .category-step .block__title {
    font-size: 24px;
    margin-left: 0;
    margin-top: 15px;
  }
}

.category-step .block__image {
  background: #f4f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35px;
  width: 40%;
}

@media (max-width: 768px) {
  .category-step .block__image {
    margin-left: 0;
    padding: 40px 20px 20px;
    width: 100%;
  }
}

.category-step .block__image img {
  height: 90%;
  margin: auto;
  max-height: 180px;
}

@media (max-width: 1080px) {
  .category-step .block__image img {
    height: auto;
    max-height: inherit;
    max-width: 250px;
    width: 60%;
  }
}

.category-step .block__image img.sand_casting {
  height: auto;
  max-width: 200px;
  width: 90%;
}

@media (max-width: 1080px) {
  .category-step .block__image img.sand_casting {
    max-width: 180px;
    width: 60%;
  }
}

.category-step .block__image img.investment_casting {
  max-height: 160px;
  width: auto;
}

@media (max-width: 1080px) {
  .category-step .block__image img.investment_casting {
    max-height: 120px;
  }
}

.category-step .block__description {
  line-height: 2;
  margin-top: 45px;
}

@media (max-width: 768px) {
  .category-step .block__description {
    margin-top: 25px;
  }
}

.category-step .block__items {
  margin-top: 40px;
}

.category-children:not(:first-child) {
  margin-top: 90px;
}

.category-children__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.category-children__top--text, .category-children__top--image {
  width: 50%;
}

@media (max-width: 768px) {
  .category-children__top--text, .category-children__top--image {
    width: 100%;
  }
}

.category-children__top--text .label {
  background: #000;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  padding: 0.25em 1em;
}

@media (max-width: 768px) {
  .category-children__top--text .label {
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0;
  }
}

.category-children__top--text .title {
  font-size: 40px;
  font-weight: 400;
  margin-top: 35px;
}

@media (max-width: 768px) {
  .category-children__top--text .title {
    font-size: 24px;
  }
}

.category-children__top--text .description {
  line-height: 2;
  margin-top: 45px;
}

@media (max-width: 768px) {
  .category-children__top--image img {
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 100%;
  }
}

.category-children__bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 30px;
  position: relative;
}

.category-children__bottom--category {
  font-size: 12px;
  padding-top: 30px;
  position: relative;
}

.category-children__bottom--category::before {
  background: #707070;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 470px;
}

@media (max-width: 768px) {
  .category-children__bottom--category::before {
    width: 50%;
  }
}

.category-children__bottom .view-all .button-arrow {
  margin-top: 0;
}

@media (max-width: 768px) {
  .category-children__bottom .view-all .button-arrow {
    font-size: 12px;
  }
}

.category-children.left-text .category-children__top--text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-right: 45px;
}

@media (max-width: 768px) {
  .category-children.left-text .category-children__top--text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-right: 0;
  }
}

.category-children.left-text .category-children__top--image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .category-children.left-text .category-children__top--image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-left: 0;
  }
}

.category-children.right-text .category-children__top--text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-left: 45px;
}

@media (max-width: 768px) {
  .category-children.right-text .category-children__top--text {
    padding-left: 0;
  }
}

.category-children.right-text .category-children__top--image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-right: 20px;
}

@media (max-width: 768px) {
  .category-children.right-text .category-children__top--image {
    padding-right: 0;
  }
}

.category-table {
  margin-top: 90px;
}

.category-table table {
  margin: 0 auto;
  max-width: calc(1080px - (40px * 2) - (50px * 2));
  width: 100%;
}

@media (max-width: 768px) {
  .category-table table {
    display: block;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.category-table tr {
  border-bottom: 1px solid #aaa;
}

.category-table th,
.category-table tr td {
  min-width: 90px;
  padding: 1em;
  text-align: center;
}

.category-table th {
  background: #888;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  position: relative;
}

.category-table th::after {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  content: "";
  height: 80%;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}

.category-table td {
  background: #fff;
  font-weight: 100;
}

.category-table td img {
  margin: auto;
  max-width: 110px;
}

.category-table td figcaption {
  margin-top: 8px;
}

.category-table td.common {
  background: #f5f5f5;
}

.category-table td:not(.common):not(.sticky) {
  position: relative;
}

.category-table td:not(.common):not(.sticky)::before {
  background: #dce5f0;
  bottom: 0;
  content: "";
  height: 80%;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 1px;
}

.category-table .circle {
  background: #dce5f0;
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  width: 15px;
}

.category-table .circle-red {
  background: #eb2936;
}

.category-table .circle-blue {
  background: #1696e6;
}

@media (max-width: 768px) {
  .category-table .sticky {
    left: 0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
  }
}

.category-table-child-jewelry {
  margin: 30px auto 0;
  max-width: 900px;
}

.category-table-child-jewelry table thead th {
  background: #888;
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
  padding: 1em;
  position: relative;
  text-align: center;
}

.category-table-child-jewelry table tbody tr {
  border-bottom: 1px solid #aaa;
}

.category-table-child-jewelry table tbody tr td {
  border-top: none;
  padding: 1em;
  text-align: center;
}

.category-related {
  font-size: 28px;
  margin: 0 auto;
  max-width: calc(1080px - (40px * 2) - (50px * 2));
  padding-top: 20px;
}

.category-related h4 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 80px;
}

.category-related .products-link {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .category-related .products-link {
    margin-top: 20px;
  }
}

.category-related .products-link .column {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 769px) {
  .category-related .products-link .card-wrap {
    width: calc((100% - 40px * 3) / 4);
  }
}

.category-related .products-link .post-card-product .title {
  font-size: 16px;
}

.category-related .products-link .post-card-product .more {
  display: none;
}

.category-related .articles-link {
  margin-top: 40px;
}

@media (max-width: 768px) {
  .category-related .articles-link {
    margin-top: 20px;
  }
}

.category-child-product-link {
  margin: 80px auto 0;
  max-width: 100%;
  width: 920px;
}

@media (min-width: 769px) {
  .view-all .button-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
  }
}
/*# sourceMappingURL=category.css.map */