@charset "UTF-8";
/* Header
--------------------------------------------------------------------------------------------*/
.header {
  background: #fff;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

@media (max-width: 768px) {
  .header {
    height: 65px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
}

.header__logo {
  height: 100%;
}

.header__logo .logo {
  display: block;
  height: 100%;
  padding-left: 40px;
  padding-top: 15px;
}

@media (max-width: 1080px) {
  .header__logo .logo {
    padding-left: 2.31481vw;
  }
}

@media (max-width: 768px) {
  .header__logo .logo {
    padding-left: 0.92593vw;
    padding-top: 0;
  }
}

.header__logo .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  margin-bottom: auto;
}

@media (max-width: 1080px) {
  .header__logo .logo a {
    height: 6.01852vw;
  }
}

@media (max-width: 768px) {
  .header__logo .logo a {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .header__logo .logo a img {
    height: calc(100% / 2);
    margin: auto;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .header__menu .header__content {
    background: #111;
    height: calc(100vh - 65px);
    left: 100%;
    opacity: 0;
    overflow-y: scroll;
    position: absolute;
    top: 65px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 100%;
    will-change: opacity, transform;
  }
  .header__menu .header__content.js-active {
    opacity: 1;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.header__menu .header__content .header__lang {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__menu .header__content .header__lang .select {
  color: #96a8be;
  display: inline-block;
}

.header__menu .header__content .header__lang .search-form {
  max-width: 260px;
  position: relative;
}

.header__menu .header__content .header__lang .search-form__input {
  background: #f4f5f8;
  border: none;
  font-size: 12px;
  line-height: 1;
  padding: 0.5em 2em 0.5em 1em;
}

.header__menu .header__content .header__lang .search-form__button {
  background: #f4f5f8;
  bottom: 0;
  margin: auto;
  padding: 3px;
  position: absolute;
  right: 0;
  top: 0;
}

.header__menu .header__content .header__lang .search-form__button svg {
  height: 15px;
  width: 15px;
}

.header__menu .header__content .header__lang .search-form__button svg .search-icon {
  stroke: #96a8be;
}

@media (max-width: 768px) {
  .header__menu .header__content .header__lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px auto 0;
    text-align: center;
    width: 90%;
  }
  .header__menu .header__content .header__lang .select {
    width: 100%;
  }
  .header__menu .header__content .header__lang .search {
    width: 100%;
  }
}

.header__menu .header__content .header__list {
  list-style: none;
}

.header__menu .header__content .header__list > li {
  display: inline-block;
}

@media (max-width: 768px) {
  .header__menu .header__content .header__list > li {
    display: block;
  }
}

.header__menu .header__content .header__list > li:not(:first-child) {
  margin-left: 20px;
}

@media (max-width: 1080px) {
  .header__menu .header__content .header__list > li:not(:first-child) {
    margin-left: 1.85185vw;
  }
}

@media (max-width: 768px) {
  .header__menu .header__content .header__list > li:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 0;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media (min-width: 769px) {
  .header__menu .header__content .header__list > li:nth-of-type(1) .sub .container > ul > li {
    width: calc((100% / 5) - 10px);
  }
  .header__menu .header__content .header__list > li:nth-of-type(2) .sub .container > ul > li {
    width: calc((100% / 3) - 10px);
  }
  .header__menu .header__content .header__list > li:nth-of-type(3) .sub .container > ul > li {
    width: calc((100% / 3) - 10px);
  }
  .header__menu .header__content .header__list > li:nth-of-type(4) .sub .container > ul > li {
    width: calc((100% / 3) - 10px);
  }
  .header__menu .header__content .header__list > li:nth-of-type(5) .sub .container > ul > li {
    width: calc((100% / 4) - 10px);
  }
}

.header__menu .header__content .header__list > li > a {
  color: #333;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 1080px) {
  .header__menu .header__content .header__list > li > a {
    font-size: 1.2963vw;
  }
}

@media (max-width: 768px) {
  .header__menu .header__content .header__list > li > a {
    color: #fff;
    display: block;
    font-size: 14px;
    padding-right: 20px;
    position: relative;
  }
  .header__menu .header__content .header__list > li > a::before {
    content: "▲";
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__menu .header__content .header__list > li > a::after {
    color: #eb2936;
    content: attr(data-subtitle);
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
  }
}

.header__menu .header__content .header__list > li > a:hover {
  color: #eb2936;
}

@media (min-width: 769px) {
  .header__menu .header__content .header__list > li .sub {
    background: black;
    height: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 100px;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
    visibility: hidden;
    width: 100%;
    z-index: 99;
  }
}

@media (max-width: 768px) {
  .header__menu .header__content .header__list > li .sub {
    top: 65px;
  }
}

.header__menu .header__content .header__list > li .sub .container {
  max-width: 1040px;
}

@media (max-width: 768px) {
  .header__menu .header__content .header__list > li .sub .container {
    margin: 0;
  }
}

.header__menu .header__content .header__list > li .sub .container > p {
  font-size: 30px;
  white-space: nowrap;
}

@media (max-width: 1080px) {
  .header__menu .header__content .header__list > li .sub .container > p {
    font-size: 2.77778vw;
    padding-top: 1.38889vw;
  }
}

.header__menu .header__content .header__list > li .sub .container > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 150px;
}

@media (max-width: 1080px) {
  .header__menu .header__content .header__list > li .sub .container > ul {
    margin-left: 13.88889vw;
  }
}

.header__menu .header__content .header__list > li .sub .container > ul > li {
  margin-left: 10px;
  margin-top: 15px;
  padding-left: calc(14px / 2);
  position: relative;
}

.header__menu .header__content .header__list > li .sub .container > ul > li.grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__menu .header__content .header__list > li .sub .container > ul > li::before {
  color: #eb2936;
  content: ">";
  display: inline-block;
  left: 0;
  position: absolute;
}

.header__menu .header__content .header__list > li .sub .container > ul > li > a {
  color: #fff;
  font-size: 13px;
  margin-left: calc(13px / 2);
  position: relative;
}

@media (max-width: 1080px) {
  .header__menu .header__content .header__list > li .sub .container > ul > li > a {
    font-size: 1.2963vw;
    margin-left: 0.64815vw;
  }
}

@media (max-width: 768px) {
  .header__menu .header__content .header__list > li .sub .container > ul {
    display: block;
    height: 0;
    margin-left: 0;
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    will-change: opacity, height;
  }
  .header__menu .header__content .header__list > li .sub .container > ul > li {
    margin-top: 20px;
    padding-left: 0;
  }
  .header__menu .header__content .header__list > li .sub .container > ul > li::before {
    display: none;
  }
  .header__menu .header__content .header__list > li .sub .container > ul.js-active {
    height: auto;
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@media (min-width: 769px) {
  .header__menu .header__content .header__list > li:hover .sub {
    height: 200px;
    opacity: 1;
    padding: 50px 0;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .header__menu .header__content .header__list {
    margin: 30px auto 0;
    width: 90%;
  }
}

.header__menu .header__button, .header__menu .header__buttonMenu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eb2936;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  width: 100px;
}

@media (max-width: 1080px) {
  .header__menu .header__button, .header__menu .header__buttonMenu {
    margin-left: 10px;
    width: 9.25926vw;
  }
}

@media (max-width: 768px) {
  .header__menu .header__button, .header__menu .header__buttonMenu {
    margin-left: 0.92593vw;
    width: 65px;
  }
}

.header__menu .header__buttonMenu {
  background: #000;
  margin-left: 0;
}

.header__menu .header__buttonMenu > div {
  position: relative;
}

.header__menu .header__button > a, .header__menu .header__buttonMenu > a,
.header__menu .header__button > button,
.header__menu .header__buttonMenu > button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .header__menu .header__button > a, .header__menu .header__buttonMenu > a,
  .header__menu .header__button > button,
  .header__menu .header__buttonMenu > button {
    font-size: 11px;
    line-height: 1;
    padding: calc((65px / 2) / 2) 0;
  }
}

.header__menu .header__button > a > div > img, .header__menu .header__buttonMenu > a > div > img,
.header__menu .header__button > button > div > img,
.header__menu .header__buttonMenu > button > div > img {
  margin: 10px auto 0;
}

@media (max-width: 768px) {
  .header__menu .header__button > a > div > img, .header__menu .header__buttonMenu > a > div > img,
  .header__menu .header__button > button > div > img,
  .header__menu .header__buttonMenu > button > div > img {
    height: 15px;
    margin-top: 5px;
    width: 20px;
  }
}

.header__menu .header__button > a .header__buttonMenu--bar, .header__menu .header__buttonMenu > a .header__buttonMenu--bar,
.header__menu .header__button > button .header__buttonMenu--bar,
.header__menu .header__buttonMenu > button .header__buttonMenu--bar {
  background: #fff;
  display: block;
  height: 2px;
  margin: 6px auto 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 15px;
  will-change: transform, opacity;
}

.header__menu .header__button > a .header__buttonMenu--bar:nth-of-type(2), .header__menu .header__buttonMenu > a .header__buttonMenu--bar:nth-of-type(2), .header__menu .header__button > a .header__buttonMenu--bar:nth-of-type(3), .header__menu .header__buttonMenu > a .header__buttonMenu--bar:nth-of-type(3),
.header__menu .header__button > button .header__buttonMenu--bar:nth-of-type(2),
.header__menu .header__buttonMenu > button .header__buttonMenu--bar:nth-of-type(2),
.header__menu .header__button > button .header__buttonMenu--bar:nth-of-type(3),
.header__menu .header__buttonMenu > button .header__buttonMenu--bar:nth-of-type(3) {
  margin-top: 4px;
}

.header__menu .header__button > button.js-menu.js-active .header__buttonMenu--bar:nth-of-type(1), .header__menu .header__buttonMenu > button.js-menu.js-active .header__buttonMenu--bar:nth-of-type(1) {
  -webkit-transform: rotate(-45deg) translateX(-4.5px) translateY(4px);
          transform: rotate(-45deg) translateX(-4.5px) translateY(4px);
}

.header__menu .header__button > button.js-menu.js-active .header__buttonMenu--bar:nth-of-type(2), .header__menu .header__buttonMenu > button.js-menu.js-active .header__buttonMenu--bar:nth-of-type(2) {
  opacity: 0;
}

.header__menu .header__button > button.js-menu.js-active .header__buttonMenu--bar:nth-of-type(3), .header__menu .header__buttonMenu > button.js-menu.js-active .header__buttonMenu--bar:nth-of-type(3) {
  -webkit-transform: rotate(45deg) translateX(-4px) translateY(-4px);
          transform: rotate(45deg) translateX(-4px) translateY(-4px);
}

.main {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .main {
    margin-top: 65px;
  }
}
/*# sourceMappingURL=header.css.map */