@charset "UTF-8";
/* IndexPage (topのみ)
--------------------------------------------------------------------------------------------*/
/* Button
--------------------------------------------------------------------------------------------*/
.button {
  background: #eb2936;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin-top: 60px;
  padding: 20px 30px;
}

.button-arrow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eb2936;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  margin-top: 60px;
  padding: 20px 30px;
  width: 200px;
}

@media (max-width: 768px) {
  .button-arrow {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.button-line {
  overflow: hidden;
  position: relative;
}

.button-line::before {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  -webkit-filter: blur(3px);
          filter: blur(3px);
  height: 100%;
  left: -43px;
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 40px;
}

@media (min-width: 769px) {
  .button-line:hover::before {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
}

/* Post Card
--------------------------------------------------------------------------------------------*/
.post-card .meta {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post-card .meta__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 180px;
}

.post-card .meta__label span {
  color: #fff;
  font-size: 14px;
  padding: 6px;
  text-align: center;
  width: 50%;
}

.post-card .meta__label--new {
  background: #96a8be;
}

.post-card .meta__label--category {
  background: #000;
}

.post-card .meta__date {
  color: #96a8be;
}

.post-card-large {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.post-card-large img {
  max-width: 680px;
  width: 100%;
}

.post-card-large .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 580px;
  padding: 50px 0 0 80px;
  width: 100%;
}

.post-card-large .title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.post-card-large .description {
  margin-top: 60px;
}

.post-card-middle img {
  margin: auto;
  width: 100%;
}

.post-card-middle .meta {
  margin-top: 20px;
}

.post-card-middle .title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.post-card-middle .description {
  margin-top: 60px;
}

.post-card-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-card-small .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 30px;
}

.post-card-small .title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.post-card-wide .title {
  font-size: 22px;
}

.post-card-wide .description {
  margin-top: 1em;
}

.articles-link .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.articles-link .column li {
  width: calc((100% - 40px) / 2);
}

.articles-link .column li:nth-child(2n) {
  margin-left: 40px;
}

.articles-link .column li:not(:nth-child(1)):not(:nth-child(2)) {
  border-top: 1px solid #dce5f0;
  margin-top: 15px;
  padding-top: 15px;
}

.articles-link .column li .article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.articles-link .column li .article-card .thumbnail {
  max-width: 200px;
  width: 30%;
}

.articles-link .column li .article-card .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 30px;
}

.articles-link .column li .article-card .date {
  color: #96a8be;
  display: block;
  font-size: 14px;
}

.articles-link .column li .article-card .title {
  font-size: 16px;
  line-height: 2;
}

.products-link .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-link .column li {
  width: calc(100% / 3);
}

@media (max-width: 768px) {
  .products-link .column li {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .products-link .column li:not(:first-child) {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .products-link .column li:not(:first-child) {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .products-link .column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 769px) {
  .post-card-product .title {
    margin-top: 30px;
  }
}

.post-card-product .more {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.post-card-product .more::after {
  background: center/contain url(../../images/common/more-arrow.svg);
  content: "";
  display: inline-block;
  height: 1em;
  margin-left: 8px;
  width: 1em;
}

@media (min-width: 769px) {
  .post-card-product .post-thumbnail {
    overflow: hidden;
    position: relative;
  }
  .post-card-product .post-thumbnail img {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .post-card-product .post-thumbnail::before {
    color: #fff;
    content: "VIEW MORE";
    display: inline-block;
    font: bold 18px "Roboto Condensed", sans-serif;
    height: 1em;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    line-height: 1;
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
    z-index: 2;
  }
  .post-card-product .post-thumbnail::after {
    -webkit-animation: circleRedOutPost 0.2s ease-in-out both;
            animation: circleRedOutPost 0.2s ease-in-out both;
    background: rgba(235, 41, 54, 0.6);
    border-radius: 50%;
    content: "";
    height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    position: absolute;
    -webkit-transform: scale(0);
            transform: scale(0);
    width: 100%;
    will-change: opacity, transform;
    z-index: 1;
  }
  .post-card-product:hover .post-thumbnail img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .post-card-product:hover .post-thumbnail::before {
    opacity: 1;
  }
  .post-card-product:hover .post-thumbnail::after {
    -webkit-animation: circleRedPost 0.2s ease-in-out both;
            animation: circleRedPost 0.2s ease-in-out both;
  }
  .post-card-product:hover .more::after {
    background-image: url(../../images/common/more-arrow-fill.svg);
  }
  @-webkit-keyframes circleRedPost {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @keyframes circleRedPost {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @-webkit-keyframes circleRedOutPost {
    0% {
      opacity: 1;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @keyframes circleRedOutPost {
    0% {
      opacity: 1;
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
}

@media (max-width: 768px) {
  .post-card-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .post-card-product .post-thumbnail img {
    width: 100px;
  }
  .post-card-product .content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 20px;
  }
}

.the-product-link .square, .category-child-product-link .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.the-product-link .square li, .category-child-product-link .square li {
  width: 25%;
}

.the-product-link .square .post-card-product, .category-child-product-link .square .post-card-product {
  border: 1px solid #dce5f0;
  display: inline-block;
  height: 100%;
  padding: 10px;
}

.the-product-link .square .post-card-product .post-thumbnail, .category-child-product-link .square .post-card-product .post-thumbnail {
  width: 100%;
}

.the-product-link .square .post-card-product .thumbnail .post-thumbnail img, .category-child-product-link .square .post-card-product .thumbnail .post-thumbnail img {
  width: 100%;
}

@media (min-width: 769px) {
  .the-product-link .square .post-card-product .content .title, .category-child-product-link .square .post-card-product .content .title,
  .the-product-link .square .post-card-product .content .more,
  .category-child-product-link .square .post-card-product .content .more {
    margin-top: 10px;
  }
}

.category-child-product-link .square li {
  width: calc((100% - 40px) / 2);
}

@media (min-width: 769px) {
  .category-child-product-link .square li:nth-child(2n) {
    margin-left: 40px;
  }
  .category-child-product-link .square li:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 40px;
  }
}

.category-child-product-link .square .post-card-product {
  padding: 40px;
  width: 100%;
}

.category-child-product-link .square .post-card-product .content .title {
  font-size: 20px;
}

.category-child-product-link .square .post-card-product .content .description {
  font-weight: 100;
}

@media (min-width: 769px) {
  .category-child-product-link .square .post-card-product .content .title,
  .category-child-product-link .square .post-card-product .content .description,
  .category-child-product-link .square .post-card-product .content .more {
    margin-top: 30px;
  }
}

.category-child-product-link .wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category-child-product-link .wide li {
  border-bottom: 1px solid #dce5f0;
  padding-bottom: 20px;
  width: calc((100% - 40px) / 2);
}

@media (min-width: 769px) {
  .category-child-product-link .wide li:nth-child(2n) {
    margin-left: 40px;
  }
  .category-child-product-link .wide li:not(:nth-child(1)):not(:nth-child(2)) {
    margin-top: 40px;
  }
}

.category-child-product-link .wide .post-card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.category-child-product-link .wide .post-card-product .thumbnail .post-thumbnail img {
  min-width: 150px;
  width: 100%;
}

.category-child-product-link .wide .post-card-product .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
}

.category-child-product-link .wide .post-card-product .content .title {
  font-size: 20px;
}

.category-child-product-link .wide .post-card-product .content .description {
  font-weight: 100;
  margin-top: 20px;
}

@media (min-width: 769px) {
  .category-child-product-link .wide .post-card-product .content .title,
  .category-child-product-link .wide .post-card-product .content .description,
  .category-child-product-link .wide .post-card-product .content .more {
    margin-top: 10px;
  }
}

/* スクロールしてから表示系アニメーションまとめ
--------------------------------------------------------------------------------------------*/
.js-scroll-fadeIn-block, .js-scroll-fadeIn-text,
.js-scroll-fadeIn-image, .js-scroll-fadeIn-products li,
.js-scroll-fadeIn-title,
.js-scroll-fadeIn-text,
.js-scroll-fadeIn-products {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
}

.js-scroll-fadeIn-block, .js-scroll-fadeIn-text,
.js-scroll-fadeIn-image, .js-scroll-fadeIn-products li {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 0.3s 0.2s ease-out;
  transition: 0.3s 0.2s ease-out;
}

.js-scroll-fadeIn-block.started, .started.js-scroll-fadeIn-text,
.started.js-scroll-fadeIn-image, .started .js-scroll-fadeIn-text,
.started .js-scroll-fadeIn-image, .js-scroll-fadeIn-products li.started, .started .js-scroll-fadeIn-products li {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.js-scroll-fadeIn-title span {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.started .js-scroll-fadeIn-title span {
  -webkit-animation: scrollFadeIn 0.5s ease-out both;
          animation: scrollFadeIn 0.5s ease-out both;
}

.started .js-scroll-fadeIn-title span:nth-of-type(1) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(3) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(4) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(6) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(7) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(8) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(9) {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(11) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(12) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(13) {
  -webkit-animation-delay: 1.15s;
          animation-delay: 1.15s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(14) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(15) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(16) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(17) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(18) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(19) {
  -webkit-animation-delay: 1.45s;
          animation-delay: 1.45s;
}

.started .js-scroll-fadeIn-title span:nth-of-type(20) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes scrollFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrollFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.js-scroll-fadeIn-text,
.js-scroll-fadeIn-image {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.js-scroll-fadeIn-products li {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

@media (max-width: 768px) {
  .js-scroll-fadeIn-products li {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

.js-scroll-fadeIn-products li:nth-of-type(2) {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

.js-scroll-fadeIn-products li:nth-of-type(3) {
  -webkit-transition-delay: 1.9s;
          transition-delay: 1.9s;
}

/* TOPのスライドショーアニメーション
--------------------------------------------------------------------------------------------*/
.slide-animation {
  position: relative;
}

.slide-animation picture:nth-of-type(2) .slide-animation__image {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slide-animation picture:nth-of-type(3) .slide-animation__image {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slide-animation picture:nth-of-type(4) .slide-animation__image {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.slide-animation picture:nth-of-type(5) .slide-animation__image {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.slide-animation picture:nth-of-type(6) .slide-animation__image {
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}

.slide-animation picture:nth-of-type(7) .slide-animation__image {
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

.slide-animation picture:nth-of-type(8) .slide-animation__image {
  -webkit-animation-delay: 35s;
          animation-delay: 35s;
}

.slide-animation picture:nth-of-type(9) .slide-animation__image {
  -webkit-animation-delay: 40s;
          animation-delay: 40s;
}

.slide-animation picture:nth-of-type(10) .slide-animation__image {
  -webkit-animation-delay: 45s;
          animation-delay: 45s;
}

.slide-animation picture .slide-animation__image {
  -webkit-animation: slideAnimeCount ease infinite;
          animation: slideAnimeCount ease infinite;
  display: block;
  height: 100%;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@-webkit-keyframes slideAnimeCount {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideAnimeCount {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* FVのテキストのアニメーション
--------------------------------------------------------------------------------------------*/
.hero__svg path {
  -webkit-animation: handWriting 2s ease-in both;
          animation: handWriting 2s ease-in both;
  fill: #666;
  stroke: #666;
  stroke-width: 1px;
}

.hero__svg path.main-color {
  -webkit-animation: handWritingRed 2s ease-in both;
          animation: handWritingRed 2s ease-in both;
}

.hero__svg path:nth-child(2) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.hero__svg path:nth-child(3) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.hero__svg path:nth-child(4) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.hero__svg path:nth-child(5) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.hero__svg path:nth-child(6) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.hero__svg path:nth-child(7) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.hero__svg path:nth-child(8) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.hero__svg path:nth-child(9) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.hero__svg path:nth-child(10) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.hero__svg path:nth-child(11) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.hero__svg path:nth-child(12) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.hero__svg path:nth-child(5) {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes handWriting {
  0% {
    fill: transparent;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
  }
  60% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #fff;
    stroke: #fff;
  }
}

@keyframes handWriting {
  0% {
    fill: transparent;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
  }
  60% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #fff;
    stroke: #fff;
  }
}

@-webkit-keyframes handWritingRed {
  0% {
    fill: transparent;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
  }
  60% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #eb2936;
    stroke: #eb2936;
  }
}

@keyframes handWritingRed {
  0% {
    fill: transparent;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
  }
  60% {
    fill: transparent;
    stroke-dashoffset: 0;
  }
  100% {
    fill: #eb2936;
    stroke: #eb2936;
  }
}

#index {
  /* TOPや会社概要で使用される菱形メニュー
--------------------------------------------------------------------------------------------*/
}

#index .menu {
  height: 508px;
  position: relative;
}

@media (max-width: 1080px) {
  #index .menu {
    height: 47.03704vw;
  }
}

@media (max-width: 768px) {
  #index .menu {
    height: auto;
  }
}

#index .menu .container {
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1080px) {
  #index .menu .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #index .menu .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #index .menu .container > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #index .menu .container > ul > li.diamond:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #index .menu .container > ul > li.diamond:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #index .menu .container > ul > li.diamond:nth-child(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  #index .menu .container > ul > li.diamond:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #index .menu .container > ul > li.diamond:nth-child(5) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

#index .menu .diamond {
  cursor: pointer;
}

@media (min-width: 769px) {
  #index .menu .diamond {
    height: 226.27416998px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    width: 226.27416998px;
  }
}

@media (max-width: 1080px) {
  #index .menu .diamond {
    height: 20.92593vw;
    width: 20.92593vw;
  }
}

@media (max-width: 768px) {
  #index .menu .diamond {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    height: 80px;
    position: relative;
    width: 100%;
  }
}

#index .menu .diamond::before {
  background: center / contain #fff no-repeat;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

@media (min-width: 769px) {
  #index .menu .diamond::before {
    left: 60px;
    top: 60px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    will-change: transform;
  }
}

@media (max-width: 768px) {
  #index .menu .diamond::before {
    background-position: 90% 20px;
  }
}

#index .menu .diamond .filter {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

#index .menu .diamond:nth-child(1), #index .menu .diamond:nth-child(2), #index .menu .diamond:nth-child(3) {
  top: 45px;
}

@media (max-width: 1080px) {
  #index .menu .diamond:nth-child(1), #index .menu .diamond:nth-child(2), #index .menu .diamond:nth-child(3) {
    top: 4.16667vw;
  }
}

#index .menu .diamond:nth-child(4), #index .menu .diamond:nth-child(5) {
  bottom: 45px;
  left: 0;
  right: 0;
}

@media (max-width: 1080px) {
  #index .menu .diamond:nth-child(4), #index .menu .diamond:nth-child(5) {
    bottom: 4.16667vw;
  }
}

#index .menu .diamond:nth-child(1) {
  left: 45px;
}

@media (max-width: 1080px) {
  #index .menu .diamond:nth-child(1) {
    left: 4.16667vw;
  }
}

@media (max-width: 768px) {
  #index .menu .diamond:nth-child(1) {
    left: 0;
    top: 0;
  }
}

#index .menu .diamond:nth-child(1)::before {
  background-image: url(../../images/top/menu-background/01.png);
}

#index .menu .diamond:nth-child(2) {
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  #index .menu .diamond:nth-child(2) {
    left: 0;
    top: 0;
  }
}

#index .menu .diamond:nth-child(2)::before {
  background-image: url(../../images/top/menu-background/02.png);
}

#index .menu .diamond:nth-child(3) {
  right: 45px;
}

@media (max-width: 1080px) {
  #index .menu .diamond:nth-child(3) {
    right: 4.16667vw;
  }
}

@media (max-width: 768px) {
  #index .menu .diamond:nth-child(3) {
    left: 0;
    top: 0;
  }
}

#index .menu .diamond:nth-child(3)::before {
  background-image: url(../../images/top/menu-background/03.png);
}

#index .menu .diamond:nth-child(4) {
  margin-left: calc(45px + 160px + 30px);
}

@media (max-width: 1080px) {
  #index .menu .diamond:nth-child(4) {
    margin-left: 21.75926vw;
  }
}

@media (max-width: 768px) {
  #index .menu .diamond:nth-child(4) {
    left: 0;
    margin-left: 0;
    top: 0;
  }
}

#index .menu .diamond:nth-child(4)::before {
  background-image: url(../../images/top/menu-background/04.png);
}

#index .menu .diamond:nth-child(5) {
  margin-right: calc(45px + 160px + 30px);
}

@media (max-width: 1080px) {
  #index .menu .diamond:nth-child(5) {
    margin-right: 21.75926vw;
  }
}

@media (max-width: 768px) {
  #index .menu .diamond:nth-child(5) {
    left: 0;
    margin-right: 0;
    top: 0;
  }
}

#index .menu .diamond:nth-child(5)::before {
  background-image: url(../../images/top/menu-background/05.png);
}

#index .menu .diamond > a {
  display: block;
  height: 100%;
  position: relative;
  z-index: 4;
}

#index .menu .diamond > a .diamond__inner {
  height: 100%;
  position: absolute;
  width: 100%;
}

@media (min-width: 769px) {
  #index .menu .diamond > a .diamond__inner > div {
    height: 100%;
    left: 0;
    margin: auto;
    padding-top: 35px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 70%;
  }
}

@media (max-width: 1080px) {
  #index .menu .diamond > a .diamond__inner > div {
    padding-top: 3.24074vw;
  }
}

@media (max-width: 768px) {
  #index .menu .diamond > a .diamond__inner > div {
    padding: 0 20px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

#index .menu .diamond > a .diamond__inner > div .diamond__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

@media (max-width: 1080px) {
  #index .menu .diamond > a .diamond__inner > div .diamond__title {
    font-size: 2.77778vw;
  }
}

@media (max-width: 768px) {
  #index .menu .diamond > a .diamond__inner > div .diamond__title {
    display: inline-block;
    font-weight: 500;
    font-size: 35px;
    font-size: 4.55729vw;
  }
}

#index .menu .diamond > a .diamond__inner > div .diamond__titleSub {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}

@media (max-width: 1080px) {
  #index .menu .diamond > a .diamond__inner > div .diamond__titleSub {
    font-size: 1.2963vw;
    margin-top: 0.74074vw;
  }
}

@media (max-width: 768px) {
  #index .menu .diamond > a .diamond__inner > div .diamond__titleSub {
    display: inline-block;
    font-size: 12px;
  }
}

#index .menu .diamond > a .diamond__inner > div .diamond__more {
  background: #eb2936;
  bottom: -25%;
  color: #fff;
  height: 90px;
  left: -50%;
  padding-top: 10px;
  position: absolute;
  width: 200%;
}

#index .menu .diamond > a .diamond__inner > div .diamond__more img {
  display: inline-block;
  margin-left: 5px;
}

#index .menu .diamond > a .diamond__inner .diamond__icon {
  margin: auto;
  position: absolute;
}

@media (min-width: 769px) {
  #index .menu .diamond > a .diamond__inner .diamond__icon {
    bottom: -10px;
    left: 0;
    right: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
}

@media (max-width: 768px) {
  #index .menu .diamond > a .diamond__inner .diamond__icon {
    bottom: 0;
    right: 10px;
    top: 0;
  }
}

@media (min-width: 769px) {
  #index .menu .diamond::after {
    -webkit-animation: circleRedOut 0.3s ease-in-out both;
            animation: circleRedOut 0.3s ease-in-out both;
    background: rgba(235, 41, 54, 0.6);
    border-radius: 50%;
    content: "";
    height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    position: absolute;
    -webkit-transform: scale(0);
            transform: scale(0);
    width: 100%;
    will-change: transform;
    z-index: 3;
  }
  #index .menu .diamond:hover::before {
    -webkit-transform: rotate(-45deg) translateY(-10px);
            transform: rotate(-45deg) translateY(-10px);
  }
  #index .menu .diamond:hover::after {
    -webkit-animation: circleRed 0.3s ease-in-out both;
            animation: circleRed 0.3s ease-in-out both;
  }
  #index .menu .diamond:hover a div .diamond__icon {
    bottom: -15px;
  }
  @-webkit-keyframes circleRed {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @keyframes circleRed {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
  }
  @-webkit-keyframes circleRedOut {
    0% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @keyframes circleRedOut {
    0% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
}

#index .hero {
  position: relative;
}

#index .hero__slide {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

#index .hero__slide .slide-animation__image {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}

#index .hero__slide::before {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

#index .hero__heading {
  bottom: 25%;
  left: 40px;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

#index .hero__heading svg {
  width: 52vw;
}

@media (max-width: 768px) {
  #index .hero__heading {
    bottom: 15%;
    font-size: 150px;
    font-size: 19.53125vw;
    left: 20px;
  }
  #index .hero__heading svg {
    width: 80vw;
  }
}

#index .hero__heading .small {
  color: #fff;
  display: block;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 5px;
  margin-top: 35px;
}

@media (max-width: 1080px) {
  #index .hero__heading .small {
    font-size: 2.77778vw;
  }
}

@media (max-width: 768px) {
  #index .hero__heading .small {
    font-size: 30px;
    font-size: 3.90625vw;
    margin-top: 1.5em;
  }
}

#index .hero__heading--animation {
  -webkit-animation: fadeUp 0.2s both;
          animation: fadeUp 0.2s both;
  position: relative;
}

#index .hero__heading--animation:nth-of-type(1) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#index .hero__heading--animation:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

@-webkit-keyframes fadeUp {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes fadeUp {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 0;
  }
}

#index .hero__news {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  min-width: 800px;
  padding: 25px 50px;
  position: absolute;
  z-index: 1;
}

#index .hero__news .swiper-news-container {
  max-width: 400px;
  overflow: hidden;
}

@media (max-width: 800px) {
  #index .hero__news {
    min-width: inherit;
    width: 100%;
  }
}

@media (max-width: 768px) {
  #index .hero__news {
    padding: 2.31481vw 0;
    width: 100%;
  }
}

#index .hero__news--title {
  font-size: 18px;
}

#index .hero__news--date {
  margin-left: 30px;
}

@media (max-width: 768px) {
  #index .hero__news--date {
    margin-left: 2.77778vw;
  }
}

@media (max-width: 768px) {
  #index .hero__news--postTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
  }
}

#index .hero__news--postTitle span {
  margin-left: 5px;
}

@media (min-width: 769px) {
  #index .hero__news--link {
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  #index .hero__news--link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15px 0 10px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 768px) {
  #index .hero__news--link .arrow {
    margin-left: 0;
  }
}

#index .case {
  padding: 60px 0 100px;
}

@media (max-width: 768px) {
  #index .case {
    padding: 5.55556vw 0 9.25926vw;
  }
}

#index .case__list {
  -webkit-animation: case_slide 50s linear infinite;
          animation: case_slide 50s linear infinite;
  background: left top/cover url(../../images/top/case-list.png) repeat-x;
  height: 50px;
  will-change: animation;
}

@-webkit-keyframes case_slide {
  100% {
    background-position: -5383px 0;
  }
}

@keyframes case_slide {
  100% {
    background-position: -5383px 0;
  }
}

#index .lead {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: center top/cover url(../../images/top/lead-background.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 220px 0 0;
}

@media (max-width: 768px) {
  #index .lead {
    background-size: contain;
    padding: 18.51852vw 0 7.87037vw;
  }
}

#index .lead__heading {
  font-size: 44px;
  font-weight: 100;
  letter-spacing: 3px;
  text-align: center;
}

@media (max-width: 768px) {
  #index .lead__heading {
    font-size: 60px;
    font-size: 7.8125vw;
  }
}

#index .lead__text {
  font-size: 20px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  #index .lead__text {
    font-size: 17px;
    margin-top: 20px;
  }
}

#index .lead__achievement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

@media (max-width: 768px) {
  #index .lead__achievement {
    font-size: 30px;
    font-size: 3.90625vw;
    margin-top: 30px;
  }
}

#index .lead__achievement .block {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

@media (max-width: 768px) {
  #index .lead__achievement .block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#index .lead__achievement .block:not(:first-child) {
  margin-left: 90px;
}

@media (max-width: 1080px) {
  #index .lead__achievement .block:not(:first-child) {
    margin-left: 8.33333vw;
  }
}

@media (max-width: 768px) {
  #index .lead__achievement .block:not(:first-child) {
    margin-left: 0;
  }
}

#index .lead__achievement .block__left {
  font-size: 22px;
  text-align: left;
}

@media (max-width: 1080px) {
  #index .lead__achievement .block__left {
    font-size: 2.03704vw;
  }
}

@media (max-width: 768px) {
  #index .lead__achievement .block__left {
    font-size: 14px;
    text-align: center;
  }
  #index .lead__achievement .block__left .sp-inlineBlock {
    display: inline-block;
  }
}

#index .lead__achievement .block__left img {
  display: inline-block;
  vertical-align: bottom;
}

@media (max-width: 768px) {
  #index .lead__achievement .block__left img {
    height: 25px;
    width: auto;
  }
}

#index .lead__achievement .block__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 15px;
}

@media (max-width: 768px) {
  #index .lead__achievement .block__right {
    margin-left: 0;
    margin-top: 10px;
  }
}

#index .lead__achievement .block__right .big {
  display: inline-block;
}

#index .lead__achievement .block__right .big img {
  display: inline-block;
  height: 50px;
}

@media (max-width: 1080px) {
  #index .lead__achievement .block__right .big img {
    height: 5vw;
  }
}

#index .lead__achievement .block__right .small {
  font-size: 22px;
}

@media (max-width: 768px) {
  #index .lead__achievement .block__right .small {
    font-size: 16px;
  }
}

#index .lead .lead__button .button-arrow {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 270px;
}

@media (max-width: 768px) {
  #index .lead .lead__button .button-arrow {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

#index .lead .lead__button .button-arrow .arrow {
  margin-left: 30px;
}

@media (max-width: 768px) {
  #index .lead .button {
    margin-top: 30px;
    width: 100%;
  }
}

#index .lead__background {
  -webkit-animation: lead_slide 100s linear infinite;
          animation: lead_slide 100s linear infinite;
  background: left top/cover url(../../images/top/lead-background2.png) repeat-x;
  height: 100px;
  margin-bottom: 100px;
  margin-top: -50px;
}

@media (max-width: 768px) {
  #index .lead__background {
    height: 60px;
    margin-bottom: 40px;
    margin-top: -20px;
  }
}

@-webkit-keyframes lead_slide {
  100% {
    background-position: -2210px 0;
  }
}

@keyframes lead_slide {
  100% {
    background-position: -2210px 0;
  }
}

#index .detail__image .swiper-slide {
  height: auto;
  opacity: 0 !important;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#index .detail__image .swiper-slide.swiper-slide-active {
  opacity: 1 !important;
}

@media (max-width: 768px) {
  #index .detail__image .swiper-slide {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#index .detail__image img {
  height: 100%;
  max-height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 768px) {
  #index .detail__image img {
    max-height: 300px;
  }
}

#index .detail {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#index .detail-reverse .detail__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (max-width: 768px) {
  #index .detail-reverse .detail__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

#index .detail-reverse .detail__image {
  margin-left: -60px;
  margin-right: auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 1080px) {
  #index .detail-reverse .detail__image {
    margin-left: -10px;
  }
}

@media (max-width: 768px) {
  #index .detail-reverse .detail__image {
    margin: 30px auto 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#index .detail__text {
  width: 45%;
}

#index .detail__image {
  width: 55%;
}

@media (max-width: 768px) {
  #index .detail__text, #index .detail__image {
    width: 100%;
  }
}

#index .detail__image {
  margin-left: auto;
  margin-right: -60px;
}

#index .detail__image img {
  margin-left: auto;
  max-width: 600px;
  width: 100%;
}

@media (max-width: 1080px) {
  #index .detail__image {
    margin-right: -10px;
  }
}

@media (max-width: 768px) {
  #index .detail__image {
    margin: 30px auto 0;
  }
  #index .detail__image img {
    margin: auto;
  }
}

#index .detail__text--headingEn {
  font-size: 72px;
  font-weight: bold;
  line-height: 1;
  -webkit-transform: scale(0.9, 1);
          transform: scale(0.9, 1);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  width: 120%;
}

@media (max-width: 768px) {
  #index .detail__text--headingEn {
    font-size: 100px;
    font-size: 13.02083vw;
    -webkit-transform: none;
            transform: none;
    width: 100%;
  }
}

#index .detail__text--headingEn .decoration {
  color: #fff;
  display: inline-block;
  position: relative;
}

#index .detail__text--headingEn .decoration__o, #index .detail__text--headingEn .decoration__a, #index .detail__text--headingEn .decoration__s, #index .detail__text--headingEn .decoration__w {
  outline: 2px solid #fff;
  outline-offset: -1px;
}

@media (max-width: 768px) {
  #index .detail__text--headingEn .decoration__o, #index .detail__text--headingEn .decoration__a, #index .detail__text--headingEn .decoration__s, #index .detail__text--headingEn .decoration__w {
    outline: 0.74074vw solid #fff;
    outline-offset: -0.37037vw;
  }
}

#index .detail__text--headingEn .decoration__o {
  -webkit-box-shadow: 4px 8px 0 0 #fff inset, -4px -12px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
          box-shadow: 4px 8px 0 0 #fff inset, -4px -12px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
}

@media (max-width: 768px) {
  #index .detail__text--headingEn .decoration__o {
    -webkit-box-shadow: 0.37037vw 1.66667vw 0 0 #fff inset, -0.37037vw -2.03704vw 0 0 #fff inset, -0.09259vw -0.09259vw 0 0 #fff, 0.09259vw 0.09259vw 0 0 #fff;
            box-shadow: 0.37037vw 1.66667vw 0 0 #fff inset, -0.37037vw -2.03704vw 0 0 #fff inset, -0.09259vw -0.09259vw 0 0 #fff, 0.09259vw 0.09259vw 0 0 #fff;
  }
}

#index .detail__text--headingEn .decoration__a {
  -webkit-box-shadow: 2px 9px 0 0 #fff inset, -2px -12px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
          box-shadow: 2px 9px 0 0 #fff inset, -2px -12px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
}

@media (max-width: 768px) {
  #index .detail__text--headingEn .decoration__a {
    -webkit-box-shadow: 0.37037vw 1.66667vw 0 0 #fff inset, -0.37037vw -2.12963vw 0 0 #fff inset, -0.09259vw -0.09259vw 0 0 #fff, 0.09259vw 0.09259vw 0 0 #fff;
            box-shadow: 0.37037vw 1.66667vw 0 0 #fff inset, -0.37037vw -2.12963vw 0 0 #fff inset, -0.09259vw -0.09259vw 0 0 #fff, 0.09259vw 0.09259vw 0 0 #fff;
  }
}

#index .detail__text--headingEn .decoration__s {
  -webkit-box-shadow: 3px 8px 0 0 #fff inset, -3px -12px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
          box-shadow: 3px 8px 0 0 #fff inset, -3px -12px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
}

@media (max-width: 768px) {
  #index .detail__text--headingEn .decoration__s {
    -webkit-box-shadow: 0.37037vw 1.66667vw 0 0 #fff inset, -0.37037vw -2.03704vw 0 0 #fff inset, -0.09259vw -0.09259vw 0 0 #fff, 0.09259vw 0.09259vw 0 0 #fff;
            box-shadow: 0.37037vw 1.66667vw 0 0 #fff inset, -0.37037vw -2.03704vw 0 0 #fff inset, -0.09259vw -0.09259vw 0 0 #fff, 0.09259vw 0.09259vw 0 0 #fff;
  }
}

#index .detail__text--headingEn .decoration__w {
  -webkit-box-shadow: 2px 9px 0 0 #fff inset, -2px -12px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
          box-shadow: 2px 9px 0 0 #fff inset, -2px -12px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
}

@media (max-width: 768px) {
  #index .detail__text--headingEn .decoration__w {
    -webkit-box-shadow: 0.37037vw 1.75926vw 0 0 #fff inset, -0.37037vw -2.12963vw 0 0 #fff inset, -0.09259vw -0.09259vw 0 0 #fff, 0.09259vw 0.09259vw 0 0 #fff;
            box-shadow: 0.37037vw 1.75926vw 0 0 #fff inset, -0.37037vw -2.12963vw 0 0 #fff inset, -0.09259vw -0.09259vw 0 0 #fff, 0.09259vw 0.09259vw 0 0 #fff;
  }
}

#index .detail__text--headingJp {
  color: #96a8be;
  font-size: 20px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  #index .detail__text--headingJp {
    font-size: 30px;
    font-size: 3.90625vw;
    margin-top: 1em;
  }
}

#index .detail__text--headingSub {
  font-size: 35px;
  font-weight: 600;
  line-height: 1.8;
  margin-top: 60px;
}

@media (max-width: 768px) {
  #index .detail__text--headingSub {
    font-size: 40px;
    font-size: 5.20833vw;
    margin-top: 1.5em;
  }
}

#index .detail__text--description {
  font-weight: 400;
  line-height: 2;
  margin-top: 30px;
}

@media (max-width: 768px) {
  #index .detail__text--description {
    margin-top: 1.5em;
  }
}

#index .products {
  margin-top: 110px;
}

@media (max-width: 768px) {
  #index .products {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  #index .products .post-card-product .more span {
    display: none;
  }
}

#index .view-all__right .button-arrow {
  margin-left: auto;
}

#index .view-all .arrow {
  margin-left: 60px;
}

#index .mold,
#index .sand-casting,
#index .investment-casting,
#index .jewelry,
#index .new-field {
  margin-top: 100px;
  overflow-x: hidden;
}

#index .section__background {
  background: url(../../images/top/section-background.svg) no-repeat;
  background-position-y: bottom;
  background-size: 1200px;
}

#index .section__background--right {
  background-position: right -600px bottom;
}

@media (max-width: 1080px) {
  #index .section__background--right {
    background-position-x: 150%;
    background-size: 75%;
  }
}

@media (max-width: 768px) {
  #index .section__background--right {
    background-position: 40vw 50%;
    background-size: 150%;
  }
}

#index .section__background--left {
  background-position: left -600px bottom;
}

@media (max-width: 1080px) {
  #index .section__background--left {
    background-position-x: -50%;
    background-size: 75%;
  }
}

@media (max-width: 768px) {
  #index .section__background--left {
    background-position: -100vw bottom;
    background-size: 150%;
  }
}

#index .new-field .detail {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (min-width: 769px) {
  #index .new-field .detail__image {
    margin-right: 0;
    padding-left: 60px;
  }
}
/*# sourceMappingURL=index.css.map */