/* Breadcrumb
--------------------------------------------------------------------------------------------*/

.breadcrumb{
  display: block;

  ul{
    display: flex;

    li{
      &:not(:first-child){
        // セパレーター
        &::before{
          color: #fff;
          content: "−";
          margin-left: 20px;
        }
      }

      a,
      span{
        color: #fff;
      }

      span{
        margin-left: 20px;
      }
    }
  }
}
