/* 会社概要ページ用
--------------------------------------------------------------------------------------------*/

@import "./config";

// style/compressed/main.min.cssからのrootへの相対
$root-path: "../..";

.company-page {
  // 菱形メニュー
  @import "./diamond-menu";

  // アンカーリンク
  #philosophy,
  #infographic,
  #greeting,
  #overview {
    margin-top: calc(-1 * #{$header-height-pc});
    padding-top: calc(#{$header-height-pc});
    @media (max-width: $sp) {
      margin-top: calc(-1 * #{$header-height-sp});
      padding-top: calc(#{$header-height-sp});
    }
  }

  .bg-geometric {
    background: top left 150px / 300px url(#{$root-path}/images/common/geometric-pattern.svg) no-repeat;
    margin-top: -120px;
    padding-top: 120px;
    position: relative;
    z-index: 3; // entry-headerの白い余白部分よりも上
    @media (max-width: $sp) {
      background-position-y: 100px;
    }
  }

  .content-header {
    display: flex;
    margin-bottom: 140px;
    margin-left: -75px;
    @media (max-width: $pc) {
      margin-left: 0;
    }
    @media (max-width: $sp) {
      flex-direction: column;
      margin-bottom: 100px;
    }

    .block {
      position: relative;
      width: calc(100% / 3);
      @media (max-width: $sp) {
        width: 100%;
      }

      &::before {
        background: $c-main;
        content: "";
        display: inline-block;
        height: 2px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        @media (max-width: $sp) {
          right: auto;
        }
      }

      &:not(:first-child) {
        @media (max-width: $sp) {
          margin-top: 30px;
        }
        &::after {
          @media (min-width: $tab) {
            background: center / 300px url(#{$root-path}/images/company/lineY.svg) no-repeat;
            bottom: 0;
            content: "";
            display: inline-block;
            height: 120px;
            left: 0;
            position: absolute;
            width: 1px;
          }
        }
      }
      &__header {
        h2 {
          font-size: 50px;
          line-height: 1;
          margin-top: 30px;
          text-align: center;
          @media (max-width: $sp) {
            font-size: 30px;
            margin-top: 20px;
            text-align: left;
          }
        }
        .sub-title {
          color: $c-gray;
          font-size: 20px;
          margin-top: 1em;
          text-align: center;
          @media (max-width: $sp) {
            font-size: 16px;
            margin-top: 0;
            text-align: left;
          }
        }
      }
      .description {
        font-size: 22px;
        margin-top: 50px;
        text-align: center;
        @media (max-width: $pc) {
          font-size: px-to-vw(22);
        }
        @media (max-width: $sp) {
          font-size: 16px;
          margin-top: 20px;
          text-align: left;
        }
      }
    }
  } // .content-header

  .content-main {
    .infographic {
      background: top right / 250px url(#{$root-path}/images/common/geometric-pattern.svg) no-repeat;
      margin-bottom: 140px;
      @media (max-width: $sp) {
        margin-bottom: 100px;
      }

      h2 {
        font-size: 60px;
        line-height: 1;
        @media (max-width: $sp) {
          font-size: 40px;
        }
      }
      .sub-title {
        color: $c-gray;
        font-size: 20px;
        font-weight: bold;
        margin-top: 1em;
        @media (max-width: $sp) {
          font-size: 18px;
          margin-top: 0;
        }
      }
      .box {
        margin-top: 50px;
        @media (max-width: $sp) {
          display: flex;
          flex-wrap: wrap;
          margin-top: 30px;
        }

        &__top,
        &__bottom {
          display: flex;
          @media (max-width: $sp) {
            display: inline-block;
            margin-top: 10px;
            min-width: 230px;
            width: 50%;
          }

          &--item {
            align-items: center;
            display: flex;
            width: calc((100% - (80px * 2)) / 3);
            @media (max-width: $pc) {
              width: calc((100% - (#{px-to-vw(80)} * 2)) / 3);
            }
            @media (max-width: $sp) {
              width: 100%;
            }
            .icon {
              align-items: center;
              background: $c-main;
              border-radius: 50%;
              display: flex;
              height: 110px;
              justify-content: center;
              width: 110px;
              @media (max-width: $pc) {
                height: px-to-vw(110);
                width: px-to-vw(110);
                img {
                  width: 50%;
                }
              }
              @media (max-width: $sp) {
                height: 60px;
                width: 60px;
                img {
                  width: 50%;
                }
              }
            }
            .text {
              margin-left: 14px;
              .small {
                font-size: 16px;
                @media (max-width: $pc) {
                  font-size: px-to-vw(14);
                }
                @media (max-width: $sp) {
                  font-size: 14px;
                }
              }
              .small2 {
                font-size: 20px;
                font-weight: bold;
                @media (max-width: $pc) {
                  font-size: px-to-vw(18);
                }
                @media (max-width: $sp) {
                  font-size: 18px;
                }
              }
              .number {
                font-size: 28px;
                font-weight: bold;
                @media (max-width: $pc) {
                  font-size: px-to-vw(28);
                }
                @media (max-width: $sp) {
                  font-size: 22px;
                }
              }
            }

            // 区切り線
            &:not(:first-child) {
              margin-left: 80px;
              position: relative;
              @media (max-width: $pc) {
                margin-left: px-to-vw(80);
              }
              @media (max-width: $sp) {
                margin-left: 0;
                margin-top: 10px;
              }
              &::before {
                @media (min-width: $tab) {
                  background: center / contain url(#{$root-path}/images/company/lineY.svg) no-repeat;
                  bottom: 0;
                  content: "";
                  display: inline-block;
                  height: 100%;
                  left: -40px;
                  position: absolute;
                  width: 1px;
                }
              }
            } // &:not
          } // --item
        } // __top, __bottom
        &__bottom {
          @media (min-width: $tab) {
            margin-top: 45px;
          }
        }
      } // .box
    }
    .greeting {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 600px;
      margin-bottom: 200px;
      @media (max-width: $pc) {
        height: 680px;
        margin-bottom: 140px;
      }
      @media (max-width: $sp) {
        flex-wrap: nowrap;
        height: auto;
        margin-bottom: 100px;
      }

      .pic {
        flex-basis: 100%;
        width: 300px;
        @media (max-width: $pc) {
          width: 250px;
        }
        @media (max-width: $sp) {
          margin-top: 30px;
          order: 2;
          width: 100%;
          img {
            margin: auto;
            max-width: 500px;
            width: 100%;
          }
        }
      }
      .title {
        flex-basis: 10%;
        margin-left: 70px;
        max-width: calc(100% - 70px - 300px); //左余白と画像分
        @media (max-width: $pc) {
          margin-left: 50px;
          max-width: calc(100% - 50px - 250px); //左余白と画像分
        }
        @media (max-width: $sp) {
          margin-left: 0;
          max-width: inherit;
          order: 1;
        }
        h2 {
          font-size: 60px;
          line-height: 1;
          @media (max-width: $sp) {
            font-size: 40px;
          }
        }
        .sub-title {
          color: $c-gray;
          font-size: 20px;
          margin-top: 1em;
          @media (max-width: $sp) {
            margin-top: 0;
          }
        }
      }
      .text {
        flex-basis: 10%;
        margin-left: 70px;
        margin-top: 70px;
        max-width: calc(100% - 70px - 300px); //左余白と画像分
        @media (max-width: $pc) {
          font-size: px-to-vw(19);
          margin-left: 50px;
          margin-top: 50px;
          max-width: calc(100% - 50px - 250px); //左余白と画像分
        }
        @media (max-width: $sp) {
          font-size: 16px;
          margin-left: 0;
          margin-top: 30px;
          max-width: inherit;
          order: 3;
        }
        .message {
          font-weight: 100;
          line-height: 2;
        }
        .sign {
          font-size: 14px;
          font-weight: bold;
          margin-top: 50px;
          text-align: right;

          img {
            margin-left: auto;
            margin-top: 20px;
            width: 160px;
          }
        }
      }
    } // greeting
    .overview {
      display: flex;
      margin-bottom: 100px;
      @media (max-width: $sp) {
        flex-direction: column;
      }

      .title {
        width: 300px;
        h2 {
          font-size: 60px;
          line-height: 1;
          @media (max-width: $sp) {
            font-size: 40px;
          }
        }
        .sub-title {
          color: $c-gray;
          font-size: 20px;
          margin-top: 1em;
          @media (max-width: $sp) {
            margin-top: 0;
          }
        }
      }

      .address {
        margin-left: 70px;
        @media (max-width: $sp) {
          margin-left: 0;
          margin-top: 30px;
        }

        table {
          tr {
            display: flex;
            position: relative;

            // ボーダー
            &:not(:first-child) {
              margin-top: 40px;
              padding-top: 40px;

              &::before {
                background: left / cover url(#{$root-path}/images/company/lineX.svg) no-repeat;
                content: "";
                display: block;
                height: 1px;
                position: absolute;
                top: 0;
                width: 100%;
              }
            }
          }

          th {
            text-align: left;
            width: 120px;
            @media (max-width: $sp) {
              width: 20%;
            }
          }
          td {
            display: block;
            font-weight: 100;
            margin-left: 30px;
            @media (max-width: $sp) {
              margin-left: 15px;
              width: calc(80% - 15px);
            }
          }
        }
      }
    } // overview

    .map {
      margin-bottom: 70px;
      iframe {
        height: 400px;
        width: 100%;
      }
      &__link {
        text-align: right;
        a {
          color: $c-main;
          display: inline-block;
          font-weight: 100;
          margin-top: 1em;
        }
      }
    }

    // 採用ページリンク
    .link-box {
      display: flex;
      height: 210px;
      margin: 0 auto 115px;
      max-width: 720px;
      @media (max-width: $sp) {
        align-items: center;
        flex-direction: column-reverse;
        height: auto;
      }

      &__text,
      &__image {
        width: 50%;
        @media (max-width: $sp) {
          width: 100%;
        }
      }
      &__text {
        background: #f0f0f0;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: 100;
        height: 100%;
        justify-content: space-between;
        padding: 50px 35px 35px;
        @media (max-width: $sp) {
          flex-direction: row;
          font-size: 20px;
          padding: 20px;
        }

        &__image {
          img {
            display: inline-block;
            @media (max-width: $sp) {
              max-height: 300px;
              object-fit: cover;
              width: 100%;
            }
          }
        }
      }
    } // 採用ページリンク
  } // content-main
}
