/* お問い合わせページ用
--------------------------------------------------------------------------------------------*/

// style/compressed/main.min.cssからのrootへの相対
$root-path: '../..';

@import './config';
@import './button';

.content-main.contact {
  max-width: 790px;
  margin: auto;
}

.form-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $sp) {
    flex-wrap: wrap;
  }

  &.flex-start {
    align-items: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &:not(:first-of-type) {
    margin-top: 16px;
    @media (max-width: $sp) {
      margin-top: 30px;
    }
  }

  .must-label {
    margin-right: 10px;
    padding: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    background: $c-gray;
  }

  label {
    font-weight: bold;
    @media (max-width: $sp) {
      width: 100%;
    }
  }

  .form-block__field {
    flex-grow: 1;
    max-width: 500px;
    margin-left: 50px;
    @media (max-width: $sp) {
      width: 100%;
      max-width: inherit;
      margin-top: 10px;
      margin-left: 0;
    }

    // テキスト
    input[type='text'],
    input[type='email'] {
      width: 100%;
      padding: 1em;
      background: $c-whitesmoke;
      border: 1px solid $c-lightgray;
      border-radius: 3px;
      &::placeholder {
        color: $c-gray;
      }
      &:-ms-input-placeholder {
        color: $c-gray;
      }
      &::-ms-input-placeholder {
        color: $c-gray;
      }
    } // text,email
    // チェックボックス
    input[type='checkbox'] {
      display: none;
      & + span {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
      }
      & + span::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        background: $c-whitesmoke;
        border: 1px solid $c-lightgray;
        border-radius: 3px;
        content: '';
      }
      &:checked + span::after {
        position: absolute;
        top: 50%;
        left: 3px;
        display: inline-block;
        width: 18px;
        height: 9px;
        margin-top: -9px;
        border-bottom: 3px solid $c-gray;
        border-left: 3px solid $c-gray;
        transform: rotate(-45deg);
        content: '';
      }
    } //checkbox
    // 本文入力らん
    textarea {
      width: 100%;
      padding: 1em;
      background: $c-whitesmoke;
      border: 1px solid $c-lightgray;
      border-radius: 3px;
    }

    .error + input[type='text'],
    .error + input[type='email'],
    .error + textarea {
      background: #fff8f8;
      border-color: #fce0e0;
    }
  }

  // 確認用チェックのブロック
  &.confirm {
    margin-top: 30px;
    .form-block__field {
      max-width: 100%;
    }
    @media (max-width: $sp) {
      input[type='checkbox'] + span {
        display: block;
        text-align: left;
      }
    }
  }

  &.submit {
    margin-top: 35px;
    .arrow-wrap {
      width: 350px;
      height: 70px;
      margin: auto;
      @media (max-width: $sp) {
        width: 100%;
        max-width: 320px;
      }

      .button-arrow {
        justify-content: flex-end;
        margin-top: 0;

        input[type='submit'] {
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          color: #fff;
          background: transparent;
          border: none;
          outline: 0;
          cursor: pointer;
        }
      }
    }
  } // submit
}

// 確認画面
.mw_wp_form_confirm {
  .must-label {
    display: none;
  }

  .submit {
    justify-content: space-between;
    .form-block__back {
      &::before {
        display: inline-block;
        width: 16px;
        height: 6px;
        background: center / contain
          url(#{$root-path}/images/common/left-arrow-lightgray.svg) no-repeat;
        content: '';
      }
      input[type='submit'] {
        color: $c-gray;
        text-decoration: underline;
        background: transparent;
        border: none;
        outline: 0;
        cursor: pointer;
      }
    }
    .arrow-wrap {
      margin-left: 0;
      @media (max-width: $sp) {
        margin-top: 15px;
        margin-left: auto;
      }
    }
  }
}
// 個人情報保護に同意するのテキスト削除
.confirm-page-content-main {
  .form-block.confirm {
    display: none;
  }
  @media (max-width: $sp) {
    .form-block label {
      line-height: 1.8;
      border-bottom: 1px solid $c-lightgray;
    }
  }
}

// 完了画面
.contact-send-page {
  .entry-header__titleSub {
    display: none;
  }

  .contact-send {
    background: center / contain
      url(#{$root-path}/images/notfound-background.svg) no-repeat;

    &__title {
      font-size: 22px;
      line-height: 1.8;
      text-align: center;
      @media (max-width: $sp) {
        font-size: 18px;
      }
    }

    &__image {
      margin-top: 50px;
      text-align: center;
      img {
        width: 100%;
        max-width: 500px;
        margin: auto;
      }
    }

    .button-arrow {
      justify-content: space-between;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
