/* Content(single/page)
--------------------------------------------------------------------------------------------*/

// style/compressed/article.min.cssからのrootへの相対
$root-path: "../..";

@import "./config";

.content-header {
  display: flex;
  margin-left: -100px;

  img {
    max-width: 680px;
    width: 100%;
  }

  .title {
    flex-grow: 1;
    max-width: 580px;
    padding: 90px 0 0 80px;
    width: 100%;

    .meta {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &__label {
        display: flex;
        min-width: 180px;

        span {
          color: #fff;
          font-size: 14px;
          padding: 6px;
          text-align: center;
          width: 50%;
        }
        &--new {
          background: $c-gray;
        }
        &--category {
          background: #000;
        }
      }

      &__date {
        color: $c-gray;
      }
    }

    // 記事タイトル
    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 50px;
    }
  }
}

.content-main {
  margin: 120px auto 0;
  max-width: 900px;

  // 表現集
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  h2 {
    border-bottom: 1px solid $c-lightgray;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 22px;
    margin-top: 30px;
  }

  h4 {
    font-size: 18px;
    margin-top: 30px;
  }

  p {
    line-height: 2;
    margin-top: 20px;
  }

  blockquote {
    background: #f4f5f8;
    margin-top: 30px;
    padding: 2em;
    position: relative;

    &::before {
      background: center / contain url(#{$root-path}/images/article/icon/blockquote.svg) no-repeat;
      content: "";
      height: 1em;
      left: 1em;
      position: absolute;
      top: 1em;
      width: 1em;
    }

    p {
      margin: 0;
    }
    cite {
      display: block;
      font-size: 0.8em;
      font-style: normal;
      text-align: right;
    }
  }

  a {
    color: $c-main;
  }

  ul,
  ol {
    margin-top: 30px;
  }

  ul li,
  ol li {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
  }

  ul li::before {
    background: $c-gray;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 6px;
    width: 10px;
  }

  ol {
    list-style: decimal;
    padding-left: 1em;
  }
}
