/* TOPや会社概要で使用される菱形メニュー
--------------------------------------------------------------------------------------------*/

@import "./config";

// style/compressed/main.min.cssからのrootへの相対
$root-path: "../..";
$menu-animation-duration: 0.3s;

// メニュー
.menu {
  height: 508px;
  position: relative;
  @media (max-width: $pc) {
    height: px-to-vw(508); // 508pxを1080px(containerのmax横幅)以下でvw化
  }
  @media (max-width: $sp) {
    height: auto;
  }

  .container {
    height: 100%;
    overflow: hidden;
    @media (max-width: $pc) {
      width: 100%;
    }
    @media (max-width: $sp) {
      width: 100%;
    }

    & > ul {
      @media (max-width: $sp) {
        display: flex;
        flex-wrap: wrap;
        & > li.diamond {
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            order: 4;
          }
          &:nth-child(3) {
            order: 5;
          }
          &:nth-child(4) {
            order: 2;
          }
          &:nth-child(5) {
            order: 3;
          }
        }
      }
    }
  }

  .diamond {
    cursor: pointer;

    // 768px 〜 ひし形
    @media (min-width: $tab) {
      height: 226.27416998px; // 320px / √2
      margin: auto;
      overflow: hidden; // はみ出た背景画像削除
      position: absolute;
      transform: rotate(45deg);
      transform-origin: 50% 50%;
      width: 226.27416998px; // 320px / √2
    }
    @media (max-width: $pc) {
      height: px-to-vw(226); // 226pxを1080px(containerのmax横幅)以下でvw化
      width: px-to-vw(226); // 226pxを1080px(containerのmax横幅)以下でvw化
    }
    // 〜 768 長方形
    @media (max-width: $sp) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      height: 80px;
      position: relative;
      width: 100%;
    }

    // ひし型メニューの背景画像
    &::before {
      background: center / contain #fff no-repeat;
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      @media (min-width: $tab) {
        left: 60px;
        top: 60px;
        transform: rotate(-45deg);
        transition: $menu-animation-duration all;
        will-change: transform;
      }
      @media (max-width: $sp) {
        background-position: 90% 20px;
      }
    }

    // フィルター
    .filter {
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    // .diamond 位置調整
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      top: 45px;
      @media (max-width: $pc) {
        top: px-to-vw(45); // 235pxを1080px(containerのmax横幅)以下でvw化;
      }
    }
    &:nth-child(4),
    &:nth-child(5) {
      bottom: 45px;
      left: 0;
      right: 0;
      @media (max-width: $pc) {
        bottom: px-to-vw(45); // 45pxを1080px(containerのmax横幅)以下でvw化
      }
    }
    &:nth-child(1) {
      left: 45px;
      @media (max-width: $pc) {
        left: px-to-vw(45); // 45pxを1080px(containerのmax横幅)以下でvw化
      }
      @media (max-width: $sp) {
        left: 0;
        top: 0;
      }

      // 背景画像
      &::before {
        background-image: url(#{$root-path}/images/top/menu-background/01.png);
      }
    }
    &:nth-child(2) {
      left: 0;
      right: 0;
      @media (max-width: $sp) {
        left: 0;
        top: 0;
      }

      // 背景画像
      &::before {
        background-image: url(#{$root-path}/images/top/menu-background/02.png);
      }
    }
    &:nth-child(3) {
      right: 45px;
      @media (max-width: $pc) {
        right: px-to-vw(45); // 45pxを1080px(containerのmax横幅)以下でvw化
      }
      @media (max-width: $sp) {
        left: 0;
        top: 0;
      }

      // 背景画像
      &::before {
        background-image: url(#{$root-path}/images/top/menu-background/03.png);
      }
    }
    &:nth-child(4) {
      margin-left: calc(45px + 160px + 30px); // left位置 + ひし形の半分 + 余白
      @media (max-width: $pc) {
        margin-left: px-to-vw(235); // 235pxを1080px(containerのmax横幅)以下でvw化
      }
      @media (max-width: $sp) {
        left: 0;
        margin-left: 0;
        top: 0;
      }

      // 背景画像
      &::before {
        background-image: url(#{$root-path}/images/top/menu-background/04.png);
      }
    }
    &:nth-child(5) {
      margin-right: calc(45px + 160px + 30px); // right位置 + ひし形の半分 + 余白
      @media (max-width: $pc) {
        margin-right: px-to-vw(235); // 235pxを1080px(containerのmax横幅)以下でvw化
      }
      @media (max-width: $sp) {
        left: 0;
        margin-right: 0;
        top: 0;
      }

      // 背景画像
      &::before {
        background-image: url(#{$root-path}/images/top/menu-background/05.png);
      }
    }

    & > a {
      display: block;
      height: 100%;
      position: relative;
      z-index: 4;

      .diamond__inner {
        height: 100%;
        position: absolute;
        width: 100%;

        // center部分
        & > div {
          @media (min-width: $tab) {
            height: 100%;
            left: 0;
            margin: auto;
            padding-top: 35px;
            position: absolute;
            right: 0;
            top: 0;
            transform: rotate(-45deg);
            width: 70%;
          }
          @media (max-width: $pc) {
            padding-top: px-to-vw(35); // 35pxを1080px(containerのmax横幅)以下でvw化
          }
          @media (max-width: $sp) {
            padding: 0 20px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }

          .diamond__title {
            font-size: 30px;
            font-weight: 600;
            line-height: 1.2;
            @media (max-width: $pc) {
              font-size: px-to-vw(30); // 30pxを1080px(containerのmax横幅)以下でvw化
            }
            @media (max-width: $sp) {
              display: inline-block;
              font-weight: 500;
              @include sp-font-vw(35);
            }
          }
          .diamond__titleSub {
            font-size: 14px;
            font-weight: bold;
            margin-top: 8px;
            @media (max-width: $pc) {
              font-size: px-to-vw(14);
              margin-top: px-to-vw(8); // 8pxを1080px(containerのmax横幅)以下でvw化
            }
            @media (max-width: $sp) {
              display: inline-block;
              font-size: 12px;
            }
          }
          // 会社概要ページに表示されるMORE
          .diamond__more {
            background: $c-main;
            bottom: -25%;
            color: #fff;
            height: 90px;
            left: -50%;
            padding-top: 10px;
            position: absolute;
            width: 200%;
            @media (max-width: $pc) {
              bottom: -35%;
              font-size: 12px;
            }

            img {
              display: inline-block;
              margin-left: 5px;
            }
          }
        }
        .diamond__icon {
          margin: auto;
          position: absolute;
          @media (min-width: $tab) {
            bottom: -10px;
            left: 0;
            right: 0;
            transition: $menu-animation-duration all;
          }
          @media (max-width: $sp) {
            bottom: 0;
            right: 10px;
            top: 0;
          }
        }
      }
    } // a

    // hover時、赤く染まる挙動
    @media (min-width: $tab) {
      // hover時アニメーション類(769px~)

      // .diamond::after(赤い円)
      &::after {
        animation: circleRedOut $menu-animation-duration ease-in-out both;
        background: rgba(235, 41, 54, 0.6);
        border-radius: 50%;
        content: "";
        height: 100%;
        @include centeringMargin;
        position: absolute;
        transform: scale(0);
        width: 100%;
        will-change: transform;
        z-index: 3;
      }

      &:hover {
        // .diamond::before
        &::before {
          transform: rotate(-45deg) translateY(-10px);
        }
        // .diamond::after
        &::after {
          animation: circleRed 0.3s ease-in-out both;
        }

        a div .diamond__icon {
          bottom: -15px;
        }
      }
      // hover時赤い円挙動
      @keyframes circleRed {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1.5);
        }
      }
      // hover解除時赤い円挙動
      @keyframes circleRedOut {
        0% {
          transform: scale(1.5);
        }
        100% {
          transform: scale(0);
        }
      }
    }
  } // diamond
} //END メニュー
