/* entry-header(single/page)
--------------------------------------------------------------------------------------------*/

@import "./config";

// style/compressed/main.min.cssからのrootへの相対
$root-path: "../..";

.entry-header {
  height: 300px;
  position: relative;
  z-index: 1;

  .container {
    height: 100%;
  }

  // 記事タイトル
  &__title {
    bottom: calc(120px + 21px + 25px + 14px); // ずらした白背景レイアウト部分 + ぱんくず + ぱんくず余白 + 余白
    color: #000;
    font-size: 34px;
    max-width: 800px;
    position: absolute;
    word-break: break-word;
  }

  // ぱんくず
  .breadcrumb {
    bottom: calc(120px + 25px); // ずらした白背景レイアウト部分 + 余白
    height: calc(14px * 1.5); // font-size * 1.5 = 21
    left: -120px;
    position: absolute;
    width: 100%;
    ul {
      display: flex;
      justify-content: flex-end; // 右寄せ
      li {
        &:not(:first-child) {
          // セパレーター
          &::before {
            color: #000;
            content: "−";
            margin-left: 20px;
          }
        } // not:first-child
        a,
        span {
          color: #000;
          font-size: 14px;
        }
        a {
          font-weight: 500; // リンク付きのぱんくず(親階層)は太文字
        }
        span {
          margin-left: 20px;
        }
      } // li
    } // ul
  } // breadcrumb
}

// 各ページヘッダー共通部分
.news-header,
.company-header,
.contact-header,
.search-header,
.notfound-header {
  background: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;

  // 薄い英字タイトル部分
  &::before {
    bottom: 110px;
    color: $c-lightgray;
    display: inline-block;
    font: bold 180px "Roboto Condensed", sans-serif;
    line-height: 1;
    position: absolute;
    right: 0;
  }

  // ずらした白背景レイアウト部分
  &::after {
    background: #fff;
    bottom: 0;
    content: "";
    display: block;
    height: 120px;
    left: -120px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  // 記事タイトル
  .entry-header__title {
    color: #fff;
  }

  // ぱんくず
  .breadcrumb {
    // ぱんくず文字 & セパレータ
    ul li a,
    ul li span,
    ul li:not(:first-child)::before {
      color: #fff;
    }
  }
}

// カテゴリ
.category-header {
  &::before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 3;
  }

  &-mold {
    background-image: url(#{$root-path}/images/category/mold/header.png);
  }
  &-sand_casting {
    background-image: url(#{$root-path}/images/category/sand-casting/header.png);
  }
  &-investment_casting {
    background-image: url(#{$root-path}/images/category/investment-casting/header.png);
  }
  &-jewelry {
    background-image: url(#{$root-path}/images/category/jewelry/header.png);
  }
  &-new_field {
    background-image: url(#{$root-path}/images/category/new-field/header.png);
  }
}

// 子カテゴリ
.category-children-header {
  background: #fff;
  height: 220px;
  margin-bottom: 80px;

  // 白い余白なし
  &::after {
    display: none;
  }
  .container {
    border-bottom: 1px solid $c-gray;
    position: relative;
  }

  // 記事タイトル
  .entry-header__title {
    bottom: calc(21px + 45px + 14px); // ぱんくず + ぱんくず余白 + 余白
    color: #000;
  }

  // ぱんくず
  .breadcrumb {
    bottom: calc(45px); // 余白
    left: 0;
    // ぱんくず文字 & セパレータ
    ul li a,
    ul li span,
    ul li:not(:first-child)::before {
      color: #000;
    }
  }
}

// ニュース
.news-header {
  background-image: url(#{$root-path}/images/news/header.png);

  &::before {
    bottom: 65px;
    content: "NEWS";
    opacity: 0.4;
  }
}

// お問合せ
.contact-header {
  background: #fff;

  &::before {
    bottom: 65px;
    content: "CONTACT";
    opacity: 0.4;
  }
  // ずらした白背景レイアウト部分
  &::after {
    display: none;
  }

  // 記事タイトル
  .entry-header__title {
    color: #000;
  }
  .entry-header__titleSub {
    bottom: calc(120px + 14px); // ずらした白背景レイアウト部分 + 余白
    color: #000;
    @extend .entry-header__title;
    font-size: 18px;
    font-weight: bold;
  }

  // ぱんくず
  .breadcrumb {
    ul {
      li {
        &:not(:first-child) {
          // セパレーター
          &::before {
            color: #000;
          }
        } // not:first-child
        a,
        span {
          color: #000;
        }
      } // li
    } // ul
  } // breadcrumb
}

// 会社概要
.company-header {
  background-image: url(#{$root-path}/images/company/header.png);

  &::before {
    bottom: 65px;
    content: "COMPANY";
    opacity: 0.4;
  }
}

// 検索画面
.search-header {
  background: #fff;

  &::before {
    color: $c-whitesmoke;
    content: "SEARCH";
  }

  // ずらした白背景レイアウト部分
  &::after {
    display: none;
  }

  // XXの検索結果
  .entry-header__title {
    bottom: calc(120px + 66px + 20px + 15px); // __countの位置 + __countの高さ + ぱんくずの高さ + 余白
    color: #000;
  }

  // hit件数
  &__count {
    bottom: 120px;
    color: #000;
    line-height: 1;
    position: absolute;

    &--num,
    &--unit {
      display: inline-block;
    }

    &--num {
      font-size: 66px;
      vertical-align: sub;
    }

    &--unit {
      font-size: 34px;
      margin-left: 0.5em;
    }
  }

  // ぱんくず
  .breadcrumb {
    bottom: calc(120px + 66px); // __countの位置 + __countの高さ
    ul {
      li {
        &:not(:first-child) {
          // セパレーター
          &::before {
            color: #000;
          }
        } // not:first-child
        a,
        span {
          color: #000;
        }
      } // li
    } // ul
  } // breadcrumb
}

// 404
.notfound-header {
  background: #fff;

  &::before {
    content: "404 NOT FOUND";
    font-size: 110px;
    left: 0;
    margin: auto;
    text-align: center;
  }

  // ずらした白背景レイアウト部分
  &::after {
    display: none;
  }
}
