/* entry-header(single/page)
--------------------------------------------------------------------------------------------*/

@import "./config";
$border-color: #a5a5a5;
$entry-header-height: 180px;
$blank-bg-white-heightPc: 120px;
$blank-bg-white-heightSp: 50px;
$blank-bg-white-positionPc: -120px;
$blank-bg-white-positionSp: -2.5%; // containerの余白に合わせる
$breadList-gapPc: 25px;
$breadList-gapSp: 15px;

// style/compressed/main.min.cssからのrootへの相対
$root-path: "../..";

.entry-header {
  height: calc(#{$entry-header-height} + #{$blank-bg-white-heightPc});
  position: relative;
  z-index: 1;
  @media (max-width: $sp) {
    height: calc(#{$entry-header-height} + #{$blank-bg-white-heightSp});
  }

  .container {
    height: 100%;
  }

  // 記事タイトル
  &__title {
    bottom: calc(
    #{$blank-bg-white-heightPc} + 21px + #{$breadList-gapPc} + 14px
    ); // ずらした白背景レイアウト部分 + ぱんくず + ぱんくず余白 + 余白
    color: #000;
    font-size: 34px;
    font-weight: 500;
    max-width: 800px;
    position: absolute;
    word-break: break-word;
    @media (max-width: $sp) {
      bottom: calc(
      #{$blank-bg-white-heightSp} + 21px + #{$breadList-gapPc} + 14px
      ); // ずらした白背景レイアウト部分 + ぱんくず + ぱんくず余白 + 余白
      font-size: 28px;
    }
  }

  // ぱんくず
  .breadcrumb {
    bottom: calc(#{$blank-bg-white-heightPc} + #{$breadList-gapPc}); // ずらした白背景レイアウト部分 + 余白
    height: calc(14px * 1.5); // font-size * 1.5 = 21
    left: $blank-bg-white-positionPc; // 白い余白部分に合わせる
    position: absolute;
    width: 100%;
    @media (max-width: $sp) {
      bottom: calc(#{$blank-bg-white-heightSp} + #{$breadList-gapSp}); // ずらした白背景レイアウト部分 + 余白
      left: $blank-bg-white-positionSp;
    }

    ul {
      display: flex;
      justify-content: flex-end; // 右寄せ
      @media (max-width: $sp) {
        flex-wrap: wrap;
      }

      li {
        &:not(:first-child) {
          // セパレーター
          &::before {
            color: #000;
            content: "−";
            margin-left: 20px;
          }
        } // not:first-child
        a,
        span {
          color: #000;
          font-size: 14px;
          @media (max-width: $sp) {
            font-size: 12px;
          }
        }
        a {
          font-weight: 500; // リンク付きのぱんくず(親階層)は太文字
          &.c-trans-red span {
            transition: all 0.3s;
          }
          &.c-trans-red:hover span {
            color: $c-main;
          }
        }
        span {
          margin-left: 20px;
        }
      } // li
    } // ul
  } // breadcrumb
}

// 投稿ページ(第四階層)
.single-header {
  height: $entry-header-height;

  .container {
    border-bottom: 1px solid $border-color;
  }

  // タイトル
  .entry-header__title {
    bottom: calc(21px + #{$breadList-gapPc} + 14px); //ぱんくず高さ + ぱんくず位置 + 余白
    @media (max-width: $sp) {
      bottom: calc(21px + (#{$breadList-gapSp} + 20px) + 14px); //ぱんくず高さ + ぱんくず位置 + 余白
    }
  }
  // ぱんくず
  .breadcrumb {
    bottom: $breadList-gapPc;
    @media (max-width: $sp) {
      bottom: calc(#{$breadList-gapSp} + 20px);
    }
  }
}

// 各ページヘッダー共通部分
.news-header,
.company-header,
.category-header,
.contact-header,
.search-header,
.notfound-header {
  background-repeat: no-repeat;
  background-size: cover;

  // 薄い英字タイトル部分
  &::before {
    bottom: calc(#{$blank-bg-white-heightPc} - 10px); // 文字が背景に被るくらい
    color: $c-lightgray;
    display: inline-block;
    font: bold 180px "Roboto Condensed", sans-serif;
    line-height: 1;
    position: absolute;
    right: 0;
    @media (max-width: $sp) {
      bottom: calc(#{$blank-bg-white-heightSp} - 10px); // 文字が背景に被るくらい
      font-size: 90px;
    }
  }

  // ずらした白背景レイアウト部分
  &::after {
    background: #fff;
    bottom: 0;
    content: "";
    display: block;
    height: $blank-bg-white-heightPc;
    left: $blank-bg-white-positionPc;
    position: absolute;
    width: 100%;
    z-index: 2;
    @media (max-width: $sp) {
      height: $blank-bg-white-heightSp;
      left: $blank-bg-white-positionSp;
    }
  }

  // 記事タイトル
  .entry-header__title {
    color: #fff;
  }

  // ぱんくず
  .breadcrumb {
    // ぱんくず文字 & セパレータ
    ul li a,
    ul li span,
    ul li:not(:first-child)::before {
      color: #fff;
    }
    ul li a.c-trans-red span {
      transition: all 0.3s;
    }
    ul li a.c-trans-red:hover span {
      color: $c-main;
    }
  }
}

// カテゴリ
.category-header {
  &::before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .container {
    position: relative;
    z-index: 3;
  }

  &-mold {
    background-image: url(#{$root-path}/images/category/mold/header.png);
  }
  &-sand_casting {
    background-image: url(#{$root-path}/images/category/sand-casting/header.png);
  }
  &-investment_casting {
    background-image: url(#{$root-path}/images/category/investment-casting/header.png);
  }
  &-jewelry {
    background-image: url(#{$root-path}/images/category/jewelry/header.png);
  }
  &-new_field {
    background-image: url(#{$root-path}/images/category/new-field/header.png);
  }
}

// 子カテゴリ
.category-children-header {
  background: #fff;
  height: 220px;
  margin-bottom: 80px;

  // 白い余白なし
  &::after {
    display: none;
  }
  .container {
    border-bottom: 1px solid $border-color;
    position: relative;
  }

  // 記事タイトル
  .entry-header__title {
    bottom: calc(21px + 45px + 14px); // ぱんくず + ぱんくず余白 + 余白
    color: #000;
  }

  // ぱんくず
  .breadcrumb {
    bottom: calc(45px); // 余白
    left: 0;
    // ぱんくず文字 & セパレータ
    ul li a,
    ul li span,
    ul li:not(:first-child)::before {
      color: #000;
    }
  }
}

// ニュース
.news-header {
  background-image: url(#{$root-path}/images/news/header.png);

  &::before {
    bottom: 65px;
    content: "NEWS";
    opacity: 0.4;
    @media (max-width: $sp) {
      bottom: calc(#{$blank-bg-white-heightSp} - 20px);
      opacity: 0.3;
    }
  }

  @media (max-width: $sp) {
    .entry-header__title {
      bottom: calc(
      #{$blank-bg-white-heightSp} + 21px + #{$breadList-gapPc} + 50px + 14px
      ); // ずらした白背景レイアウト部分 + ぱんくず + ぱんくず余白 + ぱんくず余白 + 余白
    }
    .breadcrumb {
      bottom: calc(#{$blank-bg-white-heightSp} + #{$breadList-gapSp} + 50px); // ずらした白背景レイアウト部分 + 余白 + 余白
    }
  }
}

// お問合せ
.contact-header {
  background: #fff;

  &::before {
    bottom: 65px;
    content: "CONTACT";
    opacity: 0.4;
    @media (max-width: $sp) {
      bottom: calc(#{$blank-bg-white-heightSp} - 20px);
      opacity: 0.3;
    }
  }
  // ずらした白背景レイアウト部分
  &::after {
    display: none;
  }

  // 記事タイトル
  .entry-header__title {
    color: #000;
  }
  // お問い合わせはこちらから
  .entry-header__titleSub {
    bottom: calc(#{$blank-bg-white-heightPc} + 14px); // ずらした白背景レイアウト部分 + 余白
    color: #000;
    @extend .entry-header__title;
    font-size: 18px;
    font-weight: bold;
    @media (max-width: $sp) {
      bottom: calc(#{$blank-bg-white-heightSp} + 21px + 24px); // ずらした白背景レイアウト部分 + ぱんくず + 余白
      font-size: 12px;
    }
  }

  // ぱんくず
  .breadcrumb {
    ul {
      li {
        &:not(:first-child) {
          // セパレーター
          &::before {
            color: #000;
          }
        } // not:first-child
        a,
        span {
          color: #000;
        }
      } // li
    } // ul
  } // breadcrumb
}

// 会社概要
.company-header {
  background-image: url(#{$root-path}/images/company/header.png);
}

// 検索画面
.search-header {
  background: #fff;

  &::before {
    color: $c-whitesmoke;
    content: "SEARCH";
    @media (max-width: $sp) {
      bottom: calc(#{$blank-bg-white-heightSp} - 20px);
    }
  }

  // ずらした白背景レイアウト部分
  &::after {
    display: none;
  }

  // XXの検索結果
  .entry-header__title {
    bottom: calc(#{$blank-bg-white-heightPc} + 66px + 20px + 15px); // __countの位置 + __countの高さ + ぱんくずの高さ + 余白
    color: #000;
    @media (max-width: $sp) {
      bottom: calc(20px + 45px + 20px + 25px); // __countの位置 + __countの高さ + ぱんくずの余白 + ぱんくずの高さ + 余白
    }
  }

  // hit件数
  &__count {
    bottom: $blank-bg-white-heightPc;
    color: #000;
    line-height: 1;
    position: absolute;
    @media (max-width: $sp) {
      bottom: 20px;
      margin-bottom: 25px; // ぱんくずと少し被るくらい
    }

    &--num,
    &--unit {
      display: inline-block;
    }

    &--num {
      font-size: 66px;
      vertical-align: sub;
      @media (max-width: $sp) {
        font-size: 45px;
      }
    }

    &--unit {
      font-size: 34px;
      margin-left: 0.5em;
      @media (max-width: $sp) {
        font-size: 15px;
        vertical-align: text-bottom;
      }
    }
  }

  // ぱんくず
  .breadcrumb {
    bottom: calc(#{$blank-bg-white-heightPc} + 66px); // __countの位置 + __countの高さ
    @media (max-width: $sp) {
      bottom: calc(20px + 45px); // __countの位置 + __countの高さ
    }
    ul {
      li {
        &:not(:first-child) {
          // セパレーター
          &::before {
            color: #000;
          }
        } // not:first-child
        a,
        span {
          color: #000;
        }
      } // li
    } // ul
  } // breadcrumb
}

// 404
.notfound-header {
  background: #fff;
  @media (max-width: $sp) {
    height: $entry-header-height;
  }

  &::before {
    content: "404 NOT FOUND";
    font-size: 110px;
    left: 0;
    margin: auto;
    text-align: center;
    @media (max-width: $sp) {
      font-size: 15vw;
    }
  }

  // ずらした白背景レイアウト部分
  &::after {
    display: none;
  }
}
