/* entry-header(single/page)
--------------------------------------------------------------------------------------------*/

@import "./config";

.entry-header {
  background: rgba(0, 0, 0, 0.5);
  height: 300px;
  position: relative;
  z-index: 1;

  // ずらした白背景レイアウト部分
  &::after {
    background: #fff;
    bottom: 0;
    content: "";
    display: block;
    height: 120px;
    left: -120px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  // 記事タイトル
  &__title {
    bottom: calc(120px + 21px + 25px + 14px); // ずらした白背景レイアウト部分 + ぱんくず + ぱんくず余白 + 余白
    color: #fff;
    font-size: 34px;
    max-width: 800px;
    position: absolute;
    word-break: break-word;
  }

  // ぱんくず
  .breadcrumb {
    bottom: calc(120px + 25px); // ずらした白背景レイアウト部分 + 余白
    height: calc(14px * 1.5); // font-size * 1.5 = 21
    left: -120px;
    position: absolute;
    width: 100%;
    ul {
      display: flex;
      justify-content: flex-end; // 右寄せ
      li {
        &:not(:first-child) {
          // セパレーター
          &::before {
            color: #fff;
            content: "−";
            margin-left: 20px;
          }
        } // not:first-child
        a,
        span {
          color: #fff;
          font-size: 14px;
        }
        a {
          font-weight: 500; // リンク付きのぱんくず(親階層)は太文字
        }
        span {
          margin-left: 20px;
        }
      } // li
    } // ul
  } // breadcrumb
}

// 各ページヘッダー共通部分(薄いタイトル)
.news-header,
.company-header,
.search-header,
.notfound-header {
  &::before {
    bottom: 110px;
    color: $c-lightgray;
    display: inline-block;
    font: bold 180px "Roboto Condensed", sans-serif;
    line-height: 1;
    position: absolute;
    right: 0;
  }
}

// ニュース
.news-header {
  &::before {
    bottom: 65px;
    content: "NEWS";
    opacity: 0.4;
  }
}

// 会社概要
.company-header {
  &::before {
    bottom: 65px;
    content: "COMPANY";
    opacity: 0.4;
  }
}

// 検索画面
.search-header {
  background: #fff;

  &::before {
    color: $c-whitesmoke;
    content: "SEARCH";
  }

  // ずらした白背景レイアウト部分
  &::after {
    display: none;
  }

  // XXの検索結果
  .entry-header__title {
    bottom: calc(120px + 66px + 20px + 15px); // __countの位置 + __countの高さ + ぱんくずの高さ + 余白
    color: #000;
  }

  // hit件数
  &__count {
    bottom: 120px;
    color: #000;
    line-height: 1;
    position: absolute;

    &--num,
    &--unit {
      display: inline-block;
    }

    &--num {
      font-size: 66px;
      vertical-align: sub;
    }

    &--unit {
      font-size: 34px;
      margin-left: 0.5em;
    }
  }

  // ぱんくず
  .breadcrumb {
    bottom: calc(120px + 66px); // __countの位置 + __countの高さ
    ul {
      li {
        &:not(:first-child) {
          // セパレーター
          &::before {
            color: #000;
          }
        } // not:first-child
        a,
        span {
          color: #000;
        }
      } // li
    } // ul
  } // breadcrumb
}

// 404
.notfound-header {
  background: #fff;

  &::before {
    content: "404 NOT FOUND";
    font-size: 110px;
    left: 0;
    margin: auto;
    text-align: center;
  }

  // ずらした白背景レイアウト部分
  &::after {
    display: none;
  }
}
