/* Footer
--------------------------------------------------------------------------------------------*/

// style/compressed/main.min.cssからのrootへの相対
$root-path: "../..";

@import "./config";

.footer {
  margin-top: 100px;

  .cta {
    background: center / cover url(#{$root-path}/images/footer/cta-background.png) no-repeat;
    display: block;
    height: 200px;
    position: relative;

    // フィルター
    &::before {
      background: rgba(0, 0, 0, 0.6);
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    .container {
      align-items: center;
      display: flex;
      height: 100%;
      position: relative;
      z-index: 2;
    }

    &__title {
      font-size: 42px;
      font-weight: 500;

      &Sub {
        font-weight: 500;
        margin-left: 1.5em;
      }
    }

    &__icon {
      margin-left: 30px;
    }
  } // cta

  .overseas {
    padding: 50px 0;

    .container {
      align-items: center;
      display: flex;
      @media (max-width: $sp) {
        flex-wrap: wrap;
      }
    }

    &__title {
      font-size: 22px;
      font-weight: 500;
      line-height: 1;

      &Sub {
        color: $c-gray;
        font-weight: 500;
        margin-top: 1em;
        @media (max-width: $sp) {
          margin-top: 15px;
        }
      }
    }

    &__left {
      flex-grow: 1;
      @media (max-width: $sp) {
        width: 100%;
      }
    }

    &__right {
      align-items: center;
      display: flex;
      flex-grow: 2;
      justify-content: space-between;
      margin-left: auto;
      padding-left: 200px;
      @media (max-width: $sp) {
        margin-top: 20px;
        padding-left: 0;
        width: 100%;
      }

      img {
        // FREEMAN
        &:nth-child(1) {
          width: 20%;
        }
        // RANSOM & RANDOLPH
        &:nth-child(2) {
          width: 20%;
        }
        // LANIK
        &:nth-child(3) {
          width: 20%;
        }
        // Remet
        &:nth-child(4) {
          width: 5%;
        }
      }
    }
  } // overseas

  .sitemap {
    background: #000;
    padding: 90px 0;

    &__logo {
      margin: auto;
      width: 200px;
    }

    &__menu {
      color: #fff;
      display: flex;
      margin-top: 60px;
      @media (max-width: $sp) {
        margin-top: 30px;
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      width: calc(100% / 5);
      @media (min-width: $tab) {
        // pcでは最初の以外は左に余白
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
      &.grow-1 {
        flex-grow: 1;
      }
      &.grow-2 {
        flex-grow: 2;
      }
      &.shrink {
        width: calc((100% / 5) - 40px);
      }

      &--title {
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
      }

      &--titleSub {
        font-size: 12px;
        line-height: 1;
        margin-top: 7px;
      }

      &--menu {
        margin-top: 20px;
        @media (min-width: $tab) {
          &.col {
            display: flex;
            flex-wrap: wrap;
            li {
              width: 50%;
            }
          } // .col
        }
        li {
          line-height: 1;
          margin-top: 10px; // 二列表示の時に面倒なので最初の要素にも効かせる
        }
        a {
          color: #fff;
          font-size: 12px;
          @media (max-width: $pc) {
            font-size: px-to-vw(12);
          }
        }
      } // &--menu
    } // __block

    // アコーディオン
    @media (max-width: $sp) {
      &__menu {
        flex-direction: column;
      }
      &__block {
        &.grow-1,
        &.grow-2,
        &.shrink {
          width: 100%;
        }
        &:not(:first-child) {
          position: relative;
          &::before {
            background: rgba(255, 255, 255, 0.2);
            content: "";
            display: inline-block;
            height: 1px;
            left: -2.5%; // container余白分
            position: absolute;
            top: 0;
            width: 100vw;
          }
        }
        .js-accordion {
          margin-top: 20px;
          padding-right: 20px;
          padding-top: 20px;
          position: relative;
          &::before {
            content: "▲";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .js-clicked {
          @media (max-width: $sp) {
            &::before {
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
        &--menu {
          height: 0;
          margin-left: 0;
          opacity: 0;
          transform: translateY(-30px);
          transition: all 0.3s;
          will-change: opacity, height;
          & > li {
            margin-top: 20px;
            padding-left: 0;
            &::before {
              display: none;
            }
          }
          &.js-active {
            height: auto;
            margin-top: 0;
            opacity: 1;
            padding-bottom: 30px;
            transform: none;
          }
        }
      }
    } // media sp
  } // sitemap

  .information {
    background: #151515;
    color: #fff;
    padding: 40px 0;

    .container {
      align-content: space-between;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 90px;
      @media (max-width: $sp) {
        flex-direction: row;
        height: auto;
      }

      .links,
      .copyright,
      .affiliates {
        width: calc(50% - 10px);
        @media (max-width: $sp) {
          width: 100%;
        }
      }
      .links {
        height: 60px;
        @media (max-width: $sp) {
          height: auto;
        }

        li {
          display: inline-block;
          font-size: 14px;
          line-height: 1;
          &:not(:first-child) {
            border-left: 1px solid #fff;
            margin-left: 6px;
            padding-left: 7px;
          }
          @media (max-width: $sp) {
            margin-top: 14px;
          }
        }
        a {
          color: #fff;
        }
      }
      .copyright {
        color: #707070;
        font-size: 12px;
        height: 30px;
        @media (max-width: $sp) {
          height: auto;
          margin-top: 20px;
          order: 3;
          text-align: right;
        }
      }
      .affiliates {
        display: flex;
        height: 90px;
        @media (max-width: $sp) {
          height: auto;
          margin-top: 14px;
        }

        h4 {
          font-size: 14px;
          white-space: nowrap;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          margin-left: 30px;
          @media (max-width: $sp) {
            margin-left: 10px;
          }

          li {
            font-size: 12px;
            font-weight: 100;
            padding: 0 2px;
            width: 50%;
            @media (min-width: $tab) {
              &:nth-child(1) {
                order: 1;
              }
              &:nth-child(2) {
                order: 3;
              }
              &:nth-child(3) {
                order: 5;
              }
              &:nth-child(4) {
                order: 2;
              }
              &:nth-child(5) {
                order: 4;
              }
            }
          }
        }

        @media (max-width: $sp) {
          order: 2;
        }
      } // affiliates
    }
  } // information

  .gototop {
    background: $c-main;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    padding: 1.5em 1em 1em 1em;
    position: fixed;
    right: 0;
    writing-mode: vertical-rl;
    z-index: 2;
    &::before {
      background: #fff;
      content: "";
      display: inline-block;
      height: 12px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
    }
  }
}
