/* Footer
--------------------------------------------------------------------------------------------*/

$footer-animation-duration: 0.3s;
// style/compressed/main.min.cssからのrootへの相対
$root-path: '../..';

@import './config';

.footer {
  margin-top: 100px;

  .cta {
    position: relative;
    display: block;
    height: 200px;
    margin-top: 40px;
    background: center / cover
      url(#{$root-path}/images/footer/cta-background.png) no-repeat;
    @media (max-width: $sp) {
      height: 120px;
    }

    // 飛行機の画像の上部分
    &-lead {
      &__text {
        padding-top: 40px;
        line-height: 2;
        border-top: 1px solid #707070;
      }
    }

    .container {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      height: 100%;
      @media (max-width: $sp) {
        flex-direction: column;
        justify-content: center;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 42px;
      @media (max-width: $sp) {
        font-size: 28px;
      }

      &Sub {
        font-weight: 500;
        @media (min-width: $tab) {
          margin-left: 1.5em;
        }
      }
    }

    &__icon {
      margin-left: 30px;
    }

    .arrow {
      @media (max-width: $sp) {
        position: absolute;
        top: 0;
        right: 10%;
        bottom: 0;
        margin: auto;
      }
    }

    @media (min-width: $tab) {
      // hover時アニメーション類(769px~)

      // .cta::after(赤い背景)
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 0;
        height: 100%;
        background: rgba(235, 41, 54, 0.6);
        animation: growRedOut $footer-animation-duration ease-in-out both;
        content: '';
        will-change: opacity, width;
      }

      &:hover {
        // .cta::before
        &::before {
          opacity: 1;
        }
        // .cta::after
        &::after {
          animation: growRed $footer-animation-duration ease-in-out both;
        }
      }
      // hover時赤い背景挙動
      @keyframes growRed {
        0% {
          width: 0;
          opacity: 0;
        }
        100% {
          width: 100%;
          opacity: 1;
        }
      }
      // hover解除時赤い背景挙動
      @keyframes growRedOut {
        0% {
          width: 100%;
          opacity: 1;
        }
        100% {
          width: 0;
          opacity: 0;
        }
      }
    } // media PC
  } // cta

  .overseas {
    padding: 50px 0;
    @media (max-width: $sp) {
      padding: 25px 0;
    }

    .container {
      display: flex;
      align-items: center;
      @media (max-width: $sp) {
        flex-wrap: wrap;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 22px;
      line-height: 1;

      &Sub {
        margin-top: 1em;
        color: $c-gray;
        font-weight: 600;
        @media (max-width: $sp) {
          margin-top: 15px;
        }
      }
    }

    &__left {
      flex-grow: 1;
      @media (max-width: $sp) {
        width: 100%;
      }
    }

    &__right {
      display: flex;
      flex-grow: 2;
      align-items: center;
      justify-content: space-between;
      margin-left: auto;
      padding-left: 200px;
      @media (max-width: $sp) {
        width: 100%;
        margin-top: 20px;
        padding-left: 0;
      }

      img {
        // FREEMAN
        &:nth-child(1) {
          width: 20%;
          @media (max-width: $sp) {
            width: 30%;
          }
        }
        // RANSOM & RANDOLPH
        &:nth-child(2) {
          width: 20%;
          @media (max-width: $sp) {
            width: 30%;
          }
        }
        // LANIK
        &:nth-child(3) {
          width: 20%;
          @media (max-width: $sp) {
            width: 25%;
          }
        }
        // Remet
        &:nth-child(4) {
          width: 5%;
        }
      }
    }
  } // overseas

  .sitemap {
    padding: 90px 0;
    background: #000;
    @media (max-width: $sp) {
      overflow: hidden;
    }

    &__logo {
      width: 200px;
      margin: auto;
    }

    &__menu {
      display: flex;
      margin-top: 60px;
      color: #fff;
      @media (max-width: $sp) {
        margin-top: 30px;
      }
    }

    &__block {
      display: flex;
      flex-direction: column;
      width: calc(100% / 5);
      @media (min-width: $tab) {
        // pcでは最初の以外は左に余白
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
      &.grow-1 {
        flex-grow: 1;
      }
      &.grow-2 {
        flex-grow: 2;
      }
      &.shrink {
        width: calc((100% / 5) - 40px);
      }

      &--title {
        font-weight: bold;
        font-size: 16px;
        line-height: 1;
      }

      &--titleSub {
        margin-top: 7px;
        font-size: 12px;
        line-height: 1;
      }

      &--menu {
        margin-top: 20px;
        @media (min-width: $tab) {
          &.col {
            display: flex;
            flex-wrap: wrap;
            li {
              width: 50%;
              padding-right: 1em;
            }
          } // .col
        }
        li {
          margin-top: 10px; // 二列表示の時に面倒なので最初の要素にも効かせる
          line-height: 1;
          &.sp-main-cat {
            display: none;
          }
        }
        a {
          font-size: 12px;
          @media (max-width: $pc) {
            font-size: px-to-vw(12);
          }
          @media (max-width: $sp) {
            font-size: 13px;
          }
        }
      } // &--menu
    } // __block

    // アコーディオン
    @media (max-width: $sp) {
      &__menu {
        flex-direction: column;
      }
      &__block {
        &.grow-1,
        &.grow-2,
        &.shrink {
          width: 100%;
        }
        &:not(:first-child) {
          position: relative;
          &::before {
            position: absolute;
            top: 0;
            left: -2.5%; // container余白分
            display: inline-block;
            width: 100vw;
            height: 1px;
            background: rgba(255, 255, 255, 0.2);
            content: '';
          }
        }
        .js-accordion {
          position: relative;
          margin-top: 20px;
          padding-top: 20px;
          padding-right: 20px;
          &::before {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            content: '▼';
          }
        }
        .js-clicked {
          @media (max-width: $sp) {
            &::before {
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
        &--menu {
          height: 0;
          margin-left: 0;
          transform: translateY(-30px);
          opacity: 0;
          transition: all 0.3s;
          will-change: opacity, height;
          & > li {
            margin-top: 20px;
            margin-left: 10px;
            padding-left: 0;
            &.sp-main-cat {
              display: list-item;
              margin-left: 0;
              font-weight: bold;
            }
            &::before {
              display: none;
            }
          }
          &.js-active {
            height: auto;
            margin-top: 0;
            padding-bottom: 30px;
            transform: none;
            opacity: 1;
          }
        }
      }
    } // media sp
  } // sitemap

  .information {
    padding: 40px 0;
    color: #fff;
    background: #151515;

    .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
      height: 90px;
      @media (max-width: $sp) {
        flex-direction: row;
        height: auto;
      }

      .links,
      .copyright,
      .affiliates {
        width: calc(50% - 10px);
        @media (max-width: $sp) {
          width: 100%;
        }
      }
      .links {
        height: 60px;
        @media (max-width: $sp) {
          height: auto;
        }

        li {
          display: inline-block;
          font-size: 14px;
          line-height: 1;
          &:not(:first-child) {
            margin-left: 6px;
            padding-left: 7px;
            border-left: 1px solid #fff;
          }
          @media (max-width: $sp) {
            margin-top: 14px;
          }
        }
      }
      .copyright {
        height: 30px;
        color: #707070;
        font-size: 12px;
        @media (max-width: $sp) {
          order: 3;
          height: auto;
          margin-top: 20px;
          text-align: right;
        }
      }
      .affiliates {
        display: flex;
        height: 90px;
        @media (max-width: $sp) {
          height: auto;
          margin-top: 14px;
        }

        h4 {
          font-size: 14px;
          white-space: nowrap;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          margin-left: 30px;
          @media (max-width: $sp) {
            margin-left: 10px;
          }

          li {
            width: 50%;
            padding: 0 2px;
            font-weight: 100;
            font-size: 12px;
            @media (min-width: $tab) {
              &:nth-child(1) {
                order: 1;
              }
              &:nth-child(2) {
                order: 3;
              }
              &:nth-child(3) {
                order: 5;
              }
              &:nth-child(4) {
                order: 2;
              }
              &:nth-child(5) {
                order: 4;
              }
            } // media PC
            @media (max-width: $sp) {
              width: 100%;
            }
          }
        }

        @media (max-width: $sp) {
          order: 2;
        }
      } // affiliates
    }
  } // information

  .gototop {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 1.5em 1em 1em 1em;
    color: #fff;
    font-size: 12px;
    background: $c-main;
    visibility: hidden;
    opacity: 0;
    transition: all $footer-animation-duration;
    writing-mode: vertical-rl;
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      display: inline-block;
      width: 1px;
      height: 12px;
      margin: auto;
      background: #fff;
      content: '';
    }

    &.js-active {
      visibility: visible;
      opacity: 1;
    }
  }
}
