/* FVのテキストのアニメーション
--------------------------------------------------------------------------------------------*/

@import "./config";

// ループで使う変数
$delay: 0.3s;

.hero__svg {
  path {
    animation: handWriting 2s ease-in both;
    // $fadeIn-animation-duration分+.05sずつ
    fill: #666;
    stroke: #666;
    stroke-width: 1px;

    // Pの部分だけアニメーション違う
    &.main-color {
      animation: handWritingRed 2s ease-in both;
    }

    // 一文字ずつ遅らせてアニメーション
    @for $i from 2 through 12 {
      &:nth-child(#{$i}) {
        animation-delay: $delay * $i;
      }
    }

    &:nth-child(5) {
      animation-duration: 5s;
    }

    @keyframes handWriting {
      0% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
      60% {
        fill: transparent;
        stroke-dashoffset: 0;
      }
      100% {
        fill: #fff;
        stroke: #fff;
      }
    }
    @keyframes handWritingRed {
      0% {
        fill: transparent;
        stroke-dasharray: 2000px;
        stroke-dashoffset: 2000px;
      }
      60% {
        fill: transparent;
        stroke-dashoffset: 0;
      }
      100% {
        fill: $c-main;
        stroke: $c-main;
      }
    }
  }
}
