/* オリジナルのブロックに関するスタイル
--------------------------------------------------------------------------------------------*/

// style/compressed/main.min.cssからのrootへの相対
$root-path: "../..";
$background-color: #f5f5f5;
$border-color: #707070;
$block-margin-bottomPc: 60px;
$block-margin-bottomSp: 40px;

// 一部のブロックがWPのオリジナルブロックであるカラムを使用しているため、
// そのブロックのデザイン切り替えするブレークポイントを設定する
$wp-column-breakPoint: 599px;

@import "./config";

// 共通の下部余白
.wp-block-freeman-block-slider,
.wp-block-embed.is-type-video,
.wp-block-freeman-block-table-physical-property,
.is-style-fm_table_details,
.is-style-fm_table_physical_property,
.wp-block-freeman-block-case,
.wp-block-freeman-block-case-and-item,
.wp-block-freeman-block-remarks {
  margin-bottom: $block-margin-bottomPc;
  margin-top: calc(#{$block-margin-bottomPc} / 2);
  @media (max-width: $sp) {
    margin-bottom: $block-margin-bottomSp;
    margin-top: calc(#{$block-margin-bottomSp} / 2);
  }
}

// スライダー(ユーザーによる投稿なので異なる画像サイズのものも同サイズで表示)
.wp-block-freeman-block-slider {
  padding: 40px 0;
  position: relative;

  // 横幅いっぱいのデザインにも使用できるようborderでなく擬似要素で
  &::before,
  &::after {
    background: $c-lightgray;
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    margin: auto;
    max-width: 1080px;
    position: absolute;
    right: 0;
    width: 100%;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  // スライダー部分
  .single-slider {
    height: 40vw;
    margin: 0 calc(50% - 50vw);
    max-height: 380px;
    width: 100vw;

    &__box {
      height: 100%;
      @include centeringMargin;
      max-width: 600px;
      position: absolute;
      width: 60%;
      @media (max-width: $sp) {
        width: 80%;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      background: #fff;
      position: absolute;
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
      height: 60px;
      width: 20px;

      &::after {
        color: #000;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}

.wp-block-embed.is-type-video {
  background: #f5f5f5;
  padding: 60px 5px;
  @media (max-width: $sp) {
    padding: 10px;
  }

  .wp-block-embed__wrapper {
    text-align: center;
  }
  iframe {
    height: 420px;
    max-width: 720px;
    width: 100%;
    @media (max-width: $sp) {
      height: 280px;
    }
  }

  figcaption {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }
}

// テーブルのスタイル(商品詳細)
.is-style-fm_table_details {
  table {
    width: 100%;
  }
  tr {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
  }
  tr td {
    border-left: none;
    border-right: none;
    padding: 2em 1.5em;
    @media (max-width: $sp) {
      padding: 0.5em;
    }
  }
  tr td:nth-child(1) {
    background: $background-color;
    color: #0e0e0e;
    font-size: 16px;
    font-weight: 500;
    max-width: 15%;
    text-align: center;
    @media (max-width: $sp) {
      font-size: 14px;
      max-width: 25%;
      width: 25%;
    }
  }
}

// テーブルのスタイル(Guntenbergデフォルトのもの)
.is-style-stripes.wp-block-table {
  table {
    width: 100%;
  }

  thead th {
    font-size: 16px;
    padding: 0.5em 1.5em;
    text-align: left;
  }
  tr td {
    padding: 2em 1.5em;
    &:nth-child(1) {
      font-size: 16px;
      font-weight: 500;
      text-align: left;
    }
    &:nth-child(2) {
      font-size: 14px;
    }
  }
}

// テーブルのスタイル(標準物性)
.is-style-fm_table_physical_property {
  table {
    width: 100%;
  }

  thead th {
    background: #888;
    color: #fff;
    font-size: 20px;
    padding: 0.5em 1.5em;
    text-align: left;
  }
  tr {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
  }
  tr td {
    border-left: none;
    border-right: none;
    padding: 2em 1.5em;
    &:nth-child(1) {
      background: $background-color;
      color: #0e0e0e;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      width: 20%;
    }
    &:nth-child(2) {
      font-size: 14px;
    }
  }
}

// テーブルのタイトル
.wp-block-freeman-block-table-title {
  background: #707070;
  color: #fff;
  padding: 1em 1.5em;
  text-align: center;

  h4 {
    font-size: 16px;
    margin-top: 0;
  }
}

.wp-block-freeman-block-table-thick,
.wp-block-freeman-block-table-kg {
  .wp-block-columns .wp-block-column:nth-child(1) {
    // WPのカラムブロックのデザイン切り替えブレークポイントに合わせる
    @media (max-width: $wp-column-breakPoint) {
      margin-bottom: $block-margin-bottomSp;
    }
  }
}

// 導入事例
.wp-block-freeman-block-case {
  background: $background-color;
  padding: 40px;
  @media (max-width: $sp) {
    padding: 20px;
  }

  h3 {
    font-weight: 500;
  }

  p {
    line-height: 1.8;
    margin-top: 15px;
  }
}

// 導入事例/商品
.wp-block-freeman-block-case-and-item {
  background: $background-color;
  padding: 40px;
  @media (max-width: $sp) {
    padding: 20px;
  }

  // 「導入事例」の箇所
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    margin-top: 0;
  }
  p {
    margin-top: 15px;
    @media (max-width: $wp-column-breakPoint) {
      margin-bottom: $block-margin-bottomSp;
    }
  }

  .the-product-link {
    .wide {
      // 横のラインの調整
      &::before {
        left: -2em;
        @media (max-width: $sp) {
          display: none;
        }
      }
      // 記事へのリンクでliリストの円削除
      .card-wrap::before {
        display: none;
      }
    }
  }
}

// 備考
.wp-block-freeman-block-remarks {
  background: $background-color;
  padding: 40px;
  @media (max-width: $sp) {
    padding: 20px;
  }

  h3 {
    font-weight: 500;
  }

  p {
    background: #fff;
    line-height: 1.8;
    margin-top: 25px;
    padding: 1.5em;
    @media (max-width: $sp) {
      margin-top: 10px;
      padding: 1em;
    }
  }
}
