/* Header
--------------------------------------------------------------------------------------------*/

@import './config';

// サブメニュー内子要素1段あたりの個数(横幅固定のため)
$menu-list-count-mold: 5;
$menu-list-count-sand-casting: 3;
$menu-list-count-investment-casting: 4;
$menu-list-count-jewelry: 4;
$menu-list-count-new-field: 4;
$menu-list-count-company: 2;
$menu-sp-gap-y: 50%; // SPでのヘッダー内のcontent部分の上下余白

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  height: $header-height-pc;
  background: #fff;
  @media (max-width: $sp) {
    height: $header-height-sp;
  }

  &__inner {
    position: relative;
    display: flex;
    height: 100%;
  }

  &__logo {
    height: 100%;

    .logo {
      display: block;
      height: 100%;
      padding-top: 15px;
      padding-left: 40px;
      @media (max-width: $pc) {
        padding-left: px-to-vw(25);
      }
      @media (max-width: $sp) {
        padding-top: 0;
        padding-left: px-to-vw(10);
      }
      a {
        display: flex;
        height: $header-logo-height-pc;
        margin-bottom: auto;
        @media (max-width: $pc) {
          height: px-to-vw(65); // = $header-logo-height
        }
        @media (max-width: $sp) {
          height: 100%;
        }
        img {
          max-width: 280px;
          @media (max-width: $sp) {
            height: calc(100% / 2);
            margin: auto;
          }
          @media (max-width: 480px) {
            height: 8vw;
          }
        }
      }
    }
  }

  // ロゴに対しての右側
  &__menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;

    // 問い合わせボタンに対しての左側
    .header__content {
      // PCではflex縦並び
      @media (min-width: $tab) {
        display: flex;
        flex-direction: column;
        .header__list {
          height: calc(100% - 65px);
          & > li {
            height: 100%;
            vertical-align: top;
            & > a {
              display: block;
              height: 100%;
              &.active {
                color: $c-main;
                border-bottom: 3px solid $c-main;
              }
            }
          }
        }
      }
      // ハンバーガー右に隠しておく(クリックで表示)
      @media (max-width: $sp) {
        position: absolute;
        top: $header-height-sp;
        left: 100%;
        width: 100%;
        height: calc(100vh - #{$header-height-sp});
        overflow-x: hidden;
        overflow-y: scroll;
        background: #111;
        opacity: 0;
        transition: all 0.3s;
        will-change: opacity, transform;

        &.js-active {
          transform: translateX(-100%);
          opacity: 1;
        }
      }

      .header__lang {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: $header-logo-height-pc;
        @media (max-width: $sp) {
          height: auto;
        }

        .select-lang {
          @media (max-width: $sp) {
            order: 2;
            width: 100%;
            margin-top: 25px;
            font-size: 18px;
          }
          &__link {
            position: relative;
            display: inline-block;
            padding-top: 10px;
            color: $c-gray;
            font-size: 14px;
            line-height: 1;
            &:not(:first-child) {
              margin-left: 12px;
            }
            &.active {
              color: $c-main;
              // 赤い丸
              &::before {
                position: absolute;
                top: 0;
                left: 50%;
                width: 4px;
                height: 4px;
                background: $c-main;
                border-radius: 50%;
                transform: translateX(-50%);
                content: '';
              }
            }
            @media (max-width: $sp) {
              color: #fff;
            }
          }
        }
        // 検索フォーム
        .search-form {
          position: relative;
          max-width: 260px;
          @media (min-width: $tab) {
            margin-left: 30px;
          }
          @media (max-width: $sp) {
            width: 100%;
            max-width: 100%;
          }

          &__input {
            max-width: 100%;
            padding: 0.5em 2em 0.5em 1em;
            font-size: 12px;
            line-height: 1;
            background: $c-whitesmoke;
            border: none;
            border-radius: 0;
            &::placeholder {
              color: $c-gray;
            }
            &:-ms-input-placeholder {
              color: $c-gray;
            }
            &::-ms-input-placeholder {
              color: $c-gray;
            }
            @media (max-width: $sp) {
              order: 1;
              width: 100%;
              padding: 1em 2em 1em 1em;
              font-size: 16px; // iOSのinputズーム対策
            }
          }

          &__button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            padding: 3px;
            background: $c-whitesmoke;
            @media (max-width: $sp) {
              right: 5px;
            }

            svg {
              width: 15px;
              height: 15px;
              .search-icon {
                stroke: $c-gray;
              }
            }
          }
        }

        @media (max-width: $sp) {
          display: flex;
          flex-wrap: wrap;
          width: 90%;
          margin: 40px auto 0;
          text-align: center;
          .select {
            width: 100%;
          }
          .search {
            width: 100%;
          }
        }
      } // header__lang

      // メニューリスト
      .header__list {
        list-style: none;

        & > li {
          display: inline-block;
          @media (max-width: $sp) {
            display: block;
          }
          // 各メニューの左余白
          &:not(:first-child) {
            margin-left: 20px;
            @media (max-width: $pc) {
              margin-left: px-to-vw(20);
            }
            @media (max-width: $sp) {
              position: relative;
              margin-top: 20px;
              margin-left: 0;
              padding-top: 20px;
              &::before {
                position: absolute;
                top: 0;
                left: -5%; // header__list余白分
                display: inline-block;
                width: 100vw;
                height: 1px;
                background: rgba(255, 255, 255, 0.2);
                content: '';
              }
            }
          }
          // 各メニュー下階層の一列の個数
          @media (min-width: $tab) {
            &:nth-of-type(1) {
              .sub .container > ul > li {
                width: calc((100% / #{$menu-list-count-mold}) - 10px);
              }
            }
            &:nth-of-type(2) {
              .sub .container > ul > li {
                width: calc((100% / #{$menu-list-count-sand-casting}) - 10px);
              }
            }
            &:nth-of-type(3) {
              .sub .container > ul > li {
                width: calc(
                  (100% / #{$menu-list-count-investment-casting}) - 10px
                );
              }
            }
            &:nth-of-type(4) {
              .sub .container > ul > li {
                width: calc((100% / #{$menu-list-count-jewelry}) - 10px);
              }
            }
            &:nth-of-type(5) {
              .sub .container > ul > li {
                width: calc((100% / #{$menu-list-count-new-field}) - 10px);
              }
            }
            &:nth-of-type(6) {
              .sub .container > ul > li {
                width: calc((100% / #{$menu-list-count-company}) - 10px);
              }
            }
          }
          // 固定ヘッダー第一階層メニュー
          & > a {
            color: #333;
            font-weight: 700;
            font-size: 14px;
            @media (max-width: $pc) {
              font-size: px-to-vw(14);
            }
            @media (min-width: $tab) {
              &:hover {
                color: $c-main;
              }
            }
            @media (max-width: $sp) {
              position: relative;
              display: block;
              padding-right: 20px;
              color: #fff;
              font-size: 14px;

              &::before {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                content: '▼';
              }

              &::after {
                display: block;
                margin-top: 10px;
                color: $c-main;
                font-weight: 300;
                font-size: 14px;
                font-family: 'Roboto Condensed', sans-serif;
                content: attr(data-subtitle);
              }
            }
          }
          .js-clicked {
            @media (max-width: $sp) {
              &::before {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }

          // 第二階層以下のメニュー
          .sub {
            @media (min-width: $tab) {
              position: fixed;
              top: $header-height-pc;
              left: 0;
              z-index: 99;
              width: 100%;
              height: 0;
              background: rgb(0, 0, 0);
              visibility: hidden;
              opacity: 0;
              transition: 0.4s all;
            }
            @media (max-width: $sp) {
              top: $header-height-sp;
            }
            .container {
              max-width: 1040px;
              @media (max-width: $sp) {
                margin: 0; //spメニュー内ではcontainerの横余白なし
              }
              .sub__title {
                font-weight: 600;
                font-size: 26px;
                white-space: nowrap;
                @media (max-width: $pc) {
                  padding-top: px-to-vw(15);
                  font-size: px-to-vw(26);
                }
              }
              & > ul {
                display: flex;
                flex-grow: 1;
                flex-wrap: wrap;
                margin-left: 90px;
                @media (max-width: $pc) {
                  margin-left: px-to-vw(90);
                }
                & > li {
                  position: relative;
                  margin-top: 15px;
                  margin-left: 10px;
                  padding-left: calc(14px / 2);
                  &.grow {
                    flex-grow: 1;
                  }
                  &.sp-main-cat {
                    display: none;
                    @media (max-width: $sp) {
                      display: list-item;
                      margin-left: 0;
                      font-weight: bold;
                    }
                  }
                  &::before {
                    position: absolute;
                    top: 2px;
                    left: 0;
                    display: inline-block;
                    color: $c-main;
                    content: '>';
                  }
                  & > a {
                    position: relative;
                    margin-left: calc(12px / 2);
                    font-size: 12px;
                    @media (max-width: $pc) {
                      margin-left: px-to-vw(7);
                      font-size: px-to-vw(12);
                    }
                    @media (max-width: $sp) {
                      font-size: 13px;
                    }
                  }
                }

                @media (max-width: $sp) {
                  display: block;
                  height: 0;
                  margin-left: 0;
                  transform: translateY(-30px);
                  opacity: 0;
                  transition: all 0.3s;
                  will-change: opacity, height;
                  & > li {
                    margin-top: 20px;
                    padding-left: 0;
                    &::before {
                      display: none;
                    }
                  }

                  &.js-active {
                    height: auto;
                    transform: none;
                    opacity: 1;
                  }
                } // media sp
              }
            }
          } // sub
          &:hover {
            .sub {
              @media (min-width: $tab) {
                height: 200px;
                padding: 50px 0;
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }

        // header__list(sp)
        @media (max-width: $sp) {
          width: 90%;
          margin: 30px auto 0;
          padding-bottom: 140px;
        }
      } // header__list
    } // header__content

    // 問い合わせボタン
    .header__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $header-height-pc;
      height: 100%;
      margin-left: 50px;
      background: $c-main;
      @media (max-width: $pc) {
        width: px-to-vw(100); // = $header-height-pc
        margin-left: 10px;
      }
      @media (max-width: $sp) {
        width: $header-height-sp;
        margin-left: px-to-vw(10);
      }

      // ハンバーガー(PC非表示)
      &Menu {
        margin-left: 0;
        background: #000;
        @extend .header__button;
        & > div {
          position: relative;
        }
      }

      //
      & > a,
      & > button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; // クリック有効範囲を全体に
        height: 100%; // クリック有効範囲を全体に
        color: #fff;
        @media (max-width: $sp) {
          padding: calc((#{$header-height-sp} / 2) / 2) 0; // (コンテンツエリア(ヘッダーの半分) / 2)
          font-size: 11px;
          line-height: 1;
        }

        // メールアイコン
        & > div > img {
          margin: 10px auto 0;
          @media (max-width: $sp) {
            width: 20px;
            height: 15px;
            margin-top: 5px; // トータル height20px
          }
        }
        // ハンバーガー棒(~768pxでのみ表示)
        .header__buttonMenu--bar {
          display: block;
          width: 15px;
          height: 2px;
          margin: 6px auto 0;
          background: #fff;
          transform-origin: center;
          transition: all 0.3s;
          will-change: transform, opacity;
          &:nth-of-type(2),
          &:nth-of-type(3) {
            margin-top: 4px;
          }
        }
      }

      & > button.js-menu.js-active {
        .header__buttonMenu--bar {
          &:nth-of-type(1) {
            transform: rotate(-45deg) translateX(-4.5px) translateY(4px);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: rotate(45deg) translateX(-4px) translateY(-4px);
          }
        }
      }
    }
  }
}

.main {
  margin-top: $header-height-pc;
  @media (max-width: $sp) {
    margin-top: $header-height-sp;
  }
}
