/* Post Card
--------------------------------------------------------------------------------------------*/

@import "./config";
@import "./post-card-animation";
// アニメーションにかかる時間
$post-animation-duration: 0.2s;
// 記事とアイキャッチの余白
$gapPc: 30px;
// 記事とアイキャッチの左部分余白
$gapSp: 20px;
// 記事タイトル文字サイズ
$textSizeSp: 18px;

// style/compressed/article.min.cssからのrootへの相対
$root-path: "../..";

.post-card {
  .thumbnail {
    img {
      width: 100%;
    }
  }
  .content {
    .description {
      word-break: break-all;
    }
    .meta {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &__label {
        display: flex;
        min-width: 180px;

        span {
          color: #fff;
          font-size: 14px;
          padding: 6px;
          text-align: center;
          width: 50%;
        }
        &--new {
          background: $c-gray;
        }
        &--category {
          background: #000;
        }
      }

      &__date {
        color: $c-gray;
      }
    } // meta

    &.c-trans-red {
      .title,
      .description {
        transition: all 0.3s;
      }
      &:hover {
        .title,
        .description {
          color: $c-main;
        }
      }
    }
  } // content

  @media (max-width: $sp) {
    display: flex;
    width: 100%;

    .thumbnail {
      max-width: 30%;
      img {
        max-width: 200px;
        width: 100%;
      }
    }
    .content {
      margin-left: $gapSp;
      padding-bottom: 15px;
      position: relative;
      width: 70%;
      .meta {
        &__label {
          max-width: 180px;
          min-width: inherit;
          width: 100%;
          span {
            font-size: 10px;
            padding: 4px;
          }
        }
        &__date {
          bottom: 0;
          font-size: 10px;
          line-height: 15px;
          position: absolute;
          right: 0;
        }
      }
      .title {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
        word-break: break-all;
      }
      .description {
        display: none;
      }
    }
  } // media
}

// /newsページ一つ目の大きめなカード
@media (min-width: $tab) {
  .post-card-large {
    display: flex;
    width: 100%;

    img {
      @media (min-width: $tab) {
        max-width: 680px;
        width: 100%;
      }
    }

    .content {
      flex-grow: 1;
      max-width: 580px;
      padding: 50px 0 0 80px;
      width: 100%;
    }

    .title {
      font-size: 22px;
      font-weight: bold;
      margin-top: 20px;
      word-break: break-all;
    }

    .description {
      margin-top: 60px;
    }
  }
}

// /newsページの中くらいのサイズ
@media (min-width: $tab) {
  .post-card-middle {
    img {
      margin: auto;
      width: 100%;
    }

    .meta {
      margin-top: 20px;
    }

    .title {
      font-size: 22px;
      font-weight: bold;
      margin-top: 20px;
      word-break: break-all;
    }

    .description {
      margin-top: 60px;
    }
  }
}

.post-card-small {
  display: flex;

  .content {
    flex-grow: 1;
    margin-left: $gapPc;
    width: calc(70% - #{$gapPc});
    @media (max-width: $sp) {
      margin-left: $gapSp;
    }
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    word-break: break-all;
  }

  .description {
    display: none;
  }
}

// 横サイズ
.post-card-wide {
  .title {
    font-size: 22px;
    word-break: break-all;
  }

  .description {
    margin-top: 1em;
  }
}

// 関連記事(二列三段)

.articles-link {
  .column {
    display: flex;
    flex-wrap: wrap;

    .card-wrap {
      width: calc((100% - 40px) / 2);
      @media (max-width: $sp) {
        width: 100%;
      }

      @media (min-width: $tab) {
        // 右側の列は左に余白
        &:nth-child(2n) {
          margin-left: 40px;
        }
        // 上段以外は上に余白/線
        &:not(:nth-child(1)):not(:nth-child(2)) {
          border-top: 1px solid $c-lightgray;
          margin-top: 15px;
          padding-top: 15px;
        }
      }
      @media (max-width: $sp) {
        &:not(:nth-child(1)) {
          margin-top: 20px;
        }
      }

      .article-card {
        display: flex;

        .thumbnail {
          max-width: 200px;
          min-width: 30%;
          width: 30%;
          @media (max-width: $sp) {
            min-width: 100px;
            width: 100px;
          }
        }
        .content {
          margin-left: $gapPc;
          @media (max-width: $sp) {
            margin-left: $gapSp;
          }
        }
        .date {
          color: $c-gray;
          display: block;
          font-size: 14px;
        }
        .title {
          font-size: 16px;
          line-height: 2;
          word-break: break-all;
          @media (max-width: $sp) {
            line-height: 1.4;
          }
        }
      }
    }
  }
}

// 商品のカード

.products-link {
  .column {
    display: flex;
    justify-content: space-between;
    @media (max-width: $sp) {
      flex-wrap: wrap;
    }
    .card-wrap {
      @media (min-width: $tab) {
        width: calc((100% - 80px) / 3);
        &:not(:first-child):not(:nth-child(4n + 1)) {
          margin-left: 40px;
        }
      }
      @media (max-width: $sp) {
        width: 100%;
        &:not(:first-child):not(:nth-child(8n + 1)) {
          margin-top: 20px;
        }
      }
    }
  } // column
  .square {
    display: flex;
    flex-wrap: wrap;
    .card-wrap {
      @media (min-width: $tab) {
        width: calc((100% - 90px) / 4);
        // 左の列のみ
        &:not(:first-child):not(:nth-child(4n + 1)) {
          margin-left: 30px;
        }
        // 最上段除いて上に余白
        &:not(:first-child):not(:nth-child(-n + 4)) {
          margin-top: 30px;
        }
      }
      @media (max-width: $sp) {
        width: 100%;
        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }
    .post-card-product {
      border: 1px solid $c-lightgray;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 15px;
      @media (max-width: $sp) {
        flex-direction: row;
      }

      .post-thumbnail {
        width: 100%;
      }
      .thumbnail {
        .post-thumbnail {
          img {
            width: 100%;
            @media (max-width: $sp) {
              min-width: 100px;
              width: 100px;
            }
          }
        }
      }
      .content {
        @media (min-width: $tab) {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: space-between;

          .title,
          .more {
            margin-top: 10px;
          }
        }
      }
    } // .post-card-product
  } // .square
}

// 商品

.post-card-product {
  .title {
    word-break: break-all;
    @media (min-width: $tab) {
      margin-top: $gapPc;
    }
    @media (max-width: $sp) {
      line-height: 1.4;
    }
  }
  .more {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: flex-end;
    margin-top: 20px;

    &::after {
      background: center / contain url(#{$root-path}/images/common/more-arrow.svg);
      content: "";
      display: inline-block;
      height: 1em;
      margin-left: 8px;
      width: 1em;
    }
  }
  .description {
    word-break: break-all;
  }

  @media (max-width: $sp) {
    display: flex;
    width: 100%;
    .post-thumbnail img {
      min-width: 100px;
      width: 100px;
    }
    .content {
      flex-grow: 1;
      margin-left: $gapSp;
    }
  } // media
}

// 特定の商品を呼び出すショートコード
.the-product-link {
  .square {
    display: flex;
    flex-wrap: wrap;
    .card-wrap {
      @media (min-width: $tab) {
        width: calc((100% - 90px) / 4);
        // 左の列のみ
        &:not(:first-child):not(:nth-child(4n + 1)) {
          margin-left: 30px;
        }
        // 最上段除いて上に余白
        &:not(:first-child):not(:nth-child(-n + 4)) {
          margin-top: 30px;
        }
      }
      @media (max-width: $sp) {
        width: 100%;
        &:not(:first-child) {
          margin-top: 15px;
        }
      }
    }
    .post-card-product {
      border: 1px solid $c-lightgray;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 15px;
      @media (max-width: $sp) {
        flex-direction: row;
      }

      .post-thumbnail {
        width: 100%;
      }
      .thumbnail {
        .post-thumbnail {
          img {
            width: 100%;
            @media (max-width: $sp) {
              min-width: 100px;
              width: 100px;
            }
          }
        }
      }
      .content {
        @media (min-width: $tab) {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          justify-content: space-between;

          .title,
          .more {
            margin-top: 10px;
          }
        }
      }
    } // .post-card-product
  } // .square
  // ショートコードで使用
  .wide {
    margin-top: 0;
    position: relative;
    &::before {
      background: #dee5ef;
      content: "";
      display: inline-block;
      height: 100%;
      position: absolute;
      width: 1px;
    }

    .post-card-product {
      display: flex;
      .post-thumbnail {
        margin-top: 0;
        img {
          max-width: 140px;
        }
      }
      .content {
        flex-grow: 1;
        margin-left: 20px;
        .date {
          color: #96a8be;
          font-size: 16px;
        }
        .title {
          color: #000;
          font-size: 16px;
          line-height: 1.2;
          margin-top: 5px;
        }
      }
    }
  }
}

// 子カテゴリTOPの商品一覧
.category-child-product-link {
  @extend .the-product-link;
  .square {
    flex-wrap: wrap;

    .card-wrap {
      width: calc((100% - 40px) / 2);
      @media (min-width: $tab) {
        &:nth-child(2n):not(.square-second__trigger-wrap) {
          margin-left: 40px;
        }
        &:not(:nth-child(1)):not(:nth-child(2)) {
          margin-top: 40px;
        }
      }
      @media (max-width: $sp) {
        width: 100%;
        &:not(:nth-child(1)) {
          margin-top: $gapSp;
        }
      }
    }
    .post-card-product {
      padding: 40px;
      width: 100%;
      @media (max-width: $pc) {
        padding: $gapSp;
      }

      .content {
        .title {
          font-size: 20px;
        }
        .description {
          font-weight: 100;
        }
        @media (min-width: $tab) {
          .title,
          .description,
          .more {
            margin-top: $gapPc;
          }
        }
        @media (max-width: $sp) {
          .title,
          .description,
          .more {
            margin-top: $gapSp;
          }
        }
      }
    } // .post-card-product
  } // .square
  // 7つ以上の場合隠す(子カテゴリTOP)
  .square-second {
    margin-top: 40px;
    max-height: 180px;
    overflow: hidden;
    padding-bottom: 100px;
    position: relative;
    transition: max-height 1s;
    @media (max-width: $sp) {
      margin-top: $gapSp;
    }
    &::before {
      background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, #fff 100%);
      bottom: 0;
      content: "";
      display: block;
      height: 180px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
    // 開いたらボタン要素のスタイル変更
    &.is-show {
      &::before {
        background: none;
      }
    }
    .square-second__trigger-wrap {
      bottom: 30px;
      margin-left: 0;
      position: absolute;
      width: 100%;
      z-index: 2;
    }
    &__checkbox {
      display: none;
      &:checked + .square-second__trigger {
        &::before {
          transform: rotate(180deg);
        }
        &:hover::before {
          animation: none;
        }
      }
    }
    // 表示ボタン
    &__trigger {
      background: #000;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 12px;
      font-weight: bold;
      margin: auto;
      max-width: 230px;
      padding: 5px 1em 25px;
      position: relative;
      text-align: center;
      width: 100%;
      &::before {
        background: center/ contain url(#{$root-path}/images/common/down-arrow-white.svg) no-repeat;
        bottom: 5px;
        content: "";
        display: block;
        height: 12px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        transition: all 0.3s;
        width: 12px;
      }
      &:hover::before {
        animation: moveArrowY 1s ease-in-out alternate infinite;
      }
      @keyframes moveArrowY {
        0% {
          transform: translate(0, 0px);
        }
        100% {
          transform: translate(0, -5px);
        }
      }
    }
  } // .square-second
  .wide {
    display: flex;
    flex-wrap: wrap;
    .card-wrap {
      border-bottom: 1px solid $c-lightgray;
      padding-bottom: 20px;
      width: calc((100% - 40px) / 2);
      @media (min-width: $tab) {
        &:nth-child(2n) {
          margin-left: 40px;
        }
        &:not(:nth-child(1)):not(:nth-child(2)) {
          margin-top: 40px;
        }
      }
    }
    .post-card-product {
      display: flex;
      width: 100%;
      .thumbnail {
        .post-thumbnail {
          img {
            height: 150px;
            min-width: 150px;
            object-fit: cover;
            object-position: center;
            width: 150px;
          }
        }
      }
      .content {
        flex-grow: 1;
        margin-left: 20px;
        .title {
          font-size: 20px;
        }
        .description {
          font-weight: 100;
          margin-top: 20px;
        }
        @media (min-width: $tab) {
          .title,
          .description,
          .more {
            margin-top: 10px;
          }
        }
      }
    } // .post-card-product
  } // .wide
}
