/* Post CardのVIEW MOREのアニメーション
--------------------------------------------------------------------------------------------*/

@import "./config";
// アニメーションにかかる時間
$post-animation-duration: 0.2s;

// style/compressed/article.min.cssからのrootへの相対
$root-path: "../..";

// ホバーすると文字が赤くなる挙動（.c-trans-redと同じ）
// 使用方法: aタグにつける
// 例) <a href="#" class="post-card-content-trans-red">...</a>
.post-card-content-trans-red {
  @media (min-width: $tab) {
    .content,
    .description {
      transition: all 0.3s;
    }
    &:hover {
      .content,
      .description {
        color: $c-main;
      }
    }
  }
}

// ホバーすると画像が少しズームされ、VIEW MOREが出てくるアニメーション
// 使用方法: aタグにつける
// 例) <a href="#" class="post-card-thumbnail-animation">...</a>

.post-card-thumbnail-animation {
  // hover時、赤く染まる挙動
  @media (min-width: $tab) {
    .thumbnail {
      overflow: hidden;
      position: relative;

      img {
        transition: all $post-animation-duration;
      }
    }

    // hover時アニメーション類(769px~)

    // .thunbnail::before(VIEW MORE)
    .thumbnail::before {
      color: #fff;
      content: "VIEW MORE";
      display: inline-block;
      font: bold 18px "Roboto Condensed", sans-serif;
      height: 1em;
      @include centeringMargin;
      line-height: 1;
      opacity: 0;
      position: absolute;
      text-align: center;
      transition: all $post-animation-duration;
      width: 100%;
      z-index: 2;
    }

    // .thunbnail::after(赤い円)
    .thumbnail::after {
      animation: circleRedOutPost $post-animation-duration ease-in-out both;
      background: rgba(235, 41, 54, 0.6);
      border-radius: 50%;
      content: "";
      height: 100%;
      @include centeringMargin;
      position: absolute;
      transform: scale(0);
      width: 100%;
      will-change: opacity, transform;
      z-index: 1;
    }

    &:hover {
      .thumbnail img {
        transform: scale(1.1);
      }
      // .post-thunbnail::before
      .thumbnail::before {
        opacity: 1;
      }
      // .post-thunbnail::after
      .thumbnail::after {
        animation: circleRedPost $post-animation-duration ease-in-out both;
      }
      .more {
        &::after {
          background-image: url(#{$root-path}/images/common/more-arrow-fill.svg);
        }
      }
    }
    // hover時赤い円挙動
    @keyframes circleRedPost {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1.5);
      }
    }
    // hover解除時赤い円挙動
    @keyframes circleRedOutPost {
      0% {
        opacity: 1;
        transform: scale(1.5);
      }
      100% {
        opacity: 0;
        transform: scale(0);
      }
    }
  } // media PC
}
