@charset "UTF-8";

/* Post Card
--------------------------------------------------------------------------------------------*/

@import "./config";

.post-card {
  .meta {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__label {
      display: flex;
      min-width: 180px;

      span {
        color: #fff;
        font-size: 14px;
        padding: 6px;
        text-align: center;
        width: 50%;
      }
      &--new {
        background: $c-gray;
      }
      &--category {
        background: #000;
      }
    }

    &__date {
      color: $c-gray;
    }
  }
}

.post-card-large {
  display: flex;
  width: 100%;

  img {
    max-width: 680px;
    width: 100%;
  }

  .content {
    flex-grow: 1;
    max-width: 580px;
    padding: 50px 0 0 80px;
    width: 100%;
  }

  .title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
  }

  .description {
    margin-top: 60px;
  }
}

// 中サイズ
.post-card-middle {
  img {
    margin: auto;
    width: 100%;
  }

  .meta {
    margin-top: 20px;
  }

  .title {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
  }

  .description {
    margin-top: 60px;
  }
}

.post-card-small {
  display: flex;

  .content {
    flex-grow: 1;
    margin-left: 30px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
}

// 横サイズ
.post-card-wide {
  .title {
    font-size: 22px;
  }

  .description {
    margin-top: 1em;
  }
}
