.post-card{
  &.post-card-large{
    display: flex;
    width: 100%;

    img{
      max-width: 680px;
      width: 100%;
    }
  }
  // 中サイズ
  &.post-card-middle{
    img {
      max-width: 450px;
      width: 100%;
    }
  }

  &.post-card-small{
    display: flex;
  }
}
