/* スクロールしてから表示系アニメーションまとめ
--------------------------------------------------------------------------------------------*/

$fadeIn-animation-duration: 0.2s;

// 共通

.js-scroll-fadeIn-block,
.js-scroll-fadeIn-title,
.js-scroll-fadeIn-text {
  transform: translate3d(0, 0, 0); // animationのGPU処理
}

// ブロック
.js-scroll-fadeIn-block {
  opacity: 0;
  transform: translateY(30px);
  transition: $fadeIn-animation-duration ease-out;
}

.js-scroll-fadeIn-block.started {
  opacity: 1;
  transform: none;
}

// タイトル
.js-scroll-fadeIn-title span {
  opacity: 0;
  transform: translate3d(0, 0, 0); // animationのGPU処理
}

.js-scroll-fadeIn-title.started span {
  animation: scrollFadeIn 0.75s ease-out both;
  // 一文字ずつ遅らせてアニメーション
  // $fadeIn-animation-duration分+.05sずつ
  $delay: 0.05s;
  @for $i from 1 through 20 {
    &:nth-of-type(#{$i}) {
      animation-delay: $delay * $i + 0.3s;
    }
  }
}

@keyframes scrollFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// 概要テキスト
.js-scroll-fadeIn-text {
  @extend .js-scroll-fadeIn-block;
  transition-delay: 1.3s; //タイトルアニメーション終了後発火
}

.js-scroll-fadeIn-text.started {
  @extend .js-scroll-fadeIn-block.started;
}
