@import "config";

.swiper-container {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.swiper-slide {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: center;
  max-width: 600px;
  text-align: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.swiper-slide {
  width: 60%;
}

.swiper-pagination-fraction {
  background: #000;
  bottom: 0;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  left: auto;
  padding: 1em 3em;
  right: 0;
  width: auto;
}

// 型製品ページ
.mold-slider__box {
  height: 100%;
  @include centeringMargin;
  max-width: 600px;
  position: absolute;
  width: 60%;
}

.mold-slider__box .swiper-pagination-fraction,
.mold-slider__box .swiper-button-next,
.mold-slider__box .swiper-button-prev {
  background: #000;
  position: absolute;
}

.mold-slider__box .swiper-pagination-fraction {
  //
}
.mold-slider__box .swiper-button-prev {
  left: calc(-15px + -30px); // 横幅と余白分
}
.mold-slider__box .swiper-button-next {
  right: calc(-15px + -30px); // 横幅と余白分
}
.mold-slider__box .swiper-button-prev,
.mold-slider__box .swiper-button-next {
  width: 30px;

  &::after {
    color: #fff;
    font-size: 13px;
  }
}
.mold-slider__box .swiper-button-prev::after {
  content: "<";
}
.mold-slider__box .swiper-button-next::after {
  content: ">";
}
