@import "config";

.swiper-container {
  width: 100%;
}

.swiper-slide {
  align-items: flex-end; // ページネーションと合わせるため
  background: #fff;
  display: flex;
  justify-content: center;
  max-width: 600px;
  text-align: center;
  width: 60%;
  @media (max-width: $sp) {
    width: 80%;
  }
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.swiper-pagination-fraction {
  background: #000;
  bottom: 0;
  color: #fff;
  font: 12px "Roboto Condensed", sans-serif;
  left: auto;
  padding: 1em 3em;
  right: 0;
  width: auto;
}

.swiper-button-prev,
.swiper-button-next {
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
  top: 0;
}
.swiper-button-prev::after {
  content: "<";
}
.swiper-button-next::after {
  content: ">";
}

// 型製品ページ
.mold-slider {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  &__box {
    height: 100%;
    @include centeringMargin;
    max-width: 600px;
    position: absolute;
    width: 60%;
    @media (max-width: $sp) {
      width: 80%;
    }

    .swiper-pagination-fraction,
    .swiper-button-next,
    .swiper-button-prev {
      background: #000;
      position: absolute;
    }

    .swiper-button-prev {
      left: calc(-15px + -30px); // 横幅と余白分
      @media (max-width: $sp) {
        left: calc(-15px + -20px); // 横幅と余白分
      }
    }
    .swiper-button-next {
      right: calc(-15px + -30px); // 横幅と余白分
      @media (max-width: $sp) {
        right: calc(-15px + -20px); // 横幅と余白分
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      height: 80px;
      width: 30px;
      @media (max-width: $sp) {
        height: 60px;
        width: 20px;
      }

      &::after {
        color: #fff;
        font-size: 13px;
        @media (max-width: $sp) {
          font-size: 10px;
        }
      }
    }
  }
}

// 子カテゴリ(親ジュエリー以外)ページ
.category-child-slider {
  .swiper-slide {
    width: 80%;
  }
}
.category-child-slider__box {
  height: 100%;
  @include centeringMargin;
  max-width: 600px;
  position: absolute;
  width: 80%;

  .swiper-pagination-fraction {
    font-size: 12px;
    padding: 0.5em 2em;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: #fff;
    position: absolute;
  }

  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    height: 48px;
    width: 18px;

    &::after {
      color: #000;
      font-size: 10px;
      font-weight: bold;
    }
  }
}

// 関連商品部分のスライダー
.related-slider {
  @media (max-width: $sp) {
    padding-bottom: calc(30px + 20px); // ナビゲーション分の余白
  }

  .swiper-wrapper {
    @media (max-width: $sp) {
      display: flex;
      flex-wrap: inherit;
    }
  }
  .swiper-slide {
    max-width: inherit;
    text-align: left;
    width: 100%;
    @media (min-width: $tab) {
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    @media (max-width: $sp) {
      display: block;
    }
  }
  &-navi {
    height: 100%;
    @include centeringMargin;
    position: absolute;
    width: 100%;

    .swiper-pagination-fraction,
    .swiper-button-next,
    .swiper-button-prev {
      background: #000;
      position: absolute;
    }

    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev,
    .swiper-button-next {
      height: 80px;
      width: 30px;
      @media (max-width: $sp) {
        bottom: 0;
        height: 30px;
        margin-bottom: 0;
        width: calc((100% - 1px) / 2);
      }

      &::after {
        color: #fff;
        font-size: 13px;
      }
    }
  }
}
