@charset "UTF-8";

/* Archive(記事ページ以外)
--------------------------------------------------------------------------------------------*/

@import "./@import/config";
@import "./@import/entry-header";
@import "./@import/tabs";
@import "./@import/pagenavi";
@import "./@import/post-card";

.news {
  &__large {
    margin-left: -100px;
    margin-top: 90px;
  }

  &__2col {
    display: flex;
    margin-top: 80px;

    @media (min-width: $tab) {
      .news__2col--left,
      .news__2col--right {
        width: 45%;
      }
      .news__2col--3row {
        width: 55%;
      }

      .news__2col--left {
        margin-right: 80px;
      }
      .news__2col--right {
        margin-left: 80px;
        order: 2;
      }
    }
  }

  &__small {
    &:not(:first-of-type) {
      border-top: 1px solid $c-lightgray;
      margin-top: 30px;
      padding-top: 30px;
    }
  }
}
