@charset "UTF-8";

/* Archive(記事ページ以外)
--------------------------------------------------------------------------------------------*/

@import "./@import/config";
@import "./@import/entry-header";
@import "./@import/tabs";
@import "./@import/post-card";

.news{
  &__large{
    margin-top: 100px;
    margin-left: -100px;
  }

  &__2col{
    display: flex;
    margin-top: 100px;

    @media (min-width: $tab){
      .news__2col--left,
      .news__2col--right{
        width: 40%;
      }
      .news__2col--3row{
        width: 60%;
      }

      .news__2col--right{
        order: 2;
      }
    }
  }
}
