@charset "UTF-8";

/* /news
--------------------------------------------------------------------------------------------*/

@import "./@import/config";
@import "./@import/entry-header";
@import "./@import/tabs";
@import "./@import/pagenavi";
@import "./@import/post-card";

// 記事とアイキャッチの余白
$gapPc: 30px;
// 記事とアイキャッチの左部分余白
$gapSp: 20px;

.news {
  &__large {
    margin-left: -100px;
    margin-top: 90px;
    @media (max-width: $pc) {
      margin-left: 0;
    }
    @media (max-width: $sp) {
      margin: 20px 0 0 0;
    }
  }
  &__2col {
    @media (min-width: $tab) {
      display: flex;
      margin-top: 80px;

      .news__2col--left,
      .news__2col--right {
        width: 45%;
      }
      .news__2col--3row {
        width: 55%;
      }

      .news__2col--left {
        margin-right: 80px;
      }
      .news__2col--right {
        margin-left: 80px;
        order: 2;
      }
    } // PCの__2col

    @media (max-width: $sp) {
      margin-top: 20px;
    }
  }
  &__middle {
    @media (max-width: $sp) {
      border-top: 1px solid $c-lightgray;
      margin-top: $gapSp;
      padding-top: $gapSp;
    }
  }

  &__small {
    @media (min-width: $tab) {
      &:not(:first-of-type) {
        border-top: 1px solid $c-lightgray;
        margin-top: $gapPc;
        padding-top: $gapPc;
      }
    }
    @media (max-width: $sp) {
      border-top: 1px solid $c-lightgray;
      margin-top: $gapSp;
      padding-top: $gapSp;
    }
  }
}
