@charset "UTF-8";

/* Article (記事ページ以外)
--------------------------------------------------------------------------------------------*/

@import "./@import/config";
@import "./@import/button";
@import "./@import/entry-header";
@import "./@import/post-card";
@import "./@import/swiper";
@import "./@import/content";
@import "./@import/guten-block";

.single-content-header {
  .title {
    font-size: 30px;
  }
}

.single-content-main {
  max-width: 920px;
}

// 関連商品・記事

.single-related {
  font-size: 28px;
  margin: 0 auto;
  max-width: calc(1080px - (40px * 2) - (50px * 2)); // STEPに合わせる
  padding-top: 20px;

  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 80px;
  }

  .the-product-link,
  .articles-link {
    p:not(.more) {
      color: #333; // .content-main aタグ内なので赤くなるのを上書き
      font-weight: normal; // .content-main aタグ内なので太くなるのを上書き
      margin-top: 0; // Gutenbergのpタグへの上余白上書き
    }
    li::before {
      display: none;
    }
  }

  .the-product-link {
    margin-top: 40px;
    @media (max-width: $sp) {
      margin-top: 20px;
    }

    // ul
    .column {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    li {
      @media (min-width: $tab) {
        width: calc((100% - 40px * 3) / 4);

        &:not(:nth-child(1)):not(:nth-child(5)) {
          margin-left: 40px;
        }
        &:not(:nth-child(-n + 4)) {
          margin-top: 40px;
        }
      }
      @media (max-width: $sp) {
        width: 100%;
      }
    }
    .post-card-product {
      .title {
        font-size: 16px;
      }
      .more {
        display: none;
      }
    }
  } // .products-link

  .articles-link {
    margin-top: 40px;
    @media (max-width: $sp) {
      margin-top: 20px;
    }
  }
} // .category-related
