@charset "UTF-8";

/* CategoryPage
--------------------------------------------------------------------------------------------*/

// style/compressed/main.min.cssからのrootへの相対
$root-path: "../..";
$menu-animation-duration: 0.3s;

@import "./@import/config";
@import "./@import/button";
@import "./@import/entry-header";
@import "./@import/post-card";
@import "./@import/swiper";

// タイトル部分

.category-lead {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 110px;

  &__text {
    width: 45%;
  }

  &__image {
    width: 55%;
  }

  &__text,
  &__image {
    @media (max-width: $sp) {
      width: 100%;
    }
  }

  &__image {
    img {
      margin-left: auto;
      // margin-right: -60px;
      max-width: 600px;
      width: 100%;

      @media (max-width: $pc) {
        margin-right: -10px;
      }
      @media (max-width: $sp) {
        margin: 30px auto 0;
      }
    }
  } // __image

  &__text {
    &--heading {
      &En {
        font-size: 72px;
        font-weight: bold;
        line-height: 1;
        transform: scale(0.9, 1);
        transform-origin: top left;
        width: 120%;
        @media (max-width: $sp) {
          @include sp-font-vw(100);
          transform: none;
          width: 100%;
        }
      }
      &Sub {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.8;
        margin-top: 60px;
        @media (max-width: $sp) {
          @include sp-font-vw(40);
          margin-top: 1.5em;
        }
      }
    }
    &--description {
      line-height: 2;
      margin-top: 30px;
      @media (max-width: $sp) {
        margin-top: 1.5em;
      }
    }
  } // __text
} // .category-lead

// 子カテゴリトップのcategory-lead
.category-lead-child {
  // ジュエリー
  &-jewelry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    &__image,
    &__description {
      width: calc((100% - 60px) / 2);
    }
    &__description {
      border-bottom: 1px solid $c-lightgray;

      &--title {
        font-size: 40px;
        font-weight: 400;
      }
      &--text {
        line-height: 1.8;
        margin-top: 35px;
      }
      &--subTitle {
        font-size: 12px;
        font-weight: 300;
        margin-top: 24px;
        text-transform: uppercase;
      }
    }
  }
  // ジュエリー以外
  &-others {
    display: flex;
    justify-content: space-between;

    &__image,
    &__slider {
      width: calc((100% - 60px) / 2);
    }
    &__slider {
      border-bottom: 1px solid $c-gray;
      &--title {
        font-size: 12px;
        font-weight: 300;
        margin-top: 24px;
        text-transform: uppercase;
      }
    }
  }
} // .category-lead-child

// 子カテゴリトップのcategory-description-child-others
.category-description-child-others {
  margin: 80px auto 20px;
  max-width: 900px;

  &__title {
    border-bottom: 1px solid $c-lightgray;
    font-weight: 400;
    line-height: 2;
  }
  &__text {
    line-height: 1.8;
    margin-top: 25px;
  }
} // .category-description-child-others

// 子カテゴリの動画エリア
.category-movie-child-others {
  background: #f5f5f5;
  margin: 80px auto 0;
  max-width: 900px;
  padding: 40px 70px;
  text-align: center;

  iframe {
    width: 100%;
  }

  &__caption {
    font-weight: 100;
    margin-top: 1em;
    text-align: left;
  }
} // .category-description

// 上下にライン

.category-borderY {
  padding: 40px 0;
  position: relative;

  // 横幅いっぱいのデザインにも使用できるようborderでなく擬似要素で
  &::before,
  &::after {
    background: $c-lightgray;
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    margin: auto;
    max-width: 1080px;
    position: absolute;
    right: 0;
    width: 100%;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

// MENU

.category-menu {
  & > ul {
    display: flex;
  }
  &__block {
    border: 1px solid $c-lightgray;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 25px 15px;
    width: calc((100% - (25px * 3)) / 4);
    // 一番左以外左に余白
    &:not(:nth-child(1)) {
      margin-left: 25px;
    }

    &--title {
      font-weight: bold;
      margin-top: 15px;
    }

    &--link {
      margin-top: 5px;
      li {
        display: inline;

        &:not(:nth-child(1)) {
          margin-left: 4px;
          &::before {
            content: "/";
            display: inline-block;
            margin-right: 4px;
          }
        }
      }
    } // --link
  } // __block
} //.category-menu

// PROCESS

.category-process {
  margin-top: 120px;

  h3 {
    font-size: 28px;
  }

  &__block {
    background: $c-whitesmoke;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 40px;

    &--box {
      background: #fff;
      padding: 50px 30px 40px;
      position: relative;
      text-align: center;
      width: calc((100% - (30px * 3)) / 4);
      // 一番左以外左に余白
      &:not(:nth-child(1)):not(:nth-child(5)) {
        margin-left: 30px;
        // 矢印
        &::before {
          border-bottom: 4px solid transparent;
          border-left: 6.9282px solid $c-gray;
          border-right: 4px solid transparent;
          border-top: 4px solid transparent;
          content: "";
          display: inline-block;
          left: -18px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      // 上段以外は上に余白
      &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
        margin-top: 30px;
      }

      // STEP部分
      .label {
        background: #000;
        color: #fff;
        font: 500 12px "Roboto Condensed", sans-serif;
        left: 0;
        line-height: 1;
        padding: 1em 2em;
        position: absolute;
        top: 0;
        &.last {
          background: $c-main;
        }
      }

      // 矢印
      &::after {
        background: center / contain url(#{$root-path}/images/common/down-arrow.svg) no-repeat;
        bottom: 15px;
        content: "";
        display: inline-block;
        height: 8px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 8px;
      }

      // 画像下テキスト
      figcaption {
        margin-top: 20px;
      }
      .small {
        font-size: 0.8em;
        margin-left: 5px;
      }
    }
  } // __block
} //.category-process

// STEP

.category-step {
  margin-top: 70px;

  .block {
    background: $c-whitesmoke;
    padding: 40px;
    &:not(:nth-of-type(1)) {
      margin-top: 100px;
      position: relative;
      &::before {
        border-bottom: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 13.8564px solid $c-gray;
        content: "";
        display: inline-block;
        left: 50%;
        position: absolute;
        top: -56px;
        transform: translateX(-50%);
      }
    }

    &__inner {
      background: #fff;
      padding: 50px;
    }
    &__label {
      background: #000;
      display: inline-block;
      padding: 0.5em 2em;
      &.last {
        background: $c-main;
      }
    }
    &__title {
      border-bottom: 1px solid $c-lightgray;
      font-size: 35px;
      font-weight: 400;
      margin-top: 20px;
      padding-bottom: 15px;
    }
    &__column {
      align-items: center;
      display: flex;
      margin-top: 30px;
      padding: 0 10px;
    }
    &__image,
    &__description {
      width: 50%;
    }
    &__image {
      img {
        margin: auto;
        max-width: 400px;
      }
    }
    &__description {
      line-height: 2;
      padding: 0 20px;
    }
    &__items {
      margin-top: 80px;
    }
  }
} // .category-step

// 子階層へのリンク

.category-children {
  border-bottom: 1px solid $c-gray;
  padding-bottom: 30px;
  &:not(:first-child) {
    margin-top: 90px;
  }

  &__top {
    display: flex;
    &--text,
    &--image {
      width: 50%;
    }
    &--text {
      // 黒背景箇所
      .label {
        background: #000;
        color: #fff;
        display: inline-block;
        font-weight: 500;
        padding: 0.25em 1em;
      }
      // 文字サイズ大きい箇所
      .title {
        font-size: 40px;
        font-weight: 400;
        margin-top: 35px;
      }
      // 説明文箇所
      .description {
        line-height: 2;
        margin-top: 45px;
      }
    }
  } // __top
  &__bottom {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    &--category {
      font-size: 12px;
    }
    .view-all .button-arrow {
      margin-top: 0;
    }
  } // __bottom

  &.left-text {
    .category-children__top--text {
      padding-right: 45px;
    }
    .category-children__top--image {
      padding-left: 20px;
    }
  }
  &.right-text {
    .category-children__top--text {
      padding-left: 45px;
    }
    .category-children__top--image {
      padding-right: 20px;
    }
  }
}

// 表(ジュエリー)
.category-table {
  margin-top: 90px;

  table {
    margin: 0 auto;
    max-width: calc(1080px - (40px * 2) - (50px * 2)); // STEPに合わせる
    width: 100%;
  }
  thead {
    background: #000;
    color: #fff;
  }
  tr {
    border-bottom: 1px solid #aaa;
  }
  th,
  td {
    min-width: 90px;
    padding: 1em;
    text-align: center;
  }
  th {
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    &::after {
      background: rgba(255, 255, 255, 0.3);
      bottom: 0;
      content: "";
      height: 80%;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
    }
  }
  td {
    font-weight: 100;
    img {
      margin: auto;
      max-width: 110px;
    }
    figcaption {
      margin-top: 8px;
    }
    &.common {
      background: $c-whitesmoke;
    }
    &:not(.common) {
      position: relative;
      &::after {
        background: $c-lightgray;
        bottom: 0;
        content: "";
        height: 80%;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
      }
    }
  }
  .circle {
    background: $c-lightgray;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
    &-red {
      background: $c-main;
    }
    &-blue {
      background: #1696e6;
    }
  }
}

// 表（ジュエリーの子カテゴリトップ）
.category-table-child-jewelry {
  margin: 30px auto 0;
  max-width: 900px;

  table {
    thead {
      th {
        background: #000;
        color: #fff;
        font-weight: 700;
        line-height: 1.2;
        padding: 1em;
        position: relative;
        text-align: center;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #aaa;
        td {
          border-top: none;
          padding: 1em;
          text-align: center;
        }
      }
    }
  }
} //

// 関連商品・記事

.category-related {
  font-size: 28px;
  margin: 0 auto;
  max-width: calc(1080px - (40px * 2) - (50px * 2)); // STEPに合わせる
  padding-top: 20px;

  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 80px;
  }

  .products-link {
    margin-top: 40px;
    .column {
      justify-content: flex-start;
    }
    li {
      @media (min-width: $tab) {
        width: calc((100% - 40px * 3) / 4);
      }
    }
    .post-card-product {
      .title {
        font-size: 16px;
      }
      .more {
        display: none;
      }
    }
  } // .products-link

  .articles-link {
    margin-top: 40px;
  }
} // .category-related

// 子カテゴリトップの関連商品・記事
.category-child-product-link {
  margin: 80px auto 0;
  width: 900px;
}

.category-related-child {
  //
} // .category-related-child

// see more
.view-all {
  .button-arrow {
    @media (min-width: $tab) {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
    }
  }
}
