@charset "UTF-8";

/* CategoryPage
--------------------------------------------------------------------------------------------*/

// style/compressed/main.min.cssからのrootへの相対
$root-path: "../..";
$menu-animation-duration: 0.3s;

@import "./@import/config";
@import "./@import/button";
@import "./@import/entry-header";
@import "./@import/post-card";
@import "./@import/swiper";

// タイトル部分

.category-lead {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 110px;

  &__text {
    width: 45%;
  }

  &__image {
    width: 55%;
  }

  &__text,
  &__image {
    @media (max-width: $sp) {
      width: 100%;
    }
  }

  &__image {
    img {
      margin-left: auto;
      margin-right: -60px;
      max-width: 600px;
      width: 100%;

      @media (max-width: $pc) {
        margin-right: -10px;
      }
      @media (max-width: $sp) {
        margin: 30px auto 0;
      }
    }
  } // __image

  &__text {
    &--heading {
      &En {
        font-size: 72px;
        font-weight: bold;
        line-height: 1;
        transform: scale(0.9, 1);
        transform-origin: top left;
        width: 120%;
        @media (max-width: $sp) {
          @include sp-font-vw(100);
          transform: none;
          width: 100%;
        }
      }
      &Sub {
        font-size: 35px;
        font-weight: 600;
        line-height: 1.8;
        margin-top: 60px;
        @media (max-width: $sp) {
          @include sp-font-vw(40);
          margin-top: 1.5em;
        }
      }
    }
    &--description {
      font-weight: 100;
      line-height: 2;
      margin-top: 30px;
      @media (max-width: $sp) {
        margin-top: 1.5em;
      }
    }
  } // __text
} // .category-lead

// STEP

.category-step {
  margin-top: 70px;

  .block {
    background: $c-whitesmoke;
    padding: 30px;
    &:not(:nth-of-type(1)) {
      margin-top: 100px;
      position: relative;
      &::before {
        border-bottom: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 13.8564px solid $c-gray;
        content: "";
        display: inline-block;
        left: 50%;
        position: absolute;
        top: -56px;
        transform: translateX(-50%);
      }
    }

    &__inner {
      background: #fff;
      padding: 40px;
    }
    &__label {
      background: #000;
      display: inline-block;
      padding: 0.5em 2em;
    }
    &__title {
      border-bottom: 1px solid $c-lightgray;
      font-size: 35px;
      font-weight: 400;
      margin-top: 20px;
      padding-bottom: 15px;
    }
    &__column {
      align-items: center;
      display: flex;
      margin-top: 30px;
      padding: 0 10px;
    }
    &__image,
    &__description {
      width: 50%;
    }
    &__image {
      img {
        margin: auto;
        max-width: 400px;
      }
    }
    &__description {
      line-height: 2;
      padding: 0 20px;
    }
    &__items {
      margin-top: 80px;
    }
  }
} // .category-step

// 関連商品・記事

.category-related {
  font-size: 28px;
  margin: 0 auto;
  max-width: calc(1080px - (30px * 2) - (40px * 2)); // STEPに合わせる
  padding-top: 20px;

  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 80px;
  }

  .products-link {
    margin-top: 40px;
    .column {
      justify-content: flex-start;
    }
    li {
      @media (min-width: $tab) {
        width: calc((100% - 40px * 3) / 4);
      }
    }
    .post-card-product {
      .title {
        font-size: 16px;
      }
      .more {
        display: none;
      }
    }
  }
} // .category-related
