@charset "UTF-8";

/* CategoryPage
--------------------------------------------------------------------------------------------*/

// style/compressed/main.min.cssからのrootへの相対
$root-path: "../..";
$menu-animation-duration: 0.3s;

@import "./@import/config";
@import "./@import/button";
@import "./@import/entry-header";
@import "./@import/post-card";
@import "./@import/swiper";

// タイトル部分

.category-lead {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 110px;

  &__text {
    width: 45%;
    &.new_field {
      width: 100%;
    }
  }

  &__image {
    width: 55%;
  }

  &__text,
  &__image {
    @media (max-width: $sp) {
      width: 100%;
    }
  }

  &__image {
    img {
      margin-left: auto;
      // margin-right: -60px;
      max-width: 600px;
      width: 100%;

      @media (max-width: $pc) {
        margin-right: -10px;
      }
      @media (max-width: $sp) {
        margin: 30px auto 0;
      }
    }
  } // __image

  &__text {
    background: top right / contain url(#{$root-path}/images/common/geometric-pattern.svg) no-repeat;

    &--heading {
      &En {
        font-size: 72px;
        font-weight: bold;
        line-height: 1;
        transform: scale(0.9, 1);
        transform-origin: top left;
        width: 120%;
        @media (max-width: $sp) {
          @include sp-font-vw(100);
          transform: none;
          width: 100%;
        }
      }
      &Sub {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.8;
        margin-top: 60px;
        @media (max-width: $sp) {
          @include sp-font-vw(40);
          margin-top: 1.5em;
        }
      }
    }
    &--description {
      line-height: 2;
      margin-top: 30px;
      @media (max-width: $sp) {
        margin-top: 1.5em;
      }
    }
    &.new_field {
      .category-lead__text--headingEn {
        width: 100%;
      }
    }
  } // __text
} // .category-lead

// 子カテゴリトップのcategory-lead
.category-lead-child {
  // ジュエリー
  &-jewelry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    &__image,
    &__description {
      width: calc((100% - 60px) / 2);
    }
    &__description {
      border-bottom: 1px solid $c-lightgray;

      &--title {
        font-size: 40px;
        font-weight: 400;
      }
      &--text {
        line-height: 1.8;
        margin-top: 35px;
      }
      &--subTitle {
        font-size: 12px;
        font-weight: 300;
        margin-top: 24px;
        text-transform: uppercase;
      }
    }
  }
  // ジュエリー以外
  &-others {
    display: flex;
    justify-content: space-between;

    &__slider {
      border-bottom: 1px solid $c-gray;
      width: 100%;
      &--title {
        font-size: 12px;
        font-weight: 300;
        margin-top: 24px;
        text-transform: uppercase;
      }
    }
  }
} // .category-lead-child

// 子カテゴリトップのcategory-description-child-others
.category-description-child-others {
  margin: 80px auto 20px;
  max-width: 920px;

  &__title {
    border-bottom: 1px solid $c-lightgray;
    font-weight: 400;
    line-height: 2;
  }
  &__text {
    line-height: 1.8;
    margin-top: 25px;
  }
} // .category-description-child-others

// 子カテゴリの動画エリア
.category-movie-child-others {
  background: #f5f5f5;
  margin: 80px auto 0;
  max-width: 920px;
  padding: 40px 70px;
  text-align: center;

  iframe {
    width: 100%;
  }

  &__caption {
    font-weight: 100;
    margin-top: 1em;
    text-align: left;
  }
} // .category-description

// 上下にライン

.category-borderY {
  padding: 40px 0;
  position: relative;

  // 横幅いっぱいのデザインにも使用できるようborderでなく擬似要素で
  &::before,
  &::after {
    background: $c-lightgray;
    content: "";
    display: inline-block;
    height: 1px;
    left: 0;
    margin: auto;
    max-width: 1080px;
    position: absolute;
    right: 0;
    width: 100%;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
}

// MENU

.category-menu {
  & > ul {
    display: flex;
    @media (max-width: $sp) {
      flex-direction: column;
    }
  }
  &__block {
    border: 1px solid $c-lightgray;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 25px 15px;
    width: calc((100% - (25px * 3)) / 4);
    @media (max-width: $sp) {
      width: 100%;
    }
    // 一番左以外左に余白
    &:not(:nth-child(1)) {
      @media (min-width: $tab) {
        margin-left: 25px;
      }
      @media (max-width: $sp) {
        margin-top: 20px;
      }
    }

    img {
      @media (max-width: $sp) {
        margin: auto;
        max-width: 300px;
      }
    }

    &--title {
      font-weight: bold;
      margin-top: 15px;
    }

    &--link {
      margin-top: 5px;
      li {
        display: inline;

        &:not(:nth-child(1)) {
          margin-left: 4px;
          &::before {
            content: "/";
            display: inline-block;
            margin-right: 4px;
          }
        }
      }
    } // --link
  } // __block
} //.category-menu

// PROCESS

.category-process {
  margin-top: 120px;

  h3 {
    font-size: 28px;
  }

  &__block {
    background: $c-whitesmoke;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 40px;
    @media (max-width: $pc) {
      padding: 20px;
    }
    @media (max-width: $sp) {
      padding: 10px;
      width: 100%;
    }

    &--box {
      background: #fff;
      padding: 50px 30px 40px;
      position: relative;
      text-align: center;
      width: calc((100% - (30px * 3)) / 4);
      @media (max-width: $sp) {
        width: 100%;
      }

      // 一番左以外左に余白
      &:not(:nth-child(1)):not(:nth-child(5)) {
        @media (min-width: $tab) {
          margin-left: 30px;
          // 矢印
          &::before {
            border-bottom: 4px solid transparent;
            border-left: 6.9282px solid $c-gray;
            border-right: 4px solid transparent;
            border-top: 4px solid transparent;
            content: "";
            display: inline-block;
            left: -18px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      // 上段以外は上に余白
      &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
        @media (min-width: $tab) {
          margin-top: 30px;
        }
      }

      // STEP部分
      .label {
        background: #000;
        color: #fff;
        font: 500 12px "Roboto Condensed", sans-serif;
        left: 0;
        line-height: 1;
        padding: 1em 2em;
        position: absolute;
        top: 0;
        &.last {
          background: $c-main;
        }
        @media (max-width: $sp) {
          width: 100%;
        }
      }

      // 矢印
      &::after {
        background: center / contain url(#{$root-path}/images/common/down-arrow.svg) no-repeat;
        bottom: 15px;
        content: "";
        display: inline-block;
        height: 8px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 8px;
      }

      // 精密鋳造画像
      .investment_casting {
        height: 110px;
        margin: auto;
      }
      // 砂型鋳造画像
      .sand_casting {
        height: 80px;
        margin: auto;
      }

      // 画像下テキスト
      figcaption {
        margin-top: 20px;
      }
      .small {
        font-size: 0.8em;
        margin-left: 5px;
      }
    }
  } // __block
} //.category-process

// STEP

.category-step {
  margin-top: 70px;

  .block {
    background: $c-whitesmoke;
    padding: 40px;
    @media (max-width: $pc) {
      padding: 20px;
    }
    @media (max-width: $sp) {
      padding: 10px;
    }

    &:not(:nth-of-type(1)) {
      margin-top: 100px;
      position: relative;
      &::before {
        border-bottom: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 13.8564px solid $c-gray;
        content: "";
        display: inline-block;
        left: 50%;
        position: absolute;
        top: -56px;
        transform: translateX(-50%);
      }
    }
    &__inner {
      background: #fff;
      padding: 50px;
      @media (max-width: $pc) {
        padding: 30px;
      }
      @media (max-width: $sp) {
        padding: 20px;
      }
    }
    &__column {
      border-bottom: 1px solid $c-lightgray;
      display: flex;
      margin-top: 30px;
      padding: 0 10px 50px;
      @media (max-width: $sp) {
        flex-direction: column-reverse;
        margin-top: 0;
        padding: 0 0 30px;
        position: relative;
      }
    }
    &__text {
      width: 60%;
      @media (max-width: $sp) {
        width: 100%;
      }

      // タイトル(STEP01 HOGE)の塊
      .flex {
        align-items: center;
        border-bottom: 1px solid $c-lightgray;
        padding-bottom: 30px;
        @media (max-width: $sp) {
          padding-bottom: 5px;
        }
      }
    }
    &__label {
      background: #000;
      display: inline-block;
      padding: 0.5em 2em;
      &.last {
        background: $c-main;
      }
      @media (max-width: $sp) {
        font-size: 12px;
        position: absolute;
        top: 0;
      }
    }
    &__title {
      font-size: 35px;
      font-weight: 400;
      margin-left: 20px;
      @media (max-width: $pc) {
        font-size: 28px;
      }
      @media (max-width: $sp) {
        font-size: 24px;
        margin-left: 0;
        margin-top: 15px;
      }
    }
    &__image {
      background: $c-whitesmoke;
      display: flex;
      margin-left: 35px;
      width: 40%;
      @media (max-width: $sp) {
        margin-left: 0;
        padding: 40px 20px 20px;
        width: 100%;
      }

      img {
        height: 90%;
        margin: auto;
        max-height: 180px;
        @media (max-width: $pc) {
          height: auto;
          max-height: inherit;
          max-width: 250px;
          width: 60%;
        }
        &.sand_casting {
          height: auto;
          max-width: 200px;
          width: 90%;
          @media (max-width: $pc) {
            max-width: 180px;
            width: 60%;
          }
        }
        &.investment_casting {
          max-height: 160px;
          width: auto;
          @media (max-width: $pc) {
            max-height: 120px;
          }
        }
      }
    }
    &__description {
      line-height: 2;
      margin-top: 45px;
      @media (max-width: $sp) {
        margin-top: 25px;
      }
    }
    &__items {
      margin-top: 40px;
    }
  }
} // .category-step

// 子階層へのリンク

.category-children {
  &:not(:first-child) {
    margin-top: 90px;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &--text,
    &--image {
      width: 50%;
      @media (max-width: $sp) {
        width: 100%;
      }
    }
    &--text {
      // 黒背景箇所
      .label {
        background: #000;
        color: #fff;
        display: inline-block;
        font-weight: 500;
        padding: 0.25em 1em;
        @media (max-width: $sp) {
          font-size: 14px;
          left: 0;
          position: absolute;
          top: 0;
        }
      }
      // 文字サイズ大きい箇所
      .title {
        font-size: 40px;
        font-weight: 400;
        margin-top: 35px;
        @media (max-width: $sp) {
          font-size: 24px;
        }
      }
      // 説明文箇所
      .description {
        line-height: 2;
        margin-top: 45px;
      }
    }
    @media (max-width: $sp) {
      &--image img {
        max-height: 300px;
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  } // __top
  &__bottom {
    align-items: flex-end;
    border-bottom: 1px solid #707070;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 30px;
    position: relative;

    &--category {
      font-size: 12px;
      padding-top: 30px;
      position: relative;
      &::before {
        background: #707070;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        top: 0;
        width: 470px;
        @media (max-width: $sp) {
          width: 50%;
        }
      }
    }
    .view-all .button-arrow {
      margin-top: 0;
      @media (max-width: $sp) {
        font-size: 12px;
      }
    }
  } // __bottom

  &.left-text {
    .category-children__top--text {
      order: 1;
      padding-right: 45px;
      @media (max-width: $sp) {
        order: 2;
        padding-right: 0;
      }
    }
    .category-children__top--image {
      order: 2;
      padding-left: 20px;
      @media (max-width: $sp) {
        order: 1;
        padding-left: 0;
      }
    }
  }
  &.right-text {
    .category-children__top--text {
      order: 2;
      padding-left: 45px;
      @media (max-width: $sp) {
        padding-left: 0;
      }
    }
    .category-children__top--image {
      order: 1;
      padding-right: 20px;
      @media (max-width: $sp) {
        padding-right: 0;
      }
    }
  }
}

// 表(ジュエリー)
.category-table {
  margin-top: 90px;

  table {
    margin: 0 auto;
    max-width: calc(1080px - (40px * 2) - (50px * 2)); // STEPに合わせる
    width: 100%;
    @media (max-width: $sp) {
      display: block;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      white-space: nowrap;
    }
  }
  tr {
    border-bottom: 1px solid #aaa;
  }
  th,
  tr td {
    min-width: 90px;
    padding: 1em;
    text-align: center;
  }
  th {
    background: #888;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    &::after {
      background: rgba(255, 255, 255, 0.3);
      bottom: 0;
      content: "";
      height: 80%;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
    }
  }
  td {
    background: #fff; // stickyで他のセルの上に来るため
    font-weight: 100;
    img {
      margin: auto;
      max-width: 110px;
    }
    figcaption {
      margin-top: 8px;
    }
    &.common {
      background: #f5f5f5;
    }
    &:not(.common):not(.sticky) {
      position: relative;
      &::before {
        background: $c-lightgray;
        bottom: 0;
        content: "";
        height: 80%;
        left: 0;
        margin: auto;
        position: absolute;
        top: 0;
        width: 1px;
      }
    }
  }
  .circle {
    background: $c-lightgray;
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
    &-red {
      background: $c-main;
    }
    &-blue {
      background: #1696e6;
    }
  }
  .sticky {
    @media (max-width: $sp) {
      left: 0;
      position: sticky;
      z-index: 1;
    }
  }
}

// 表（ジュエリーの子カテゴリトップ）
.category-table-child-jewelry {
  margin: 30px auto 0;
  max-width: 900px;

  table {
    thead {
      th {
        background: #888;
        color: #fff;
        font-weight: 700;
        line-height: 1.2;
        padding: 1em;
        position: relative;
        text-align: center;
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid #aaa;
        td {
          border-top: none;
          padding: 1em;
          text-align: center;
        }
      }
    }
  }
} //

// 関連商品・記事

.category-related {
  font-size: 28px;
  margin: 0 auto;
  max-width: calc(1080px - (40px * 2) - (50px * 2)); // STEPに合わせる
  padding-top: 20px;

  h4 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 80px;
  }

  .products-link {
    margin-top: 40px;
    @media (max-width: $sp) {
      margin-top: 20px;
    }

    .column {
      justify-content: flex-start;
    }
    .card-wrap {
      @media (min-width: $tab) {
        width: calc((100% - 40px * 3) / 4);
      }
    }
    .post-card-product {
      .title {
        font-size: 16px;
      }
      .more {
        display: none;
      }
    }
  } // .products-link

  .articles-link {
    margin-top: 40px;
    @media (max-width: $sp) {
      margin-top: 20px;
    }
  }
} // .category-related

// 子カテゴリトップの関連商品・記事
.category-child-product-link {
  margin: 80px auto 0;
  max-width: 100%;
  width: 920px;
}

.category-related-child {
  //
} // .category-related-child

// see more
.view-all {
  .button-arrow {
    @media (min-width: $tab) {
      display: flex;
      justify-content: space-between;
      margin-left: auto;
    }
  }
}
