@charset "UTF-8";

/* IndexPage (topのみ)
--------------------------------------------------------------------------------------------*/

// style/compressed/main.min.cssからのrootへの相対
$root-path: "../..";
$menu-animation-duration: 0.3s;

@import "./@import/config";
@import "./@import/button";
@import "./@import/post-card";

#index {
  // FV
  .hero {
    position: relative;

    // スライドショー
    &__slide {
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      position: relative;
      width: 100%;

      picture {
        &:nth-of-type(1) {
          img {
            animation-delay: 0s;
          }
        }
        &:nth-of-type(2) {
          img {
            animation-delay: 5s;
          }
        }
        &:nth-of-type(3) {
          img {
            animation-delay: 10s;
          }
        }
        &:nth-of-type(4) {
          img {
            animation-delay: 15s;
          }
        }
      }
      img {
        animation: slideAnime 20s ease infinite;
        display: block;
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center center;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      @keyframes slideAnime {
        0% {
          opacity: 0;
        }
        // 1s時点
        5% {
          opacity: 1;
        }
        // 4s時点
        25% {
          opacity: 1;
        }
        30% {
          opacity: 0;
        }
        // 20s時点
        100% {
          opacity: 0;
        }
      }

      // filter代わり
      &::before {
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 0;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }

    // 見出し
    &__heading {
      bottom: 25%;
      color: #fff;
      font-size: 100px;
      font-style: italic;
      left: 40px;
      line-height: 1;
      position: absolute;
      z-index: 2;
      @media (max-width: $pc) {
        font-size: px-to-vw(100);
      }
      @media (max-width: $sp) {
        bottom: 15%;
        @include sp-font-vw(150);
        left: 20px;
      }
      .small {
        display: block;
        font-size: 30px;
        font-style: normal;
        letter-spacing: 5px;
        margin-top: 35px;
        @media (max-width: $pc) {
          font-size: px-to-vw(30);
        }
        @media (max-width: $sp) {
          @include sp-font-vw(30);
          margin-top: 1.5em;
        }
      }
    }

    &__news {
      align-items: center;
      background: rgba(0, 0, 0, 0.7);
      bottom: 0;
      display: flex;
      font-size: 14px;
      min-width: 800px;
      padding: 25px 50px;
      position: absolute;
      z-index: 1;
      @media (max-width: 800px) {
        min-width: inherit;
        width: 100%;
      }
      @media (max-width: $sp) {
        padding: px-to-vw(25) 0;
        width: 100%;
      }

      &--title {
        font-size: 18px;
      }
      &--date {
        margin-left: 30px;
        @media (max-width: $sp) {
          margin-left: px-to-vw(30);
        }
      }
      &--postTitle {
        margin-left: 5px;
        @media (max-width: $sp) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 60%;
        }
      }
      &--link {
        @media (min-width: $tab) {
          margin-left: auto;
        }
        @media (max-width: $sp) {
          align-items: center;
          display: flex;
          height: 100%;
          justify-content: center;
          padding: 0 15px 0 10px;
          position: absolute;
          right: 0;
          top: 0;
        }

        .arrow {
          @media (max-width: $sp) {
            margin-left: 0;
          }
        }
      }
    }
  } // END FV

  // 提携企業一覧
  .case {
    padding: 60px 0 100px;
    @media (max-width: $sp) {
      padding: px-to-vw(60) 0 px-to-vw(100);
    }

    &__list {
      animation: case_slide 100s linear infinite;
      background: left top / cover url(#{$root-path}/images/top/case-list.png) repeat-x;
      height: 50px;
      will-change: animation;
    }
  }

  @keyframes case_slide {
    100% {
      background-position: -5383px 0;
    }
  } // END 提携企業一覧

  // 手のひらから宇宙まで
  .lead {
    align-items: center;
    background: center top / cover url(#{$root-path}/images/top/lead-background.png) no-repeat;
    display: flex;
    justify-content: center;
    padding: 220px 0 0;
    @media (max-width: $sp) {
      background-size: contain;
      padding: px-to-vw(200) 0 px-to-vw(85);
    }

    &__heading {
      font-size: 44px;
      font-weight: 100;
      letter-spacing: 3px;
      text-align: center;
      @media (max-width: $sp) {
        @include sp-font-vw(60);
      }
    }

    &__text {
      font-size: 20px;
      margin-top: 30px;
      @media (max-width: $sp) {
        font-size: 17px;
        margin-top: 20px;
      }
    }

    &__achievement {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      @media (max-width: $sp) {
        @include sp-font-vw(30);
        margin-top: 30px;
      }

      .block {
        align-items: flex-end;
        display: flex;
        line-height: 1;
        @media (max-width: $sp) {
          align-items: center;
          flex-direction: column;
        }
        &:not(:first-child) {
          margin-left: 90px;
          @media (max-width: $pc) {
            margin-left: px-to-vw(90);
          }
          @media (max-width: $sp) {
            margin-left: 0;
          }
        }

        &__left {
          font-size: 22px;
          text-align: left;
          @media (max-width: $pc) {
            font-size: px-to-vw(22);
          }
          @media (max-width: $sp) {
            font-size: 14px;
            text-align: center;
            .sp-inlineBlock {
              display: inline-block;
            }
          }
          img {
            display: inline-block;
            vertical-align: bottom;
            @media (max-width: $sp) {
              height: 25px;
              width: auto;
            }
          }
        }
        &__right {
          flex-grow: 1;
          margin-left: 15px;
          @media (max-width: $sp) {
            margin-left: 0;
            margin-top: 10px;
          }
          .big {
            display: inline-block;
            img {
              display: inline-block;
              height: 50px;
              @media (max-width: $pc) {
                height: 5vw;
              }
            }
          }
          .small {
            font-size: 22px;
            @media (max-width: $sp) {
              font-size: 16px;
            }
          }
        }
      } // block
    } // lead__achievement
    .lead__button {
      .button-arrow {
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        width: 270px;
        @media (max-width: $sp) {
          justify-content: space-between;
          width: 100%;
        }

        .arrow {
          margin-left: 30px;
        }
      }
    }
    .button {
      @media (max-width: $sp) {
        margin-top: 30px;
        width: 100%;
      }
    }
  } // END 手のひらから宇宙まで

  .lead__background {
    background: center top / cover url(#{$root-path}/images/top/lead-background2.png) no-repeat;
    margin-bottom: 100px;
    margin-top: -50px;
    padding: 50px 0;
    @media (max-width: $sp) {
      background-position: left center;
      margin-bottom: 40px;
      margin-top: -20px;
      padding: 30px 0;
    }
  }

  // メニュー
  .menu {
    height: 508px;
    position: relative;
    @media (max-width: $pc) {
      height: px-to-vw(508); // 508pxを1080px(containerのmax横幅)以下でvw化
    }
    @media (max-width: $sp) {
      height: auto;
    }

    .container {
      height: 100%;
      overflow: hidden;
      @media (max-width: $pc) {
        width: 100%;
      }
      @media (max-width: $sp) {
        width: 100%;
      }

      & > ul {
        @media (max-width: $sp) {
          display: flex;
          flex-wrap: wrap;
          & > li.diamond {
            &:nth-child(1) {
              order: 1;
            }
            &:nth-child(2) {
              order: 4;
            }
            &:nth-child(3) {
              order: 5;
            }
            &:nth-child(4) {
              order: 2;
            }
            &:nth-child(5) {
              order: 3;
            }
          }
        }
      }
    }

    .diamond {
      cursor: pointer;

      // 768px 〜 ひし形
      @media (min-width: $tab) {
        height: 226.27416998px; // 320px / √2
        margin: auto;
        overflow: hidden; // はみ出た背景画像削除
        position: absolute;
        transform: rotate(45deg);
        transform-origin: 50% 50%;
        width: 226.27416998px; // 320px / √2
      }
      @media (max-width: $pc) {
        height: px-to-vw(226); // 226pxを1080px(containerのmax横幅)以下でvw化
        width: px-to-vw(226); // 226pxを1080px(containerのmax横幅)以下でvw化
      }
      // 〜 768 長方形
      @media (max-width: $sp) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        height: 80px;
        position: relative;
        width: 100%;
      }

      // ひし型メニューの背景画像
      &::before {
        background: center / contain #fff no-repeat;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        @media (min-width: $tab) {
          left: 60px;
          top: 60px;
          transform: rotate(-45deg);
          transition: $menu-animation-duration all;
          will-change: transform;
        }
        @media (max-width: $sp) {
          background-position: 90% 20px;
        }
      }

      // フィルター
      .filter {
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
      }

      // .diamond 位置調整
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        top: 45px;
        @media (max-width: $pc) {
          top: px-to-vw(45); // 235pxを1080px(containerのmax横幅)以下でvw化;
        }
      }
      &:nth-child(4),
      &:nth-child(5) {
        bottom: 45px;
        left: 0;
        right: 0;
        @media (max-width: $pc) {
          bottom: px-to-vw(45); // 45pxを1080px(containerのmax横幅)以下でvw化
        }
      }
      &:nth-child(1) {
        left: 45px;
        @media (max-width: $pc) {
          left: px-to-vw(45); // 45pxを1080px(containerのmax横幅)以下でvw化
        }
        @media (max-width: $sp) {
          left: 0;
          top: 0;
        }

        // 背景画像
        &::before {
          background-image: url(#{$root-path}/images/top/menu-background/01.png);
        }
      }
      &:nth-child(2) {
        left: 0;
        right: 0;
        @media (max-width: $sp) {
          left: 0;
          top: 0;
        }

        // 背景画像
        &::before {
          background-image: url(#{$root-path}/images/top/menu-background/02.png);
        }
      }
      &:nth-child(3) {
        right: 45px;
        @media (max-width: $pc) {
          right: px-to-vw(45); // 45pxを1080px(containerのmax横幅)以下でvw化
        }
        @media (max-width: $sp) {
          left: 0;
          top: 0;
        }

        // 背景画像
        &::before {
          background-image: url(#{$root-path}/images/top/menu-background/03.png);
        }
      }
      &:nth-child(4) {
        margin-left: calc(45px + 160px + 30px); // left位置 + ひし形の半分 + 余白
        @media (max-width: $pc) {
          margin-left: px-to-vw(235); // 235pxを1080px(containerのmax横幅)以下でvw化
        }
        @media (max-width: $sp) {
          left: 0;
          margin-left: 0;
          top: 0;
        }

        // 背景画像
        &::before {
          background-image: url(#{$root-path}/images/top/menu-background/04.png);
        }
      }
      &:nth-child(5) {
        margin-right: calc(45px + 160px + 30px); // right位置 + ひし形の半分 + 余白
        @media (max-width: $pc) {
          margin-right: px-to-vw(235); // 235pxを1080px(containerのmax横幅)以下でvw化
        }
        @media (max-width: $sp) {
          left: 0;
          margin-right: 0;
          top: 0;
        }

        // 背景画像
        &::before {
          background-image: url(#{$root-path}/images/top/menu-background/05.png);
        }
      }

      & > a {
        display: block;
        height: 100%;
        position: relative;
        z-index: 4;

        .diamond__inner {
          height: 100%;
          position: absolute;
          width: 100%;

          & > div {
            @media (min-width: $tab) {
              height: 100%;
              left: 0;
              margin: auto;
              padding-top: 35px;
              position: absolute;
              right: 0;
              top: 0;
              transform: rotate(-45deg);
              width: 70%;
            }
            @media (max-width: $pc) {
              padding-top: px-to-vw(35); // 35pxを1080px(containerのmax横幅)以下でvw化
            }
            @media (max-width: $sp) {
              padding: 0 20px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }

            .diamond__title {
              font-size: 30px;
              line-height: 1.2;
              @media (max-width: $pc) {
                font-size: px-to-vw(30); // 30pxを1080px(containerのmax横幅)以下でvw化
              }
              @media (max-width: $sp) {
                display: inline-block;
                @include sp-font-vw(35);
              }
            }
            .diamond__titleSub {
              font-size: 14px;
              margin-top: 8px;
              @media (max-width: $pc) {
                font-size: px-to-vw(14);
                margin-top: px-to-vw(8); // 8pxを1080px(containerのmax横幅)以下でvw化
              }
              @media (max-width: $sp) {
                display: inline-block;
                font-size: 12px;
              }
            }
          }
          .diamond__icon {
            margin: auto;
            position: absolute;
            @media (min-width: $tab) {
              bottom: -10px;
              left: 0;
              right: 0;
              transition: $menu-animation-duration all;
            }
            @media (max-width: $sp) {
              bottom: 0;
              right: 10px;
              top: 0;
            }
          }
        }
      } // a

      // hover時、赤く染まる挙動
      @media (min-width: $tab) {
        // hover時アニメーション類(769px~)

        // .diamond::after(赤い円)
        &::after {
          animation: circleRedOut $menu-animation-duration ease-in-out both;
          background: rgba(235, 41, 54, 0.6);
          border-radius: 50%;
          content: "";
          height: 100%;
          @include centeringMargin;
          position: absolute;
          transform: scale(0);
          width: 100%;
          will-change: transform;
          z-index: 3;
        }

        &:hover {
          // .diamond::before
          &::before {
            transform: rotate(-45deg) translateY(-10px);
          }
          // .diamond::after
          &::after {
            animation: circleRed 0.3s ease-in-out both;
          }

          a div .diamond__icon {
            bottom: -15px;
          }
        }
        // hover時赤い円挙動
        @keyframes circleRed {
          0% {
            transform: scale(0);
          }
          100% {
            transform: scale(1.5);
          }
        }
        // hover解除時赤い円挙動
        @keyframes circleRedOut {
          0% {
            transform: scale(1.5);
          }
          100% {
            transform: scale(0);
          }
        }
      }
    } // diamond
  } //END メニュー

  // セクション内共通スタイル
  .detail {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    // 左側が画像
    &-reverse {
      .detail__text {
        order: 2;
        @media (max-width: $sp) {
          order: 1; // SPではテキストが上
        }
      }
      .detail__image {
        order: 1;
        @media (max-width: $sp) {
          order: 2; // SPでは画像が下
        }
        img {
          margin-left: -60px;
          margin-right: auto;

          @media (max-width: $pc) {
            margin-left: -10px;
          }
          @media (max-width: $sp) {
            margin: 30px auto 0;
          }
        }
      }
    } // -reverse

    &__image,
    &__text {
      width: 50%;
      @media (max-width: $sp) {
        width: 100%;
      }
    }

    &__image {
      img {
        margin-left: auto;
        margin-right: -60px;
        max-width: 500px;
        width: 100%;

        @media (max-width: $pc) {
          margin-right: -10px;
        }
        @media (max-width: $sp) {
          margin: 30px auto 0;
        }
      }
    } // __image

    &__text {
      &--heading {
        &En {
          font-size: 72px;
          font-weight: bold;
          line-height: 1;
          transform: scale(0.9, 1);
          transform-origin: top left;
          width: 125%;
          @media (max-width: $sp) {
            @include sp-font-vw(100);
            transform: none;
          }

          // 切り抜き文字
          .decoration {
            color: #fff;
            display: inline-block;
            position: relative;

            &__o,
            &__a,
            &__s,
            &__w {
              outline: 2px solid #fff;
              outline-offset: -1px;

              @media (max-width: $sp) {
                outline: px-to-vw(8) solid #fff;
                outline-offset: px-to-vw(-4);
              }
            }

            &__o {
              box-shadow: 4px 11px 0 0 #fff inset, -4px -12px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
              @media (max-width: $sp) {
                box-shadow: 0.5vw 1.9vw 0 0 #fff inset, -0.9vw -1.9vw 0 0 #fff inset, -0.1vw -0.1vw 0 0 #fff, 0.1vw 0.1vw 0 0 #fff;
              }
            }
            &__a {
              box-shadow: 2px 11px 0 0 #fff inset, -2px -10px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
              @media (max-width: $sp) {
                box-shadow: 0.3vw 2.3vw 0 0 #fff inset, -0.8vw -1.9vw 0 0 #fff inset, -0.1vw -0.1vw 0 0 #fff, 0.1vw 0.1vw 0 0 #fff;
              }
            }
            &__s {
              box-shadow: 3px 10px 0 0 #fff inset, -3px -12px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
              @media (max-width: $sp) {
                box-shadow: 0.4vw 1.8vw 0 0 #fff inset, -0.9vw -2vw 0 0 #fff inset, -0.1vw -0.1vw 0 0 #fff, 0.1vw 0.1vw 0 0 #fff;
              }
            }
            &__w {
              box-shadow: 2px 11px 0 0 #fff inset, -2px -9px 0 0 #fff inset, -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
              @media (max-width: $sp) {
                box-shadow: 0.3vw 1.7vw 0 0 #fff inset, -0.8vw -2.1vw 0 0 #fff inset, -0.1vw -0.1vw 0 0 #fff, 0.1vw 0.1vw 0 0 #fff;
              }
            }
          }
        }
        &Jp {
          color: $c-gray;
          font-size: 20px;
          margin-top: 30px;
          @media (max-width: $sp) {
            @include sp-font-vw(30);
            margin-top: 1em;
          }
        }
        &Sub {
          font-size: 35px;
          font-weight: bold;
          line-height: 1;
          margin-top: 60px;
          @media (max-width: $sp) {
            @include sp-font-vw(40);
            line-height: 1.8;
            margin-top: 1.5em;
          }
        }
      }
      &--description {
        line-height: 2;
        margin-top: 30px;
        @media (max-width: $sp) {
          margin-top: 1.5em;
        }
      }
    } // __text
  } // detail

  .products {
    margin-top: 110px;
    @media (max-width: $sp) {
      margin-top: 30px;
    }

    .post-card-product .more span {
      @media (max-width: $sp) {
        display: none;
      }
    }
  }

  .view-all {
    &__right {
      .button-arrow {
        margin-left: auto;
      }
    }
    .arrow {
      margin-left: 60px;
    }
  }

  // セクション内共通スタイル

  // セクション内非共通スタイル

  .mold,
  .sand-casting,
  .investment-casting,
  .jewelry,
  .new-field {
    margin-top: 100px;
    overflow-x: hidden; // sectionの画像ちょい右にはみ出てるやつ
  }

  .section__background {
    background: url(#{$root-path}/images/top/section-background.svg) no-repeat;
    background-position-y: bottom;
    background-size: 1200px;

    // 右側にくる方
    &--right {
      background-position: right -600px bottom;
      @media (max-width: $pc) {
        background-position-x: 150%;
        background-size: 75%;
      }
      @media (max-width: $sp) {
        background-position: 40vw 50%;
        background-size: 150%;
      }
    } // 右側にくる方

    // 左側にくる方
    &--left {
      background-position: left -600px bottom;
      @media (max-width: $pc) {
        background-position-x: -50%;
        background-size: 75%;
      }
      @media (max-width: $sp) {
        background-position: -100vw bottom;
        background-size: 150%;
      }
    } // 左側にくる方
  } // section__background

  .new-field {
    .detail {
      align-items: flex-start;

      &__image img {
        @media (min-width: $tab) {
          margin-right: 0;
          padding-left: 60px;
        }
      }
    }
  }
}
