@charset "UTF-8";

/* IndexPage (topのみ)
--------------------------------------------------------------------------------------------*/

// style/compressed/main.min.cssからのrootへの相対
$root-path: '../..';

// slide showの枚数
$slide-duration: 5s;
$slide-count-hero: 4;
$slide-count-mold: 3;
$slide-count-sand_casting: 4;
$slide-count-investment_casting: 3;
$slide-count-jewelry: 3;
$slide-count-new_field: 2;

@import './@import/config';
@import './@import/button';
@import './@import/post-card';
@import './@import/scroll-animation';
@import './@import/slide-animation';
@import './@import/fv-animation';

#index {
  // 菱形メニュー
  @import './@import/diamond-menu';

  .scroll-snap {
    overflow: scroll;
    scroll-snap-type: y mandatory;

    &__item {
      scroll-snap-align: start;
    }
  }

  // FV
  .hero {
    position: relative;

    // スライドショー
    &__slide {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);

      .slide-animation__image {
        animation-duration: $slide-duration * $slide-count-hero;
      }

      // filter代わり
      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        content: '';
      }
    }

    // 見出し
    &__heading {
      position: absolute;
      bottom: 25%;
      left: 40px;
      z-index: 2;
      overflow: hidden;
      line-height: 1;
      svg {
        width: 52vw;
      }
      @media (max-width: $sp) {
        bottom: 15%;
        left: 20px;
        @include sp-font-vw(150);

        svg {
          width: 80vw;
        }
      }
      // モノづくりに無限の可能性を
      .small {
        display: block;
        margin-top: 35px;
        color: #fff;
        font-size: 30px;
        font-style: normal;
        letter-spacing: 5px;
        @media (max-width: $pc) {
          font-size: px-to-vw(30);
        }
        @media (max-width: $sp) {
          @include sp-font-vw(30);
          margin-top: 1.5em;
        }
      }
      &--animation {
        position: relative;
        animation: fadeUp 0.2s both;

        &:nth-of-type(1) {
          animation-delay: 0.3s;
        }
        &:nth-of-type(2) {
          animation-duration: 0.3s;
          animation-delay: 0.4s;
        }
      }

      @keyframes fadeUp {
        0% {
          bottom: -150px;
        }
        100% {
          bottom: 0;
        }
      }
    } // __heading

    &__news {
      position: absolute;
      bottom: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      min-width: 800px;
      padding: 25px 50px;
      font-size: 14px;
      background: rgba(0, 0, 0, 0.7);
      .swiper-news-container {
        max-width: 400px;
        overflow: hidden;
      }
      @media (max-width: 800px) {
        width: 100%;
        min-width: inherit;
      }
      @media (max-width: $sp) {
        width: 100%;
        padding: px-to-vw(25) 0;
      }

      &--title {
        font-size: 18px;
      }
      &--date {
        margin-left: 30px;
        @media (max-width: $sp) {
          margin-left: px-to-vw(30);
        }
      }
      &--postTitle {
        @media (max-width: $sp) {
          width: 60%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      &--postTitle span {
        margin-left: 5px;
      }
      &--link {
        @media (min-width: $tab) {
          margin-left: auto;
        }
        @media (max-width: $sp) {
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0 15px 0 10px;
        }

        .arrow {
          @media (max-width: $sp) {
            margin-left: 0;
          }
        }
      }
    }
  } // END FV

  // 提携企業一覧
  .case {
    padding: 60px 0 100px;
    @media (max-width: $sp) {
      padding: px-to-vw(60) 0 px-to-vw(100);
    }

    &__list {
      height: 50px;
      background: left top / cover url(#{$root-path}/images/top/case-list.png)
        repeat-x;
      animation: case_slide 50s linear infinite;
      will-change: animation;
    }
  }

  @keyframes case_slide {
    100% {
      background-position: -5383px 0;
    }
  } // END 提携企業一覧

  // 手のひらから宇宙まで
  .lead {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 220px 0 0;
    background: center top / cover
      url(#{$root-path}/images/top/lead-background.png) no-repeat;
    @media (max-width: $sp) {
      padding: px-to-vw(200) 0 px-to-vw(85);
      background-size: contain;
    }

    &__heading {
      font-weight: 100;
      font-size: 44px;
      letter-spacing: 3px;
      text-align: center;
      @media (max-width: $sp) {
        @include sp-font-vw(60);
      }
    }

    &__text {
      margin-top: 30px;
      font-size: 20px;
      @media (max-width: $sp) {
        margin-top: 20px;
        font-size: 17px;
      }
    }

    &__achievement {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      @media (max-width: $sp) {
        @include sp-font-vw(30);
        margin-top: 30px;
      }

      .block {
        display: flex;
        align-items: flex-end;
        line-height: 1;
        @media (max-width: $sp) {
          flex-direction: column;
          align-items: center;
        }
        &:not(:first-child) {
          margin-left: 90px;
          @media (max-width: $pc) {
            margin-left: px-to-vw(90);
          }
          @media (max-width: $sp) {
            margin-left: 0;
          }
        }

        &__left {
          font-size: 22px;
          text-align: left;
          @media (max-width: $pc) {
            font-size: px-to-vw(22);
          }
          @media (max-width: $sp) {
            font-size: 14px;
            text-align: center;
            .sp-inlineBlock {
              display: inline-block;
            }
          }
          img {
            display: inline-block;
            vertical-align: bottom;
            @media (max-width: $sp) {
              width: auto;
              height: 25px;
            }
          }
        }
        &__right {
          flex-grow: 1;
          margin-left: 15px;
          @media (max-width: $sp) {
            margin-top: 10px;
            margin-left: 0;
          }
          .big {
            display: inline-block;
            img {
              display: inline-block;
              height: 50px;
              @media (max-width: $pc) {
                height: 5vw;
              }
            }
          }
          .small {
            font-size: 22px;
            @media (max-width: $sp) {
              font-size: 16px;
            }
          }
        }
      } // block
    } // lead__achievement
    .lead__button {
      .button-arrow {
        width: 270px;
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
        @media (max-width: $sp) {
          justify-content: space-between;
          width: 100%;
        }

        .arrow {
          margin-left: 30px;
        }
      }
    }
    .button {
      @media (max-width: $sp) {
        width: 100%;
        margin-top: 30px;
      }
    }
  } // END 手のひらから宇宙まで

  .lead__background {
    height: 100px;
    margin-top: -50px;
    margin-bottom: 100px;
    background: left top / cover
      url(#{$root-path}/images/top/lead-background2.png) repeat-x;
    animation: lead_slide 100s linear infinite;
    @media (max-width: $sp) {
      height: 60px;
      margin-top: -20px;
      margin-bottom: 40px;
    }
    @keyframes lead_slide {
      100% {
        background-position: -2210px 0;
      }
    }
  }

  // セクション内共通スタイル
  .detail {
    &__image {
      .swiper-slide {
        height: auto;
        opacity: 0 !important; // swiperのインラインスタイル打ち消しのため
        transition: opacity 0.3s;
        &.swiper-slide-active {
          opacity: 1 !important; // 上の!important 打ち消しのため
        }

        @media (max-width: $sp) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      img {
        width: 100%;
        max-width: 600px;
        height: 100%;
        max-height: 500px;
        object-fit: contain;
        @media (max-width: $sp) {
          max-height: 300px;
        }
      }
    }
  }

  .detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // 左側が画像
    &-reverse {
      .detail__text {
        order: 2;
        @media (max-width: $sp) {
          order: 1; // SPではテキストが上
        }
      }
      .detail__image {
        order: 1;
        margin-right: auto;
        margin-left: -60px;
        @media (max-width: $pc) {
          margin-left: -10px;
        }
        @media (max-width: $sp) {
          order: 2; // SPでは画像が下
          margin: 30px auto 0;
        }
      }
    } // -reverse

    &__text {
      width: 45%;
    }

    &__image {
      width: 55%;
    }

    &__text,
    &__image {
      @media (max-width: $sp) {
        width: 100%;
      }
    }

    &__image {
      margin-right: -60px;
      margin-left: auto;
      img {
        margin-left: auto;
      }

      @media (max-width: $pc) {
        margin-right: -10px;
      }
      @media (max-width: $sp) {
        margin: 30px auto 0;
        img {
          margin: auto;
        }
      }
    } // __image

    &__text {
      &--heading {
        &En {
          width: 120%;
          font-weight: bold;
          font-size: 72px;
          line-height: 1;
          transform: scale(0.9, 1);
          transform-origin: top left;
          @media (max-width: $sp) {
            @include sp-font-vw(100);
            width: 100%;
            transform: none;
          }

          // 切り抜き文字
          .decoration {
            position: relative;
            display: inline-block;
            color: #fff;

            &__o,
            &__a,
            &__s,
            &__w {
              outline: 2px solid #fff;
              outline-offset: -1px;

              @media (max-width: $sp) {
                outline: px-to-vw(8) solid #fff;
                outline-offset: px-to-vw(-4);
              }
            }

            &__o {
              box-shadow: 4px 8px 0 0 #fff inset, -4px -12px 0 0 #fff inset,
                -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
              @media (max-width: $sp) {
                box-shadow: px-to-vw(4) px-to-vw(18) 0 0 #fff inset,
                  px-to-vw(-4) px-to-vw(-22) 0 0 #fff inset,
                  px-to-vw(-1) px-to-vw(-1) 0 0 #fff,
                  px-to-vw(1) px-to-vw(1) 0 0 #fff;
              }
            }
            &__a {
              box-shadow: 2px 9px 0 0 #fff inset, -2px -12px 0 0 #fff inset,
                -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
              @media (max-width: $sp) {
                box-shadow: px-to-vw(4) px-to-vw(18) 0 0 #fff inset,
                  px-to-vw(-4) px-to-vw(-23) 0 0 #fff inset,
                  px-to-vw(-1) px-to-vw(-1) 0 0 #fff,
                  px-to-vw(1) px-to-vw(1) 0 0 #fff;
              }
            }
            &__s {
              box-shadow: 3px 8px 0 0 #fff inset, -3px -12px 0 0 #fff inset,
                -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
              @media (max-width: $sp) {
                box-shadow: px-to-vw(4) px-to-vw(18) 0 0 #fff inset,
                  px-to-vw(-4) px-to-vw(-22) 0 0 #fff inset,
                  px-to-vw(-1) px-to-vw(-1) 0 0 #fff,
                  px-to-vw(1) px-to-vw(1) 0 0 #fff;
              }
            }
            &__w {
              box-shadow: 2px 9px 0 0 #fff inset, -2px -12px 0 0 #fff inset,
                -1px -1px 0 0 #fff, 1px 1px 0 0 #fff;
              @media (max-width: $sp) {
                box-shadow: px-to-vw(4) px-to-vw(19) 0 0 #fff inset,
                  px-to-vw(-4) px-to-vw(-23) 0 0 #fff inset,
                  px-to-vw(-1) px-to-vw(-1) 0 0 #fff,
                  px-to-vw(1) px-to-vw(1) 0 0 #fff;
              }
            }
          }
        }
        &Jp {
          margin-top: 30px;
          color: $c-gray;
          font-size: 20px;
          @media (max-width: $sp) {
            @include sp-font-vw(30);
            margin-top: 1em;
          }
        }
        &Sub {
          margin-top: 60px;
          font-weight: 600;
          font-size: 35px;
          line-height: 1.8;
          @media (max-width: $sp) {
            @include sp-font-vw(40);
            margin-top: 1.5em;
          }
        }
      }
      &--description {
        margin-top: 30px;
        font-weight: 400;
        line-height: 2;
        @media (max-width: $sp) {
          margin-top: 1.5em;
        }
      }
    } // __text
  } // detail

  .products {
    margin-top: 110px;
    @media (max-width: $sp) {
      margin-top: 30px;
    }

    .post-card-product .more span {
      @media (max-width: $sp) {
        display: none;
      }
    }
  }

  .view-all {
    &__right {
      .button-arrow {
        margin-left: auto;
      }
    }
    .arrow {
      margin-left: 60px;
    }
  }

  // セクション内共通スタイル

  // セクション内非共通スタイル

  .mold,
  .sand-casting,
  .investment-casting,
  .jewelry,
  .new-field {
    margin-top: 100px;
    overflow-x: hidden; // sectionの画像ちょい右にはみ出てるやつ
  }

  .section__background {
    background: url(#{$root-path}/images/top/section-background.svg) no-repeat;
    background-position-y: bottom;
    background-size: 1200px;

    // 右側にくる方
    &--right {
      background-position: right -600px bottom;
      @media (max-width: $pc) {
        background-position-x: 150%;
        background-size: 75%;
      }
      @media (max-width: $sp) {
        background-position: 40vw 50%;
        background-size: 150%;
      }
    } // 右側にくる方

    // 左側にくる方
    &--left {
      background-position: left -600px bottom;
      @media (max-width: $pc) {
        background-position-x: -50%;
        background-size: 75%;
      }
      @media (max-width: $sp) {
        background-position: -100vw bottom;
        background-size: 150%;
      }
    } // 左側にくる方
  } // section__background

  .new-field {
    .detail {
      align-items: flex-start;

      &__image {
        @media (min-width: $tab) {
          margin-right: 0;
          padding-left: 60px;
        }
      }
    }
  }
}
